<% pageInfo = {
    data:{
        title:'404 Not Found',
        description:'リクエスト頂いたページが見当たりません',
        keywords:'',
        fileName:'404',
        pageType:'page'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<div class="notFound404">

<p>株式会社ライフエスコートのサイトへお越しいただき、ありがとうございます。<br>誠に申し訳ございませんが、お探しのページまたはファイルが見つかりませんでした。</p>
<p><a href="/">トップページ</a>へお戻りいただくか、お時間がありましたら、海外キャンペーン事例やEC集客・売上アップ情報をご覧ください。少しでもあなたの貴重な時間が有益なものになりますように・・・</p>


<h2>最新情報</h2>
<ul class="release">
    <li>
        <h3>海外キャンペーン事例</h3>
        <div id="wp_support"></div>
    </li>
    <li>
        <h3>ECノウハウレポート</h3>
        <div id="wp_knowhow"></div>
        <div id="wp_topic"></div>
    </li>
    <li>
        <h3>プレスルーム</h3>
        <%- include('../include/press-news-list.ejs',pageInfo) %>
        <div id="wp_message"></div>
    </li>
</ul>
<p class="btn" style="display:block;overflow:hidden;"><a href="/press-release.html" style="float:none;margin:auto;">さらに情報を見る</a></p>


<h2>問題点についてお知らせ下さい</h2>
<p>大変お手数ですが<a href="/form/inquiry_corp.php">こちらのフォーム</a>にてリンクが無効になっていたページのURL等などをお知らせ下さい。<br>いただきました情報を参考に対応させて頂きます。</p>
<ul class="attention">
    <li>上記の対応はwww.life-escort.co.jp内のリンク無効に限らせて頂いております。<br>弊社以外の他サイトからwww.life-escort.co.jp内に張られたリンクで無効になっているものについての対応はご容赦ください。</li>
    <li>ご記入いただいた情報はライフエスコート以外の第三者が使用することはございません。<br>個人情報は問題点についてのご連絡のみに使用いたします。その他の情報は問題点修正の参考にさせていただきます。</li>
</ul>


<h2 class="spHide">ライフエスコートの各種サービス</h2>
<%- include('../include/service-slider.ejs',pageInfo) %>

<%# <div id="contents_service" class="wide">%>
<%# include('../include/service-list.ejs',pageInfo) %>
<%# </div>%>


<h2>納品完了で終わらせない<br>ライフエスコートの成功事例</h2>
<%- include('../include/jirei-slider.ejs',pageInfo) %>



</div>
<%- include('../include/footer.ejs',pageInfo) %>
