<% pageInfo = {
    data:{
        title:'株式会社ライフエスコートの実績一覧｜EC売上アップ',
        description:'EC売上アップ戦略を提案する株式会社ライフエスコートの実績。',
        keywords:'EC,コンサル,実績,事例,撮影,制作,メルマガ,LINE,運用,サポート,リニューアル,マーケティング',
        fileName:'',
        pageType:'page'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<style>
    #contents_recently .case{padding-bottom:30px;}
</style>
                <nav id="left_contents">
                    <h1>これまでの実績<small>WORKS</small></h1>
                    <ul>
                        <li><a href="#contents_recently">01<strong>最近の実績</strong></a></li>
                        <li><a href="#contents_example">02<strong>事例紹介</strong></a></li>
                        <li><a href="#contents_past">03<strong>過去の実績</strong></a></li>
                    </ul>
                </nav>

                <section id="maincontents">
                  <div id="contents_recently" class="contents">
                    <h2><span class="ribon">01</span>最近の実績<small></small></h2>
                    <!--<p class="txt2">弊社で作成させて頂きました、制作実績の一部をご紹介します。<br>一部掲載会員様限定にしか公開させていただいていないものもございます。この機会にご登録くださいませ。
                    </p>-->

                    <div class="case">
                     <h3 class="phone">LINE運用フルサポート</h3>
                     <div class="summary">LINE公式アカウントのスタートアップ～配信コンテンツの制作進行管理、KPIレポートをもとにした施策提案等、一連の運用をフルサポートしています。LINE運用はタスクが多く、社内では対応しきれない、運用ノウハウがなくて困っているという企業様からご好評いただいております。</div>
                     <dl>
                       <dt>株式会社マックハウス<em>様</em></dt>
                       <dd>LINE公式アカウント</dd>
                       <dd>
                         <a href="works_mh_line.html">
                           <img class="rep on" src="img/accomplishment_img_mh_line_on.png" alt="株式会社マックハウス&nbsp;LINE公式アカウント"/>
                           <img class="rep off" src="img/accomplishment_img_mh_line_off.png" alt="株式会社マックハウス&nbsp;LINE公式アカウント"/>
                         </a>
                       </dd>
                     </dl>
                     <div class="summary"><a href="https://www.line-consulting.com/" target="_blank" style="width:auto;line-height:1.4;padding:10px 40px;max-width:460px;"><strong>5000いいね事例研究レポート無料公開中！</strong><br>サポート内容・費用の詳細はこちら</a></div>
                    </div>
                    <div class="case" id="consulting_support">
                     <h3 class="all">ECコンサル＆フルサポート</h3>
                     <div class="summary">コンサルティング～プロモーション～システム開発～撮影～制作～メルマガ～運用～レポート～改善、すべてのノウハウを持っているからこそできる完全フルサポートをご提供。また、自社サイトはもちろん、各モールへの出店・リニューアル～運用、コンサルティングも実施しています。</div>
                     <dl>
                       <dt>株式会社マックハウス<em>様</em></dt>
                       <dd>オンラインショップ</dd>
                       <dd>
                         <a href="works_mh_ecsupport.html">
                           <img class="rep on" src="img/accomplishment_img_mh_store_on.png" alt="株式会社マックハウス&nbsp;オンラインショップ"/>
                           <img class="rep off" src="img/accomplishment_img_mh_store_off.png" alt="株式会社マックハウス&nbsp;オンラインショップ"/>
                         </a>
                       </dd>
                     </dl>
                     <dl>
                       <dt>株式会社チヨダ<em>様</em></dt>
                       <dd>SHOE・PLAZA（オンラインショップ）</dd>
                       <dd>
                         <a href="http://store.chiyodagrp.co.jp/" target="new">
                           <img class="rep on" src="img/accomplishment_img_shoeplaza_on.png" alt="株式会社チヨダ&nbsp;SHOE・PLAZAオンラインショップ"/>
                           <img class="rep off" src="img/accomplishment_img_shoeplaza_off.png" alt="株式会社チヨダ&nbsp;SHOE・PLAZAオンラインショップ"/>
                         </a>
                       </dd>
                     </dl>
                     <div class="summary"><a href="/service.html" style="width:auto;line-height:1.4;padding:10px 40px;max-width:460px;"><strong>コスト見直し・EC売上アップにお困りの方へ</strong><br>ECコンサル＆フルサポートサービスを詳しく見る</a></div>
                    </div>
                    <div class="case">
                      <h3>撮影・採寸・原稿作成</h3>
                      <div class="summary">ECにおいて、商品写真は売上に大きく影響を与える大切な要素です。ライフエスコートは、都内に複数の自社スタジオを持ち、商品画像だけでなく、利用シーンをイメージすることができる画像やモデルカット、動画の撮影も行っています。また、撮影業務とともに、採寸、原稿作成にも対応しています。</div>
                      <dl>
                        <dt>株式会社マックハウス<em>様</em></dt>
                        <dd>商品・モデル撮影および商品説明文作成</dd>
                        <dd>
                          <a href="works_mh_studio.html">
                            <img class="rep on" src="img/works_contents_recently_mh_studio_on.png" alt="株式会社マックハウス&nbsp;商品・モデル撮影および商品説明文作成"/>
                            <img class="rep off" src="img/works_contents_recently_mh_studio_off.png" alt="株式会社マックハウス&nbsp;商品・モデル撮影および商品説明文作成"/>
                          </a>
                        </dd>
                      </dl>
                      <div class="summary"><a href="https://www.life-escort.co.jp/form/inquiry.php?id=sasage" onclick="ga('send','event','お問い合わせボタン','クリック','sasage',true);" style="width:auto;line-height:1.4;padding:10px 40px;max-width:460px;"><strong>プロのカメラマンに無料相談できる！</strong><br>売上につながるEC撮影相談はこちら</a></div>
                    </div>
                    <div class="case">
                      <h3>お客様相談室構築および運用代行</h3>
                      <div class="summary">ECのコンサルティング＆フルサポートを行っていく中で、何が必要か否かを見極めていく作業があります。このケースでは、EC運用をスムーズにするためにもお客様相談室の構築が必要不可欠ということになり、弊社で当時の状況を整理し、仕組みを構築しました。</div>
                      <dl>
                        <dt>株式会社マックハウス<em>様</em></dt>
                        <dd>お客様相談室</dd>
                        <dd>
                          <a href="works_mh_inquiry.html">
                            <img class="rep on" src="img/works_contents_recently_mh_inquiry_on.png" alt="株式会社マックハウス&nbsp;お客様相談室"/>
                            <img class="rep off" src="img/works_contents_recently_mh_inquiry_off.png" alt="株式会社マックハウス&nbsp;お客様相談室"/>
                          </a>
                        </dd>
                      </dl>
                      <div class="summary">「新しくお客様相談室を構築したい」「既存のお客様相談室にかかるコスト見直しをしたい」など、お客様相談室の構築や運用に関するお悩みをお持ちでしたら、お気軽にご相談ください。入電件数に応じた費用での対応も可能です。<br><a href="https://www.life-escort.co.jp/form/inquiry.php?id=cs" onclick="ga('send','event','お問い合わせボタン','クリック','cs',true);" style="width:auto;line-height:1.4;padding:10px 40px;max-width:460px;"><strong>無料相談受付中</strong><br>今すぐ相談する</a></div>
                    </div>
                    <div class="case">
                     <h3 class="all">キャンペーン企画、ページ制作＆システム提供</h3>
                     <div class="summary">企画の落とし込みから運用に必要なシステム開発およびページ制作を実施しました。クライアント様だけでなく、ユーザーの皆様にもご好評いただける癒しキャンペーンとなりました。</div>
                     <dl>
                       <dt>いやしネコ大賞</dt>
                       <dd>
                         <a href="https://neko.mac-house.co.jp/" target="new">
                           <img class="rep on" src="img/accomplishment_img_iyashineko_on.png" alt="いやしネコ大賞"/>
                           <img class="rep off" src="img/accomplishment_img_iyashineko_off.png" alt="いやしネコ大賞"/>
                         </a>
                       </dd>
                     </dl>
                     <div class="summary">キャンペーン企画やそれに伴うページ制作・システム提供など、お客様のご希望に合わせてご提案させていただきます。「こんな感じの企画をやってみたいんだけど・・・」など、お気軽にご相談ください。<br><a href="https://www.life-escort.co.jp/form/inquiry.php?id=plan" onclick="ga('send','event','お問い合わせボタン','クリック','plan',true);" style="width:auto;line-height:1.4;padding:10px 40px;max-width:460px;"><strong>無料相談受付中</strong><br>今すぐ相談する</a></div>
                    </div>
                    <div class="case">
                     <h3 class="pc">治療院ホームページコンサル＆ページ制作</h3>
                     <div class="summary">ホームページからの集客をメインにコンサルティング、ページ制作を実施。作成後わずか2ヶ月で、「ホームページからのお問い合わせが増えた！ホームページの集客力にびっくりしています。」「研修生の募集もホームページから来ています。」との嬉しいメールをいただいています。<!-- a href="//www.life-escort.co.jp/contact.html">資料請求はこちら</a --></div>
                     <dl>
                       <dt>林鍼灸院<em>様</em></dt>
                       <dd><a href="http://www.lin-shinkyuin.jp/" target="new"><img src="img/accomplishment_img_lin_shinkyu.png" alt="株式会社マックハウス&nbsp;LINE公式アカウント"/></a></dd>
                     </dl>
                     <dl>
                       <dt>ニコニコ鍼灸整骨院　淡輪院</dt>
                       <dd><a href="http://tannowa.e-chiryo.jp/" target="new"><img src="img/accomplishment_img_nikoniko.png" alt="株式会社マックハウス&nbsp;LINE公式アカウント"/></a></dd>
                     </dl>
                    </div>

                    <!--<h3>ECコンサル＆サポート</h3>
                    <dl>
                      <dt>ECフルサポート</dt>
                      <dd class="homepage">東証一部上場株式会社チヨダ様<br>チヨダオンラインショップ</dd>
                      <dd><a href="http://store.chiyodagrp.co.jp" target="_blank"><img src="img/recently_img1.png"></a></dd>
                      <dd>[<a href="http://store.chiyodagrp.co.jp" target="_blank">http://store.chiyodagrp.co.jp</a>]</dd>
                      <dd class="homepage mh_contents">JASDAQ株式会社マックハウス様<br>マックハウスオンライン</dd>
                      <dd><a href="http://www.mac-house.co.jp/" target="_blank"><img src="img/recently_img0.png"></a></dd>
                      <dd>[<a href="http://www.mac-house.co.jp/" target="_blank">http://www.mac-house.co.jp/</a>]</dd>
                    </dl>
                    <h3>治療院事業</h3>
                    <dl>
                      <dd class="homepage">大阪梅田にある林鍼灸院</dd>
                      <dd><a href="http://www.lin-shinkyuin.jp/" target="_blank"><img src="img/recently_img2.png"></a></dd>
                      <dd>[<a href="http://www.lin-shinkyuin.jp/" target="_blank">http://www.lin-shinkyuin.jp/</a>]</dd>
                      <dt>治療院ホームページ作成サービス</dt>
                      <dd class="homepage">ニコニコ鍼灸整骨院 淡輪院</dd>
                      <dd><a href="http://tannowa.e-chiryo.jp/"><works>
                        <img src="img/recently_img3.png" border="0">
                      </works></a></dd>

                      <dd>[<a href="http://tannowa.e-chiryo.jp/" target="_blank">http://tannowa.e-chiryo.jp/</a>]</dd>
                      <dd class="homepage">他院の先生から依頼されて作成したホームページです。</dd>
                      <dd class="txt2">ニコニコ鍼灸整骨院のいちスタッフではありますが、他の院の先生からも「ホームページを作成して！」というお声をいただき、作成させていただきました。作成後わずか2ヶ月で、「ホームページからのお問い合わせが増えた！ホームページの集客力にびっくりしています。」「研修生の募集もホームページから来ていますよ。」との嬉しいメールをいただいたりしています。そんな実績を、少しだけご紹介いたします。</dd>
                    </dl>-->
                    <p><a class="totop" href="">PAGE TOP</a></p>
                 </div>

                  <div id="contents_example" class="contents">
                    <h2><span class="ribon">02</span>事例紹介<small></small></h2>
                    <dl>
                      <dt>株式会社マックハウス様</dt>
                      <dd class="example txt2">お客様のお声で、「わかりにくい」サイトから「わかりやすい」サイトへ仕組みを変更。お客様の「？」がなくなり、不要なお問い合わせも激減！</dd>
                      <dd class="img"><a href="https://store.mac-house.co.jp/" target="_blank"><img src="img/accomplishment_img_mh_store_off.png" alt="株式会社マックハウス様" border="0" style="border:solid 1px #CCC;" width="264"></a></dd>
                      <dd class="summery txt2">
                        <ul>
                          <li>
                            <strong>「株式会社マックハウス様」オンラインショップ</strong><br>[<a href="https://store.mac-house.co.jp/" target="_blank">https://store.mac-house.co.jp/</a>]<br>マックハウス様では、注文途中での離脱が多かったり、「商品を見つけにくい」、「注文しにくい」といったお客様からのご意見が多く寄せられていました。そこで「わかりやすい」サイト作りを目指していたのですが、マックハウス様自身ではその原因と解決策を見いだすのが難しい状況でした。
                          </li>
                          <li class="btn">
                            <a href="/works_mh_example01.html">ストレスなく買い物できる仕組みづくりとは</a>
                          </li>
                        </ul>
                      </dd>
                    </dl>

                    <dl>
                      <dt>株式会社チヨダ様</dt>
                      <dd class="example txt2">お客様とクライアント様の両方の目線から課題解決をサポート。靴の履き心地コメントの採取と掲載で、返品・交換が圧倒的に減少！</dd>
                      <dd class="img"><a href="http://store.chiyodagrp.co.jp" target="_blank"><img src="img/example_img1.png" alt="株式会社チヨダ様" border="0" style="border:solid 1px #CCC;"></a></dd>
                      <dd class="summery txt2">
                        <ul>
                          <li>
                            <strong>「株式会社チヨダ様」</strong><br>[<a href="http://store.chiyodagrp.co.jp" target="_blank">http://store.chiyodagrp.co.jp</a>]<br>チヨダ様では常時1万点以上の靴を取り揃えており、新商品も追加されてます。そのため、チヨダ様自身ですべての商品を履いて、コメントを取るというのは難しい状況でした。
                          </li>
                          <li class="btn">
                            <a href="/works_cyd_example01.html">ライフエスコートの提案とは</a>
                          </li>
                        </ul>
                      </dd>
                    </dl>

                    <dl>
                      <dt>株式会社チヨダ様</dt>
                      <dd class="example txt2">他社の半額以下”150万円”で実装！誰でも使いやすく、独自の検索機能も搭載した店舗システムの開発！</dd>
                      <dd class="img"><a href="http://www.chiyodagrp.co.jp/search/" target="_blank"><img src="img/example_img2.png" alt="株式会社チヨダ様店舗検索事例" border="0" style="border:solid 1px #CCC;"></a></dd>
                      <dd class="summery txt2">
                        <ul>
                          <li>
                            <strong>「株式会社チヨダ様」店舗検索ページ</strong><br>[<a href="http://www.chiyodagrp.co.jp/search/" target="_blank">http://www.chiyodagrp.co.jp/search/</a>]<br>チヨダ様は、インターネットを使った利便性の向上＝お客様の来店促進と考え、店舗情報を掲載した店舗検索システムの開発に取り組みました。しかし、予算オーバーの見積もりが出てしまい、弊社に相談をいただきました。
                          </li>
                          <li class="btn">
                            <a href="/works_cyd_example02.html">利便性を上げる独自の検索機能とは</a>
                          </li>
                        </ul>
                      </dd>
                    </dl>

                    <dl>
                      <dt>株式会社チヨダ様（東証一部上場企業）</dt>
                      <dd class="example txt2">脅威の正解率30％台の当たらない天気予報！？</dd>
                      <dd class="img"><img src="img/example_img3.jpg" alt="お天気ガールズ" border="0" style="border:solid 1px #CCC;"></dd>
                      <dd class="summery txt2">
                        <ul>
                          <li>
                            <strong>【株式会社チヨダ様（東証一部上場企業）】</strong><br>今回課題でもある異業種様とのコラボレーションが行いやすいコンテンツを考えるにあたり、「天気予報」を取り入れることにしました。しかし、この天気予報かなり低い正解率だったのです。でも、企画は大盛り上がり！なぜなら・・・。
                          </li>
                          <li class="btn">
                            <a href="/works_cyd_example03.html">認知度アップのヒミツはこちら</a>
                          </li>
                        </ul>
                      </dd>
                    </dl>

                    <!-- <dl>
                      <dt>株式会社ポニー様</dt>
                      <dd class="example txt2">販売形態にあった提案で売上が2倍にUP!</dd>
                      <dd class="img"><a href="http://www.pony.ne.jp/pc/index2.php" target="_blank"><img src="img/example_img4.jpg" alt="雑誌" border="0" style="border:solid 1px #CCC;"></a></dd>
                      <dd class="summery txt2">
                        <ul>
                          <li>
                            <strong>【株式会社ポニー様】</strong><br>弊社の商品は、基本的に定価販売となっており、他社様とwebページで比べられてしまうことが多く苦戦をしておりました。そんな時、多賀井社長よりショッピングモールのご提案をしていただきました。提案していただいたショッピングモールの出店で、ウェブでの売上が2倍にアップしました。
                          </li>
                          <li class="btn">
                            <a href="//www.life-escort.co.jp/ex_01.html">認知度アップのヒミツはこちら</a>
                          </li>
                        </ul>
                      </dd>
                    </dl>       -->
                    <p><a class="totop" href="">PAGE TOP</a></p>
                   </div>

                    <div id="contents_past" class="contents">
                      <h2><span class="ribon">03</span>過去の実績<small></small></h2>
                      <div class="wrap txt2">
                        <dl>
                          <dt>栄養バランスチェックシステム</dt>
                          <dd><a href="//www.life-escort.co.jp/pso-balance.html"><img src="img/past_img1.jpg" alt=""></a></dd>
                          <dd>[<a href="//www.life-escort.co.jp/pso-balance.html" target="_blank">https://www.life-escort.co.jp/pso-balance.html</a>]</dd>
                          <dd>
                            <section>
                              <h3>弊社実施内容</h3>
                              <ul>
                                <li>システム開発</li>
                                <li>ホームページ作成</li>
                                <li>運営サポート</li>
                                <li>販促サポート</li>
                              </ul>
                            </section>
                          </dd>
                        </dl>
                        <dl>
                          <dt>パーソナルサプリ</dt>
                          <dd><a href="//www.life-escort.co.jp/pso-order.html"><img src="img/past_img2.jpg" alt="パーソナルサプリ"></a></dd>
                          <dd>[<a href="//www.life-escort.co.jp/pso-order.html" target="_blank">https://www.life-escort.co.jp/pso-order.html</a>]</dd>
                          <dd>
                            <section>
                              <h3>弊社実施内容</h3>
                              <ul>
                                <li>企画提案から製品化までトータルに提供</li>
                                <li>ホームページ作成</li>
                                <li>導入店舗の募集および導入後のサポート</li>
                              </ul>
                            </section>
                          </dd>
                        </dl>
                      </div>
                      <div class="wrap txt2">
                        <dl>
                          <dt>ペット占い</dt>
                          <dd><a href="//www.life-escort.co.jp/pet-uranai.html"><img src="img/past_img3.jpg" alt="ペット占いシステム"></a></dd>
                          <dd>[<a href="//www.life-escort.co.jp/pet-uranai.html" target="_blank">https://www.life-escort.co.jp/pet-uranai.html</a>]</dd>
                          <dd>
                            <section>
                              <h3>弊社実施内容</h3>
                              <ul>
                                <li>企画提案および運用</li>
                                <li>キャラクターコンセプト立案および制作</li>
                                <li>システム開発および配信システム提供</li>
                              </ul>
                            </section>
                          </dd>
                        </dl>
                        <dl>
                          <dt>わんわん栄養バランスチェック</dt>
                          <dd><a href="//www.life-escort.co.jp/pet-blance.html"><img src="img/past_img4.jpg" alt="ペット自覚症状チェックシステム"></a></dd>
                          <dd>[<a href="//www.life-escort.co.jp/pet-blance.html" target="_blank">https://www.life-escort.co.jp/pet-blance.html</a>]</dd>
                          <dd>
                            <section>
                              <h3>弊社実施内容</h3>
                              <ul>
                                <li>システム開発</li>
                                <li>販促サポート</li>
                              </ul>
                            </section>
                          </dd>
                        </dl>
                      </div>

                      <p>地域一番治療院　勝ち組整骨院応援ツール提供</p>
                      <div class="wrap">
                        <dl>
                          <dt>筋肉代謝アップマシーン</dt>
                          <dd><a href="/health-up/"><img src="img/past_img5.jpg" alt="筋肉代謝アップマシーン"></a></dd>
                          <dd>[<a href="/health-up/" target="_blank">https://www.life-escort.co.jp/health-up/</a>]</dd>
                          <dd>
                            <section>
                              <h3>弊社実施内容</h3>
                              <ul>
                                <li>治療院の集客ツールとして提案および納品</li>
                                <li>集客</li>
                                <li>販促用サイト作成</li>
                              </ul>
                            </section>
                          </dd>
                        </dl>
                       <!--  <dl>
                          <dt>足の助</dt>
                          <dd>[<a href="/ashinosuke/">https://www.life-escort.co.jp/ashinosuke/</a>]</dd>
                        </dl> -->
                      </div>

                      <p><a class="totop" href="">PAGE TOP</a></p>
                   </div>

                </section>
<%- include('../include/footer.ejs',pageInfo) %>
