<% pageInfo = {
data:{
title:'【日本ネット経済新聞】－幅広いメニューでサポート',
description:'お客様とクライアント様の両方の目線から課題解決をサポート。靴の履き心地コメントの採取と掲載で、返品・交換が圧倒的に減少！',
keywords:'',
fileName:'',
pageType:'news'
}
}; %>
<%- include('../include/header.ejs',pageInfo) %>

<%# <img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image1.jpg" alt="">%>

<h1>Instagramキャンペーン事例集「アパレル業界事例」</h1>

<div class="snsTemplate">
    <h2>PEACH JOHN【#Pjme お気に入り商品の写真と一緒にInstagramに投稿しよう】</h2>
    <div class="left">
        <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image2.png" alt=""></p>
        <p class="eventLink">公式HP（キャンペーンページ）<a href="https://www.peachjohn.co.jp/pj/special/pjme/">https://www.peachjohn.co.jp/pj/special/pjme/</a></p>
    </div>
    <div class="right">
        <table class="eventSpec">
            <tr>
                <th>参加数</th>
                <td>708</td>
            </tr>
            <tr>
                <th>開催期間</th>
                <td>毎月開催</td>
            </tr>
            <tr>
                <th>ハッシュタグ</th>
                <td>#Pjme</td>
            </tr>
        </table>
        <ul class="eventSummary">
            <li>投稿してくれた方の中から毎月1名様に、WEBで使える￥10,000クーポンプレゼント</li>
        </ul>
        <p class="headding">参加方法</p>
        <ol class="eventEntry">
            <li>PEACH JOHN公式Instagramをフォロー</li>
            <li>「#PJme」でPEACH JOHNのお気に入り商品の写真と一緒にInstagramに投稿</li>
        </ol>
        <div class="photo2">
            <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image4.png" alt=""></p>
            <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image3.png" alt=""></p>
        </div>
    </div>
</div>


<div class="snsTemplate">
    <h2>GU【PAJAMA-HOLICパジャマに着替えよう】</h2>
    <div class="left">
        <p class="eventPhoto">
            <img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image5.png" alt="">
            <img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image7.png" alt="">
        </p>
        <p class="eventLink">公式HP（キャンペーンページ）<a href="https://www.gu-japan.com/feature/pajamaholic/campaign/">https://www.gu-japan.com/feature/pajamaholic/campaign/</a></p>
    </div>
    <div class="right">
        <table class="eventSpec">
            <tr>
                <th>参加数</th>
                <td>33</td>
            </tr>
            <tr>
                <th>開催期間</th>
                <td>2017.8.7〜2017.9.3</td>
            </tr>
            <tr>
                <th>ハッシュタグ</th>
                <td>#GUpajamaholic</td>
            </tr>
        </table>
        <ul class="eventSummary">
            <li>人が着用、または物撮影が当選の対象。但し、GU店舗内の写真やオンラインストアの画像の投稿に関しては、当選の対象外</li>
            <li>素敵な投稿をして下さった人の中から抽選で当選した方（当選者）に、プレゼントを贈呈</li>
            <li>いいね数と当選対象は関係なし</li>
        </ul>
        <p class="headding">参加方法</p>
        <ol class="eventEntry">
            <li>GUのパジャマの写真を撮影</li>
            <li>ハッシュタグ「#GUpajamaholic 」を付けて投稿</li>
        </ol>
        <div class="photo1">
            <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image6.png" alt=""></p>
        </div>
    </div>
</div>



<div class="snsTemplate">
    <h2>new balance 【#574SPORT Instagram PRESENT CAMPAIGN】</h2>
    <div class="left">
        <p class="eventPhoto">
            <img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image10.png" alt="">
            <img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image11.png" alt="">
        </p>
        <p class="eventLink">公式HP（キャンペーンページ）<a href="http://betamag.newbalance.co.jp/news/574s_instagram_campaign/">http://betamag.newbalance.co.jp/news/574s_instagram_campaign/</a></p>
    </div>
    <div class="right">
        <table class="eventSpec">
            <tr>
                <th>参加数</th>
                <td>2,573</td>
            </tr>
            <tr>
                <th>開催期間</th>
                <td>2017.7.11〜2017.8.10</td>
            </tr>
            <tr>
                <th>ハッシュタグ</th>
                <td>#574SPORT</td>
            </tr>
        </table>
        <ul class="eventSummary">
            <li>抽選で3名様に、世界数量限定の「574S」ファーストエディションをプレゼント！</li>
            <li>キャンペーン期間中に随時投稿される「#574SPORT」の写真はどの画像でリグラムしてもOK</li>
            <li>期間終了後、当選者にはInstagramのDMにて連絡</li>
        </ul>
        <p class="headding">参加方法</p>
        <ol class="eventEntry">
            <li>new balance Japan LifestyleのオフィシャルInstagramアカウントをフォロー</li>
            <li>当アカウントが投稿する【 #574SPORT 】がついたお好きな画像をリグラム</li>
        </ol>
        <div class="photo2">
            <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image8.png" alt=""></p>
            <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image9.png" alt=""></p>
        </div>
    </div>
</div>

<div class="snsTemplate">
    <h2>CA4LA【Instagram投稿キャンペーン MY ROCK FEST STYLE】</h2>
    <div class="left">
        <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image15.png" alt=""></p>
        <p class="eventLink">公式HP（キャンペーンページ）<a href="http://www.ca4la.com/special/rockfes2017/">http://www.ca4la.com/special/rockfes2017/</a></p>
    </div>
    <div class="right">
        <table class="eventSpec">
            <tr>
                <th>参加数</th>
                <td>84</td>
            </tr>
            <tr>
                <th>開催期間</th>
                <td>2017.6.17〜2017.7.22</td>
            </tr>
            <tr>
                <th>ハッシュタグ</th>
                <td>#帽子とフェス #ca4la_fes</td>
            </tr>
        </table>
        <ul class="eventSummary">
            <li>夏フェス帽子スタイルを投稿するとキャンペーンへ参加できる</li>
            <li>ベストショットに選ばれた人には、CA4LAギフトカードや夏フェス用帽子、夏フェスグッズをプレゼント</li>
        </ul>
        <p class="headding">参加方法</p>
        <ol class="eventEntry">
            <li>CA4LA公式Instagram 「@ca4la_official」をフォロー</li>
            <li>夏フェス帽子スタイルを撮影</li>
            <li>「#帽子とフェス」または「#ca4la_fes」のハッシュタグを付けて投稿</li>
        </ol>
        <div class="photo1">
            <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image14.png" alt=""></p>
        </div>
    </div>
</div>

<div class="snsTemplate">
    <h2>GAP【GapKids×ED#ガールズエンパワーメント Instagramリレーに参加しよう！】</h2>
    <div class="left">
        <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image16.png" alt=""></p>
        <p class="eventLink">公式HP（キャンペーンページ）<a href="http://gapjp.tumblr.com/post/126330756264/gapkids-ed-%E3%82%AC%E3%83%BC%E3%83%AB%E3%82%BA%E3%82%A8%E3%83%B3%E3%83%91%E3%83%AF%E3%83%BC%E3%83%A1%E3%83%B3%E3%83%88-instagram%E3%83%AA%E3%83%AC%E3%83%BC%E3%81%AB%E5%8F%82%E5%8A%A0%E3%81%97%E3%82%88%E3%81%86-girl">http://gapjp.tumblr.com/post/126330756264/gapkids-ed-%E3%82%AC%E3%83%BC%E3%83%AB%E3%82%BA%E3%82%A8%E3%83%B3%E3%83%91%E3%83%AF%E3%83%BC%E3%83%A1%E3%83%B3%E3%83%88-instagram%E3%83%AA%E3%83%AC%E3%83%BC%E3%81%AB%E5%8F%82%E5%8A%A0%E3%81%97%E3%82%88%E3%81%86-girl</a></p>
    </div>
    <div class="right">
        <table class="eventSpec">
            <tr>
                <th>参加数</th>
                <td>134（推定）</td>
            </tr>
            <tr>
                <th>開催期間</th>
                <td>2015.8.19〜2015.9.30</td>
            </tr>
            <tr>
                <th>ハッシュタグ</th>
                <td>#ガールズエンパワーメント #heyworld</td>
            </tr>
        </table>
        <ul class="eventSummary">
            <li>自分の写真にスピーチバブルをクリエイティブにあしらって、情熱を表現する</li>
            <li>Instagramに投稿してくれた方の中から抽選で150名に、フォトグラファー小林真理子、松藤美里、IMUが60名のガールズを撮り下ろしたZINE（小冊子）をプレゼント。</li>
        </ul>
        <p class="headding">参加方法</p>
        <ol class="eventEntry">
            <li>InstagramでGap Japanオフィシャルインスタグラムをフォロー</li>
            <li>スピーチバブル（吹き出し）を使って、あなたの思いを言葉で表現（スピーチバブル（吹き出し）のスタンプを貼り、コメントを入れる、全国のGapKidsストアでスピーチバブルの用紙をもらう）</li>
            <li>2つのハッシュタグ「#ガールズエンパワーメント」と「#heyworld」を付けて、Instagramに投稿</li>
        </ol>
        <div class="photo1">
            <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image17.png" alt=""></p>
        </div>
    </div>
</div>



<div class="snsTemplate">
    <h2>T1200【 T1200夏のキャンペーン　「Tシャツおたきあげ会」 】</h2>
    <div class="left">
        <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image19.png" alt=""></p>
        <p class="eventLink">公式HP（キャンペーンページ）<a href="https://t1200.jp/campaign/2015/summer/">https://t1200.jp/campaign/2015/summer/</a></p>
    </div>
    <div class="right">
        <table class="eventSpec">
            <tr>
                <th>参加数</th>
                <td>53</td>
            </tr>
            <tr>
                <th>開催期間</th>
                <td>2015.6.17〜2015.8.31</td>
            </tr>
            <tr>
                <th>ハッシュタグ</th>
                <td>#Tシャツおたきあげ</td>
            </tr>
        </table>
        <ul class="eventSummary">
            <li>キャンペーン期間中にInstagram「T1200」アカウントをフォローして、「#Tシャツおたきあげ」でお写真を投稿してくれた方の中から抽選で、賞品をプレゼント。</li>
            <li>参加者全員に10％OFFのクーポンを配布</li>
        </ul>
        <p class="headding">参加方法</p>
        <ol class="eventEntry">
            <li>「T1200」アカウントをフォロー</li>
            <li>Tシャツの写真を撮影</li>
            <li>ハッシュタグ「#Tシャツおたきあげ」を付けて写真を投稿</li>
        </ol>
        <div class="photo1">
            <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image18.png" alt=""></p>
        </div>
    </div>
</div>




<div class="snsTemplate">
    <h2>アメリカンイーグル【#AEOsummerT キャンペーン】</h2>
    <div class="left">
        <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image21.png" alt=""></p>
    </div>
    <div class="right">
        <table class="eventSpec">
            <tr>
                <th>参加数</th>
                <td>335</td>
            </tr>
            <tr>
                <th>開催期間</th>
                <td>2015.6.頃〜2015.6.21</td>
            </tr>
            <tr>
                <th>ハッシュタグ</th>
                <td>#AEOsummerT</td>
            </tr>
        </table>
        <ul class="eventSummary">
            <li>15人のファッショニスタによるアメリカンイーグルのサマーアイテム Tシャツを使ったスタイルを２週間に渡ってお届け</li>
            <li>お気に入りの#AEOsummerTをRegramして、キャンペーンに応募　各１名様に抽選でファッショニスタのサイン入りTシャツをプレゼント</li>
            <li>お気に入りの#AEOsummerTをRegramまたはRepostした画面をアメリカンイーグルのお店で提示すると、お会計から10％OFFでショッピング</li>
        </ul>
        <p class="headding">参加方法</p>
        <ol class="eventEntry">
            <li>AEO公式アカウント@americaneaglejp をフォロー</li>
            <li>「#AEOsummerT 」 を付けて、Regram またはRepost</li>
        </ol>
        <div class="photo1">
            <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image20.png" alt=""></p>
        </div>
    </div>
</div>



<div class="snsTemplate">
    <h2>エストネーション【Happy Holidays 2014 at ESTNATION】</h2>
    <div class="left">
        <p class="eventPhoto">
            <img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image28.png" alt="">
            <img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image23.png" alt="">
            <img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image24.png" alt="">
            <img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image25.png" alt="">
            <img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image26.png" alt="">
        </p>
        <p class="eventLink">公式HP（キャンペーンページ）<a href="https://www.estnation.co.jp/happyholidays2014/index.html">https://www.estnation.co.jp/happyholidays2014/index.html</a></p>
    </div>
    <div class="right">
        <table class="eventSpec">
            <tr>
                <th>参加数</th>
                <td>278</td>
            </tr>
            <tr>
                <th>開催期間</th>
                <td>2014.11.19〜2014.12.25</td>
            </tr>
            <tr>
                <th>ハッシュタグ</th>
                <td>#HH2014_EST</td>
            </tr>
        </table>
        <ul class="eventSummary">
            <li>公式インスタグラム アカウント「ESTNATION_JP」 をフォロー、写真に「#HH2014_EST」をつけてシェアし、心に残る素敵な写真を選考！</li>
            <li>当選者にプレゼント（アンダーズ東京1泊2日、エストネーション優待券など）</li>
        </ul>
        <p class="headding">参加方法</p>
        <ol class="eventEntry">
            <li>写真を撮影または選択</li>
            <li>「#HH2014_EST」をつけてシェア</li>
            <li>公式アカウントESTNATION_JPをフォロー</li>
        </ol>
        <div class="photo1">
            <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image22.png" alt=""></p>
            <%# <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image27.png" alt=""></p>%>
        </div>
    </div>
</div>


<div class="snsTemplate">
    <h2>Calvin Klein Underwear【Show yours.】</h2>
    <div class="left">
        <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image29.png" alt=""></p>
        <p class="eventLink">公式HP（キャンペーンページ）<a href="http://explore.calvinklein.com/ja_JP/page/mycalvins">http://explore.calvinklein.com/ja_JP/page/mycalvins</a></p>
    </div>
    <div class="right">
        <table class="eventSpec">
            <tr>
                <th>参加数</th>
                <td>508,834</td>
            </tr>
            <tr>
                <th>開催期間</th>
                <td>2014.2.頃〜不明（終了）</td>
            </tr>
            <tr>
                <th>ハッシュタグ</th>
                <td>#mycalvins</td>
            </tr>
        </table>
        <ul class="eventSummary">
            <li>総勢100人以上の有名ブロガー達、モデル、芸能人がセクシーで刺激的な写真を「#mycalvins」をつけて投稿</li>
            <li>セレブリティだけではなく、一般からの投稿も受付、ハッシュタグ「#mycalvins」をつけて写真を投稿すると、Calvin Klein UnderwearのWEBサイトに表示される可能性があり、ファンに『うまくいけば、あなた自身が憧れのスターたちと並んでCalvin Kleinのモデルになれるかも！？』というモチベーション設計が行われている</li>
        </ul>
        <p class="headding">参加方法</p>
        <ol class="eventEntry">
            <li>「#mycalvins」をつけて写真を投稿</li>
        </ol>
        <div class="photo2">
            <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image30.png" alt=""></p>
            <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image31.png" alt=""></p>
        </div>
    </div>
</div>

<div class="snsTemplate">
    <h2>LEVI'S USA【LEVI'S TO CAST AN AD CAMPAIGN USING INSTAGRAM】</h2>
    <div class="left">
        <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image32.png" alt=""></p>
        <p class="eventLink">公式HP（キャンペーンページ）<a href="http://www.esquire.com/style/a12289/levis-instagram-campaign-010612/">http://www.esquire.com/style/a12289/levis-instagram-campaign-010612/</a></p>
    </div>
    <div class="right">
        <table class="eventSpec">
            <tr>
                <th>参加数</th>
                <td>2,856</td>
            </tr>
            <tr>
                <th>開催期間</th>
                <td>不明（終了）</td>
            </tr>
            <tr>
                <th>ハッシュタグ</th>
                <td>#iamlevis</td>
            </tr>
        </table>
        <ul class="eventSummary">
            <li>LIVE'Sのブランドキャンペーンに起用するモデル・タレントを、世界中の一般市民の中からInstagramを活用してキャスティングする為、オーディションを開催</li>
            <li>オーディションに参加したい人は「#iamlevis」をつけて自身の写真を投稿するといったキャンペーンで、男女問わず、世界中の誰でも参加可能</li>
            <li>LEVI’Sモデルとしての起用</li>
        </ul>
        <p class="headding">参加方法</p>
        <ol class="eventEntry">
            <li>オーディションに参加したい人は「#iamlevis」をつけて自身の写真を投稿</li>
        </ol>
        <div class="photo2">
            <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image33.png" alt=""></p>
            <p class="eventPhoto"><img src="https://www.life-escort.co.jp/ec-support/wp/wp-content/uploads/2017/08/image34.png" alt=""></p>
        </div>
    </div>
</div>




<%- include('../include/footer.ejs',pageInfo) %>
