<% pageInfo = {
    data:{
        title:'株式会社ライフエスコートの会社概要｜EC売上アップ',
        description:'EC売上アップ戦略を提案する株式会社ライフエスコートの会社概要。',
        keywords:'EC,コンサル,コンサルティング,会社概要',
        fileName:'',
        pageType:'page'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
                <nav id="left_contents">
                    <h1>会社概要<small>COMPANY</small></h1>
                    <ul>
                        <li><a href="#contents_company">01<strong>会社概要</strong>COMPANY</a></li>
                        <!--  <li><a href="#contents_csr">02<strong>社会貢献活動</strong>CSR</a></li> -->
                        <!-- <li><a href="#contents_profile">03<strong>代表プロフィール</strong>CEO PROFILE</a></li> -->
                    </ul>
                </nav>

                <section id="maincontents">
                    <div id="contents_company" class="contents">
                      <h2><span class="ribon">01</span>会社概要<small>COMPANY</small></h2>
                      <ul class="summery txt2">
                        <li>
                          <dl>
                            <dt>社名</dt>
                            <dd>
                              <ul>
                                <li>株式会社　ライフエスコート</li>
                                <li>[<a href="https://www.life-escort.co.jp">https://www.life-escort.co.jp</a>]</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>代表取締役</dt>
                            <dd>多賀井　隆之</dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>事業所</dt>
                            <dd>
                              <ul>
                                <li><strong>本社</strong>／〒105-0014 東京都港区芝1-14-11 芝明月ビル6階<br>
                                <!--Mobile : 080-3752-2147　-->TEL : 03-5765-6960　FAX : 03-3452-0966 <br>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>

<div id="map" style="width: 510px; height: 400px;"></div>
<script type="text/javascript">
// 地図
var map = new google.maps.Map(document.getElementById("map"), {
  zoom: 16,
  center: new google.maps.LatLng(35.650127792518724, 139.75378431379795),
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP
});

// マーカー
new google.maps.Marker({
  position:   new google.maps.LatLng(35.650127792518724, 139.75378431379795),
  map: map,
  icon: new google.maps.MarkerImage(
    'img/marker.png',            // url
    new google.maps.Size(50,77), // size
    new google.maps.Point(0,0),  // origin
    new google.maps.Point(25,77) // anchor
  )
});
</script><!--<iframe width="510" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.co.jp/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%AF%E5%8C%BA%E8%8A%9D%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%94%E2%88%92%EF%BC%91%EF%BC%91+%E8%8A%9D%E6%98%8E%E6%9C%88%E3%83%93%E3%83%AB&amp;aq=0&amp;oq=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%AF%E5%8C%BA%E8%8A%9D%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%94%E2%88%92%EF%BC%91%EF%BC%91+%E8%8A%9D%E6%98%8E%E6%9C%88%E3%83%93%E3%83%AB&amp;sll=36.5626,136.362305&amp;sspn=62.212572,66.621094&amp;brcurrent=3,0x60188bc9af4d8767:0x529c635d1bb2a2fc,0&amp;ie=UTF8&amp;hq=&amp;hnear=%E3%80%92105-0014+%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%AF%E5%8C%BA%E8%8A%9D%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%94%E2%88%92%EF%BC%91%EF%BC%91+%E8%8A%9D%E6%98%8E%E6%9C%88%E3%83%93%E3%83%AB&amp;t=m&amp;z=14&amp;ll=35.650109,139.753798&amp;output=embed"></iframe><br />--><small><a href="https://www.google.co.jp/maps?f=q&amp;source=embed&amp;hl=ja&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%AF%E5%8C%BA%E8%8A%9D%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%94%E2%88%92%EF%BC%91%EF%BC%91+%E8%8A%9D%E6%98%8E%E6%9C%88%E3%83%93%E3%83%AB&amp;aq=0&amp;oq=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%AF%E5%8C%BA%E8%8A%9D%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%94%E2%88%92%EF%BC%91%EF%BC%91+%E8%8A%9D%E6%98%8E%E6%9C%88%E3%83%93%E3%83%AB&amp;sll=36.5626,136.362305&amp;sspn=62.212572,66.621094&amp;brcurrent=3,0x60188bc9af4d8767:0x529c635d1bb2a2fc,0&amp;ie=UTF8&amp;hq=&amp;hnear=%E3%80%92105-0014+%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%AF%E5%8C%BA%E8%8A%9D%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%94%E2%88%92%EF%BC%91%EF%BC%91+%E8%8A%9D%E6%98%8E%E6%9C%88%E3%83%93%E3%83%AB&amp;t=m&amp;z=14&amp;ll=35.650109,139.753798" style="color:#0000FF;text-align:left">大きな地図で見る</a></small></li>
                                <li class="address"><strong>EC-WORK部</strong>／〒532-0011 大阪市淀川区西中島1-9-20 新中島ビル7階<br>TEL : 06-6195-9894　FAX : 06-6195-9894</li>
                                <li class="address"><strong>広告専用江戸川橋撮影スタジオ</strong>／〒112-0014 東京都文京区関口1-14-10 塩谷ビル2F<br>TEL : 03-6280-8282 ［<a href="https://www.le-st.com" target="_blank">https://www.le-st.com</a>］</li>
                                <li class="address"><strong>EC専門商品撮影スタジオ</strong>／〒162-0806 東京都新宿区榎町75番地 古内ビル2階<br>TEL : 03-6457-5236</li>
                                <li class="address">
                                  <strong>ミャンマーオフィス</strong>／NO.(163/167),Thingangyun Road,Tamwe Lay Quarter, Tamwe Township,Yangon Region, Myanmar<br>
                                  <img src="img/company_contents_company_ph_myanmar.png" alt="" /><br>
                                  <small><img src="img/company_contents_company_myanmarflag.png" alt="" /> ライフエスコートオフィス・ミャンマー</small>
                                </li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>直営治療院</dt>
                            <dd>二コ二コ鍼灸整骨院　淡輪院<br>泉南郡岬町淡輪4326－1<br>TEL : 072-494-2203<br>[<a href="http://tannowa.e-chiryo.jp/" target="_blank">http://tannowa.e-chiryo.jp/</a>]</dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>設立</dt>
                            <dd>1981年2月</dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>資本金</dt>
                            <dd>1,400万円</dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>社員数</dt>
                            <dd>29人（2017年7月末現在）</dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>事業内容</dt>
                            <dd>
                              <dl>
                                <dt class="business">デジタルマーケット（インターネット・モバイル）事業</dt>
                                <dd>
                                  <ol>
                                    <li>企業の情報化戦略に関するコンサルティング</li>
                                    <li>情報システムの企画・構築・運用</li>
                                    <li>メディア事業</li>
                                    <li>マーケテイング支援</li>
                                    <li>ソフトウエアおよびハードウエアの企画・製造・販売</li>
                                    <li>上記に付帯する各種事業</li>
                                  </ol>
                                </dd>
                                <dt class="business">リアルマーケット（治療院コンサルティング）事業</dt>
                                <dd>
                                  <ol>
                                    <li>治療院の経営</li>
                                    <li>治療院の経営・集恵に関するコンサルティング</li>
                                    <li>治療技術向上のためのセミナー開催・講師派遣</li>
                                    <li>健康関連各種セミナー講師及び派遣業務</li>
                                    <li>医師、鍼灸師、柔道整復師の開業支援</li>
                                    <li>集患支援ツール（コンテンツ企画開発）</li>
                                    <li>治療家のための情報教材開発・販売</li>
                                  </ol>
                                </dd>
                              </dl>
                            </dd>
                          </dl>
                        </li>
                        <li>高度管理医療機器等販売業・賃貸業　許可証　取得（第450103060058）<br>古物商　許可証　取得</li>
                      </ul>
                      <p><a class="totop" href="">PAGE TOP</a></p>
                   </div>
                </section>

                <!-- <section id="maincontents">
                    <div id="contents_csr" class="contents">
                      <h2><span class="ribon">02</span>社会貢献活動<small>CSR</small></h2>
                      <p><a class="totop" href="">PAGE TOP</a></p>
                    </div>

                </section> -->
<%- include('../include/footer.ejs',pageInfo) %>
