<% pageInfo = {
    data:{
        title:'株式会社ライフエスコートへのお問合せ｜EC売上アップ',
        description:'EC売上アップ戦略を提案する株式会社ライフエスコートへのお問合せ。',
        keywords:'EC,コンサル,コンサルティング,売上,戦略,分析,内製化,お問い合わせ',
        // fileName:'inquiry_template',
        fileName:'',
        pageType:'page'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
                <nav id="left_contents">
                    <h1>お問い合わせ<small>CONTACT</small></h1>
                    <ul>
                        <li><a href="#contents_contact">01<strong>お問い合わせ</strong>CONTACT</a></li>
                        <!-- <li><a href="#contents_about">02<strong>会社の考え方</strong>ABOUT US</a></li>
                        <li><a href="#contents_profile">03<strong>代表プロフィール</strong>CEO PROFILE</a></li> -->
                    </ul>
                </nav>

                <section id="maincontents">
                    <div id="contents_contact" class="contents">
                        <h2><span class="ribon">01</span>お問い合わせ<small>CONTACT</small></h2>

						<div class="contactForm">
<%#- include('../include/inquiry_style_test_body.ejs',pageInfo) -%>


<h3>ただ今お問い合わせフォームのリニューアル中です。</h3>
お手数をお掛けして大変申し訳ありませんが、こちらよりお問い合わせ下さい。
<p><a href="/form/inquiry_corp.php" target="new">お問い合わせフォーム</a></p></div>
<!--<iframe src="http://life.mcan.jp/cam/?64741443_53659479" width="660" height="1290" frameborder="0" marginwidth="0" scrolling="no" title="お問合せフォーム">
						このページはインラインフレームを使用しております。<br>
						未対応ブラウザは閲覧できませんのでご了承下さい。
						</iframe>-->

<p><a class="totop" href="">PAGE TOP</a></p>
</div>

</section>
<%- include('../include/footer.ejs',pageInfo) %>
