<% pageInfo = {
    data:{
        title:'株式会社ライフエスコート｜港区のECコンサルタント',
        description:'港区でECコンサルティングを行う株式会社ライフエスコートは、サイト分析をもとに豊富なノウハウでクライアント様に合ったEC売上アップ戦略をご提案致します。',
        keywords:'EC,コンサル,コンサルティング,売上アップ,戦略,分析',
        fileName:'',
        pageType:'index'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
            <div class="sectionheader">
                <h1>MESSAGE<small>メッセージ</small><img src="img/top_sh01.png" alt="MESSAGE メッセージ"></h1>
                <dl>
                    <dt>どんなにITが進化しても、“誰と一緒に仕事”をするか、<br>その仕方で結果もずいぶん変わってくると私たちは考えます。</dt>
                    <dd>アート、クリエイティブ、コミュニケーション能力を一緒に究極まで高めてみませんか！<br>弊社の提供するサービスは、自社運営し試み運営ノウハウをためたもの、<br>もしくは長年お取引をさせて頂いている企業様の間でつくられた確かなものです。</dd>
                </dl>
            </div>




<%- include('../include/service-slider.ejs',pageInfo) %>






            <div class="sectionheader">
                <h1>WORKS<small>成功事例</small><img src="img/top_sh02.png" alt="WORKS 成功事例"></h1>
                <dl>
                    <dt>納品完了で終わらせない<br>成功事例</dt>
                    <dd>他社の制作実績と違う点は、納品で終わることなく毎週打ち合わせを行い改善と効果検証を行い、<br>
                    クライアントと一緒に満足頂ける制作実績になります。</dd>
                </dl>
            </div>

<%- include('../include/jirei-slider.ejs',pageInfo) %>

            <ul id="note">
                <li><img src="img/top_note01.png" alt="社会貢献活動"></li>
                <li><a href="recruit.html#contents_intern"><img src="img/top_note02.png" alt="インターン生募集"></a></li>
            </ul>
<%- include('../include/footer.ejs',pageInfo) %>
