<% pageInfo = {
    data:{
        title:'LINE公式アカウントコンサル＆運用サービス開始',
        description:'株式会社ライフエスコート（本社：東京都港区　代表取締役社長　多賀井隆之）は、LINE公式アカウントコンサル＆運用サービスを開始致しました。',
        keywords:'',
        fileName:'',
        pageType:'news'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<h1>LINE公式アカウントコンサル＆運用サービス開始</h1>
<p class="lead">
    戦略に基づくコンテンツやリッチメッセージの配信、<br class="break">解析ツール導入による分析など、一連の運用を一括してサポート！<br class="break"><strong>LINE公式アカウントコンサル＆運用サービス</strong>開始
</p>

<p>株式会社ライフエスコート（本社：東京都港区　代表取締役社長　多賀井隆之）は、LINE公式アカウントコンサル＆運用サービスを開始致しました。</p>
<p class="img main"><a href="https://www.line-consulting.com/"><img src="img/press-release_news02_img01.png" alt="スクリーンショット"><br>株式会社ライフエスコート「LINE公式アカウントコンサル＆運用サービス」</a></p>
<p>メッセンジャーアプリ利用者のうち<strong>60％以上がLINEの利用者</strong>という日本。（2016年現在）LINEは、「メッセンジャーアプリの代表格」と言える存在です。そんなLINEを使ったプロモーションも今や多くの企業様が展開し、FacebookやTwitterよりもリーチ率が高いことからWeb集客をする上で重要なものとなってきました。しかし一方で、LINE公式アカウントをどう運用していいかわからなかったり、うまく活用できていなかったりと、悩みを抱えている企業様も少なくありません。</p>
<p>そこでライフエスコートでは、<strong>実際にLINE公式アカウントを運用した今までのノウハウ</strong>を蓄積。さらに他社の事例研究を行い、戦略に基づくコンテンツやリッチメッセージの配信、タイムライン施策、解析ツール導入による分析など、スタートアップから配信コンテンツの制作進行管理、KPIレポートをもとにした施策提案等、一連の運用を一括してフルサポートするサービスを開始いたしました。</p>
<p>このサービス開始を記念して、初期設定一式を<strong>キャンペーン価格</strong>にてご提供致します。さらに、月次プランは特別値引きがあるお買得な価格設定です。スポットでの配信やクリエイティブ制作も承っております。ぜひ、お気軽にご依頼ください。</p>

<p style="text-align:center;"><a href="https://www.line-consulting.com/">LINE公式アカウントコンサル＆運用サービスHP<br>https://www.line-consulting.com/</a></p>


<p>ライフエスコートは、東証一部上場企業の通販サイトをはじめ様々な通販運営で培ったノウハウを生かし、これからさらに活発化する通販市場において、クライアント様にご満足いただけるサービスを今後も提供して参ります。</p>

<dl style="margin-top:2em;">
    <dt>＜株式会社ライフエスコート　会社概要＞</dt>
    <dd>■社　　　名：株式会社ライフエスコート</dd>
    <dd>■本　　　社：東京都港区芝1-14-11　芝明月ビル6階</dd>
    <dd>■代 表 者：代表取締役　多賀井隆之</dd>
    <dd>■設　　　立：1981年2月</dd>
    <dd>■従業員数：29名</dd>
    <dd>■資　本　金：1,400万円</dd>
    <dd>■URL：<a href="http://life-escort.co.jp/">http://life-escort.co.jp/</a></dd>
    <dd>（2017年7月末現在）</dd>
    <dt>＜お問合せ先＞</dt>
    <dd>株式会社　ライフエスコート</dd>
    <dd>東京都港区芝1-14-11　芝明月ビル6階</dd>
    <dd>TEL:03-5765-6960　FAX:03-3452-0966</dd>
</dl>

<%- include('../include/footer.ejs',pageInfo) %>
