<% pageInfo = {
    data:{
        title:'株式会社ライフエスコートのプレスリリース｜EC売上アップ',
        description:'EC売上アップ戦略を提案する株式会社ライフエスコートのプレスリリース。',
        keywords:'EC,コンサル,コンサルティング,海外事例,ノウハウ,販促,プレスリリース',
        fileName:'press-release',
        pageType:'page'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
                <nav id="left_contents">
                    <h1>プレスリリース<small>PRESS RELEASE</small></h1>
                    <ul>
                        <li><a href="#contents_ec">01<strong>海外キャンペーン事例</strong></a></li>
						<li><a href="#contents_blog">02<strong> ECノウハウレポート</strong></a></li>
                        <li><a href="#contents_pressroom">03<strong>プレスルーム</strong></a></li>
                        <!-- <li><a href="#contents_profile">03<strong>代表プロフィール</strong>CEO PROFILE</a></li> -->
                    </ul>
                </nav>

                <section id="maincontents">
                    <div id="contents_ec" class="contents">
                        <h2><span class="ribon">01</span>海外キャンペーン事例<!--<small>EC&nbsp;SUPPORT</small>--></h2>
                        <p class="img"><a href="/ec-support/"><img src="img/press2.png" width="660" alt="Blog 海外ECサイト事例に学ぶ売上アップのノウハウ"></a></p>
						<div id="wp_ecsupport">
						  <div id="wp_support"></div>
						</div>
                        <p><a class="totop" href="">PAGE TOP</a></p>
                    </div>

					<div id="contents_blog" class="contents">
                        <h2><span class="ribon">02</span>ECノウハウレポート<!--<small>REPORT</small>--></h2>
                        <div id="wp_blog">
                            <div id="wp_knowhow"></div>
                            <div id="wp_topic" style="margin-top: -10px;"></div>
                        </div>
                        <p><a class="totop" href="">PAGE TOP</a></p>
                    </div>

                    <div id="contents_pressroom" class="contents">
                        <h2><span class="ribon">03</span>プレスルーム<!--<small>PRESSROOM</small>--></h2>
<%- include('../include/press-news-list.ejs',pageInfo) %>
                        <div id="wp_press">
							<div id="wp_message"></div>
						</div>
                        <p><a class="totop" href="">PAGE TOP</a></p>
                    </div>

                </section>
<%- include('../include/footer.ejs',pageInfo) %>
