<% pageInfo = {
    data:{
        title:'「EC・IT活用支援パートナー制度」に登録',
        description:'独立行政法人　中小企業基盤整備機構が提供する「EC・IT活用支援パートナー制度」につきまして、選考の結果、2017年11月30日ライフエスコートが登録されました。',
        keywords:'',
        fileName:'',
        pageType:'news'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<h1>「EC・IT活用支援パートナー制度」に登録</h1>
<p class="lead">
    独立行政法人 中小企業基盤整備機構が提供する<br class="break"><strong>「EC・IT活用支援パートナー制度」</strong>につきまして、<br class="break">選考の結果、2017年11月30日ライフエスコートが登録されました。
</p>
<p class="img main">
    <img src="img/press-release_news04_img01.png" alt="掲載記事">
    <small>（<a href="https://ec.smrj.go.jp/partner/">中小企業のためのEC活用支援ポータルサイト【ebiz】</a>）</small>
</p>

<p>この制度は、中小企業・小規模事業者のEC、IT活用による販路開拓や生産性の向上を目的に、国内EC、越境EC、ITを活用した生産性向上等における支援の実施にあたりパートナー企業と連携した取り組みを行うためのものです。</p>
<p>登録企業には、楽天市場、ebay、PayPal、DHLなど様々な企業が登録されています。</p>
<p>この制度を通し、弊社のECノウハウを様々な形で提供できればと思っております。</p>


<dl class="task">
<dt><strong>ライフエスコートのECコンサル＆フルサポートについて</strong></dt>
<dd>ライフエスコートでは、ECを成功させるために、切っても切り離せない一連のサイクル「コンサルティング、プロモーション、システム相談および開発、撮影、制作、運用、レポート、改善」これらすべてのノウハウを持ち合わせ、悩みが異なるクライアント様ごとにサポート内容をカスタマイズして柔軟に提供しています。また、不明瞭になりがちなコストは、根拠のある数値から算出。見える化されているから、安心してご依頼いただけます。</dd>
<dd class="btn"><a href="https://www.life-escort.co.jp/service.html" style="float:none;margin:1em auto;">詳しい内容はこちら</a></dd>
</dl>

<%- include('../include/footer.ejs',pageInfo) %>
