<% pageInfo = {
    data:{
        title:'株式会社ライフエスコートのプライバシーポリシー｜EC売上アップ',
        description:'EC売上アップ戦略を提案する株式会社ライフエスコートのプライバシーポリシー。',
        keywords:'EC,コンサル,コンサルティング,ライフエスコート',
        fileName:'',
        pageType:'single'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<h1>プライバシーポリシー</h1>
<h2>基本方針</h2>
<p>株式会社ライフエスコートと社員一同（以下「私達」という。）は、お客様の個人情報がプライバシーを構成する重要な情報であることを深く認識し、業務において個人情報を取り扱う場合には、個人情報に関する法令を遵守することにより、お客様を尊重し、当社に対する期待と信頼に応えていきます。</p>
<h3>個人情報の取り扱いについて</h3>
<dl>
    <dt>1. 個人情報のご提供を受ける場合</dt>
    <dd>私達は、お客様からの個人情報の提供が必要な場合には、お客様にその個人情報の利用目的をお知らせします。</dd>
    <dt>2. 個人情報の取得について</dt>
    <dd>私達は、お客様の個人情報の取得について、適正な手段によって行うとともに、利用目的の公表・通知・明示等を行い、ご本人の同意なく、利用目的の範囲を超えた個人情報のお取扱いはいたしません。</dd>
    <dt>3. 個人情報の利用目的</dt>
    <dd>私達はお客様の個人情報を原則としてあらかじめ明示した目的の範囲内で行いその目的以外には一切使用しません。目的以外で利用する場合は、弊社プライバシーポリシーに従いご本人より事前の了解を得た上で行います。</dd>
    <dt>4. 個人情報の第三者への提供について</dt>
    <dd>私達は、次のいずれかの場合を除いては、お客様の個人情報を第三者に提供することはいたしません。
        <ul>
            <li>お客様の同意がある場合。</li>
            <li>あらかじめ弊社との間で機密保持契約を締結している企業等(業務委託先等)に利用目的を逐行する為に必要な場合。</li>
            <li>裁判所・警察署・主務官庁など法令等により、開示が要求された場合。</li>
            <li>お客様又は公共の利益のために必要であると考えられる場合。</li>
        </ul>
    </dd>
    <dt>5. 個人情報に対する安全対策の実施</dt>
    <dd>私達は、お客様からお預かりした大切な個人情報を、漏洩、滅失、破壊、社外への不正な流出、改ざん、不正アクセスから保護するために、社内規程を整備し、合理的な安全対策を講じます。</dd>
    <dt>6. 個人情報に関するお客様からのお問合せ等について</dt>
    <dd>私達は、お客様またはお客様の代理人から、当社が管理するお客様ご自身の個人情報について下記の要請を受けた場合には、お客様の意思を尊重し、合理的な範囲で必要な対応をいたします。
        <ul>
            <li>開示</li>
            <li>訂正</li>
            <li>更新</li>
            <li>削除</li>
            <li>利用停止</li>
            <li>第三者提供の停止</li>
        </ul>
    </dd>
    <dd>既に行った個人情報の利用に関する同意の一部または全部の撤回について、私達は、個人情報の取り扱いに関するお客様からの問合せに等にお応えするため必要な窓口を設置いたします。</dd>
</dl>

<h3>個人情報保護についての取組み</h3>
<p>私達は、個人情報保護に関する基本方針を徹底するために以下の活動を行います。</p>
<ul>
    <li>役員および全ての社員に対する、個人情報に関する法令およびその他の規範を遵守するための啓発活動および社内研修の実施。</li>
    <li>監査責任者の選任、個人情報の取り扱いについての監査。</li>
    <li>本基本方針、社内規程および個人情報保護の運用についての、法令や社会環境の変化等に応じた見直し。</li>
</ul>

<h3>プライバシーポリシーの改善</h3>
<p>当プライバシーポリシーは見直しの必要性が発生した場合、適宣改善いたします。</p>

<h3>【個人情報お客様担当窓口】</h3>
<p>株式会社ライフエスコート お問い合わせセンター<br />
TEL. 03-5765-6961</p>

<%# <p class="everyPost"><a href="/contact.html">お問い合わせをする</a></p>%>
<%- include('../include/footer.ejs',pageInfo) %>
