<% pageInfo = {
    data:{
        title:'株式会社ライフエスコートの採用情報｜EC売上アップ',
        description:'EC売上アップ戦略を提案する株式会社ライフエスコートの会社概要。',
        keywords:'EC,コンサル,コンサルティング,採用情報',
        fileName:'',
        pageType:'page'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
                <nav id="left_contents">
                    <h1>採用情報<small>RECRUIT</small></h1>
                    <ul>
                        <li><a href="#contents_recruit">01<strong>採用情報（一般採用）</strong></a></li>
                        <li><a href="#contents_intern">02<strong>インターン生募集</strong></a></li>
                    </ul>
                </nav>

                <section id="maincontents">
                    <div id="contents_recruit" class="contents">
                      <h2><span class="ribon">01</span>採用情報（一般採用）</h2>
                      <div class="request">
                        <ul>
                          <li>
                            <h3>このような方を積極的に求めています！</h3>
                          </li>
                          <li>
                            <p class="txt">未経験でもビジネスの基本である素直さがあればいいのですが、スキルや経験があってこしたことはありません。そこで、ライフエスコートでは、このような方を積極的に求めています。<br>
                            </p>
                          </li>
                        </ul>
                        <p class="illust"><img src="img/recruit.png" width="300" alt=""></p>
                      </div>


                      <ul class="recruit">
                        <li>ＷＥＢ制作の経験が2年以上ある方</li>
                        <li>リスティング広告のランディングページ制作の経験がある方</li>
                        <li>デザイナーやコーダー、ライターを取りまとめるリーダー経験のある方</li>
                        <li>アウトソース先を使って、クライアント先へ納品した経験がある方</li>
                        <li>専門用語を使わずに、わかりやすくお客さまに話ができる方</li>
                        <li>クライアントに提案ができる方</li>
                        <li>広告・メディア企画・マーケティングの業務経験のある方</li>
                        <li>コンバージョン率を高めるためのアイデアを出すのが好きな方</li>
                        <li>効果計測を数字と感性の両方で分析することに慣れてる方</li>
                      </ul>
                      <p class="txt">もちろん、すべてにあてはまる必要はありません。また、「部門リーダー」として、チームのマネジメントにコミットメントできる方も必要としています。さらに、事業計画作りなどにも積極的に参加していただきたいと思っていますので、ご興味のある方は、是非ご応募ください。<br>
                      </p>
                      <p><strong>コレを読めば、ライフエスコートの考えが分かるかも！<br>弊社代表・多賀井と東京本部をまとめる谷澤が考える「○○な人」とは？</strong></p>
                      <div class="wrap">
                        <ul class="summery personal">
                          <li>
                            <dl>
                              <dt>番外編</dt>
                              <dd><a href="/contents/?p=1810" target="_blank">「すぐ行動に移すこと」「反応すること」</a></dd>
                            </dl>
                          </li>
                          <li>
                            <dl>
                              <dt>第15回</dt>
                              <dd><a href="/contents/?p=1622" target="_blank">「教えてもらっていません。」を平気で言える人</a></dd>
                            </dl>
                          </li>
                          <li>
                            <dl>
                              <dt>第14回</dt>
                              <dd><a href="/contents/?p=1605" target="_blank">人を自分の意図する方向へ向けられる人</a></dd>
                            </dl>
                          </li>
                        </ul>
                        <ul class="summery personal">
                          <li>
                            <dl>
                              <dt>第13回</dt>
                              <dd><a href="/contents/?p=1602" target="_blank">書き出しをする（中途向け）</a></dd>
                            </dl>
                          </li>
                          <li>
                            <dl>
                              <dt>第12回</dt>
                              <dd><a href="/contents/?p=1600" target="_blank">相手を研究する（新卒向け）</a></dd>
                            </dl>
                          </li>
                        </ul>
                      </div>
                      <p class="btn"><a href="/contents/?cat=11" target="_blank">バックナンバーはこちら</a></p>

                      <!-- <ul class="img">
                        <li><img src="img/6950721.jpg" width="660" alt=""></li>
                        <li><strong>私たちと一緒に仕事をしましよう！</strong></li>
                      </ul> -->

                      <h3 class="adopt">一般採用</h3>

                      <ul class="summery txt3">
                        <li>
                          <dl>
                            <dt>募集職種</dt>
                            <dd>
                              <ol>
                                <li>プログラマー(PG)/SE</li>
                                <li>ECサイトの運営および関連事務・広報</li>
                                <li>WEBデザイナー</li>
                                <li>コールセンター</li>
                              </ol>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>雇用形態</dt>
                            <dd>正社員(中途) ※試用期間あリ</dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>応募資格</dt>
                            <dd>
                              <dl>
                                <dt>【必須スキル･経験】</dt>
                                <dd>Office (Word,Excel,PowerPoint)</dd>
                                <dt class="skill">【歓迎スキル･経験】</dt>
                                <dd>
                                  <ul class="experience">
                                    <li>
                                      <dl>
                                        <dt>プログラマー(PG)/SE</dt>
                                        <dd>(Java,PHP,C/C++,Flash,ActionScript3,その他プログラミング言語)</dd>
                                      </dl>
                                    </li>
                                    <li>
                                      <dl>
                                        <dt>ECサイトの運営および関連事務・広報</dt>
                                        <dd>
                                          <ul>
                                            <li>・通信販売の運営、管理</li>
                                            <li>・ECサイト運営に関する事務</li>
                                            <li>・当社広報業務</li>
                                          </ul>
                                        </dd>
                                        <dd>※インターネットの知識、経験がない方でも（未経験者）ご安心ください。丁寧に教えさせていただきます。</dd>
                                      </dl>
                                    </li>
                                    <li>
                                      <dl>
                                        <dt>WEBデザイナー</dt>
                                        <dd>主に通信販売サイトおよびホームページのページデザイン、バナー作成、コーディング、ページアップをして頂きます。および、クライアント各社様のサイトを作って頂くことになります。</dd>
                                        <dd>
                                          <ul>
                                            <li>※イラストレーター、フォトショップが出来る方優遇。</li>
                                            <li>※一人でHPをデザインからコーティングまで出来る方。</li>
                                            <li>※バナー制作が出来る方</li>
                                          </ul>
                                        </dd>
                                        <dd>(Photoshop,Illustrator,InDesIgn,ActionScript3,Dreamweaver,Fireworks)</dd>
                                      </dl>
                                    </li>
                                    <li>
                                      <dl>
                                        <dt>コールセンター</dt>
                                        <dd>
                                          <ul>
                                            <li>・PC操作できる方尚可、</li>
                                            <li>・未経験者も可</li>
                                            <li>・土日勤務できる方</li>
                                          </ul>
                                        </dd>
                                        <dd>※インターネットの知識、経験がない方でも（未経験者）ご安心ください。丁寧に教えさせていただきます。</dd>
                                      </dl>
                                    </li>
                                  </ul>
                                </dd>
                              </dl>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>勤務地</dt>
                            <dd>本社：東京都港区芝1-14-11芝明月ビル6F<br>TEL:03-5765-6960 FAX:03-3452-0966</dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>勤務時間</dt>
                            <dd>9：30～18：30（実働8時間、休憩1時間）<br>※職種と経験年数によっては裁量労働制の適用あり</dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>最寄駅</dt>
                            <dd>大門駅(都営大江戸線)／浜松町駅(JR)／三田駅(JR)／田町駅(JR)</dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>給与・賞与</dt>
                            <dd>
                              <dl>
                                <dt>月給20万円～50万円</dt>
                                <dd>※経験・能力・前職給与を参考に決定します</dd>
                                <dd>給与改定年1回</dd>
                                <dd>※毎年数回行う「評価ミーティング」で<br>その年の貢献度合いにより翌年の給与を決定していきます</dd>
                                <dd>業績賞与年1回</dd>
                              </dl>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>待遇･福利厚生</dt>
                            <dd>
                              <ul>
                                <li>交通費全額支給</li>
                                <li>各種社会保険完備</li>
                                <li>社外研修・セミナー受講サポート</li>
                                <li>書籍購入補助制度</li>
                                <li>産休・育休取得実績あり</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl class="line">
                            <dt>休日休暇</dt>
                            <dd>完全週休2日制(土･日)､祝日､夏季休暇、年末年始休暇、有給休暇、慶弔休暇</dd>
                          </dl>
                        </li>
                      </ul>

                      <p class="apply"><strong>ご応募は、お電話で連絡後、下記まで履歴書をお送り願います。</strong></p>

                      <ul class="summery txt3">
                        <li>
                          <dl>
                            <dt>郵送</dt>
                            <dd>東京都港区芝1-14-11芝明月ビル6F</dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>電話/FAX</dt>
                            <dd>TEL: 03-5765-6960　FAX: 03-3452-0966</dd>
                          </dl>
                        </li>
                        <li>
                          <dl class="line">
                            <dt>e-mail</dt>
                            <dd><a href="mailto:info@life-escort.co.jp">info@life-escort.co.jp</a></dd>
                          </dl>
                        </li>
                        <li><strong>「株式会社ライフエスコート 採用担当者宛」</strong>までご連絡下さい。<br>追って弊社採用担当よりご連絡差し上げます。<br>※上記、いずれも「社員採用について」とご明記下さい。</li>
                      </ul>

                      <h3 class="adopt">体験入社制度</h3>
                      <ul class="trial">
                        <li>入社してから会社に合っていないのが分かったというのでは、会社も社員も不幸です。そこで、ライフエスコートでは、一次面接を通過された方に、1日の体験入社制度を導入しております。</li>
                        <li>実際の職場で働き、ライフエスコートの雰囲気を知っていただくことで、あなた自身もライフエスコートが自分を成長させるための場になるかきちんと確認してください。</li>
                        <li>また、ランチなどを通じながらスタッフとも接していただきます。</li>
                        <li>もちろん、実際に働いていただきますので、お給料をお支払致します。<br><strong>日当 1万円（交通費込）</strong></li>
                      </ul>
                      <p><a class="totop" href="">PAGE TOP</a></p>
                   </div>

                    <div id="contents_intern" class="contents">
                      <h2><span class="ribon">02</span>インターン生募集</h2>
                      <!-- <p class="img"><img src="img/16484345.jpg" width="660" alt="インターン生募集"></p> -->
                      <div class="wrap_intern">
                        <div class="text_intern">
                          <h3>ライフエスコートの仕事を手伝ってみたい方､必見です!</h3>
                          <p class="txt">ライフエスコートでは、携帯電話向けメールマガジンの企画やオーダーメイドサプリメント、コーチング養成、ペット事業などを行っております。特に広告代理店、企画、Web、グラフィックデザイン製作に興味がある方には十分に期待して頂けます。<br>確かな実績を積み今後の自分に生かしてみませんか？もしかしたらライフエスコートは、あなたの望みが叶えられるかもしれません！ライフエスコートはあなたの夢や、将来に関するちよっとしたキッカケとなるお手伝いができます。やる気のある情熱を持った人を募集しております。</p>
                        </div>
                        <p class="illust"><img src="img/intern.png" width="250" alt=""></p>
                      </div>

                      <p class="apply txt3"><strong>ご応募は、下記まで履歴書をお送り願います。</strong></p>
                      <ul class="summery txt3">
                        <li>
                          <dl>
                            <dt>郵送</dt>
                            <dd>東京都港区芝1-14-11芝明月ビル6F</dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>電話/FAX</dt>
                            <dd>TEL: 03-5765-6960　FAX: 03-3452-0966</dd>
                          </dl>
                        </li>
                        <li>
                          <dl class="line">
                            <dt>e-mail</dt>
                            <dd><a href="mailto:info@life-escort.co.jp">info@life-escort.co.jp</a></dd>
                          </dl>
                        </li>
                        <li><strong>「株式会社ライフエスコートインターンシップ募集係」</strong>までご連絡下さい。<br>追って弊社インターンシップ募集担当よりご連絡差し上げます。<br>※上記、いずれも「インターンシップ募集について」とご明記下さい。</li>
                      </ul>

                      <!--<ul class="img img2">
                        <li>インターンシップのさらに詳しい情報は</li>
                        <li><a href="http://life-internship.com/" target="_blank"><img src="img/intern_banner1.jpg" alt="ビジネス実体験で内定を勝ち取る！ライフインターンシップ"></a></li>
                      </ul>-->
                      <p><a class="totop" href="">PAGE TOP</a></p>
                    </div>

                </section>
<%- include('../include/footer.ejs',pageInfo) %>
