<% pageInfo = {
    data:{
        title:'株式会社ライフエスコートの提供サービス｜ECコンサル＆フルサポート',
        description:'EC売上アップ戦略を提案するECコンサル＆フルサポート会社、株式会社ライフエスコートのサービス。',
        keywords:'EC,コンサル,撮影,制作,メルマガ,運用,商品登録,サポート,リニューアル,システム開発,分析,改善',
        fileName:'',
        pageType:'page'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
                <nav id="left_contents">
                    <h1>サービス<small>SERVICE</small></h1>
                    <ul>
                        <li><a href="#contents_service1">01<strong>メインサービス</strong>MAIN SERVICE</a></li>
                        <li><a href="#contents_service">02<strong>各種サービス</strong>SERVICE</a></li>
                        <!-- <li><a href="#contents_about">02<strong>会社の考え方</strong>ABOUT US</a></li>
                        <li><a href="#contents_profile">03<strong>代表プロフィール</strong>CEO PROFILE</a></li> -->
                    </ul>
                </nav>

                <section id="maincontents">
                    <div id="addcontents">
                        <div id="contents_service1" class="contents">
                            <h2><span class="ribon">01</span>メインサービス<strong>「ECコンサル&amp;フルサポート」</strong></h2>
                            <div class="support">
                                <h3>ECビジネス成功のために、一連の全ノウハウをもってサポート</h3>
                                <p class="txt">クライアント様に合わせ、本当に必要な部分をカスタマイズしてご提供します。また、不明瞭になりがちなコストは、根拠のある数値から算出。見える化されているから、安心してご依頼いただけます。<br>
                                ECビジネスの成功には、いろんなものが絡みあい、一つだけを切り取ろうとしてもなかなかうまくいかないことが往々にあります。そこで、ライフエスコートでは、ECを成功させるために、切っても切り離せない一連のサイクル「コンサルティング、プロモーション、システム相談および開発、撮影、制作、運用、レポート、改善」これらすべてのノウハウを持ち合わせ、悩みが異なるクライアント様ごとにサポート内容をカスタマイズして柔軟に提供しています。</p>
                                <p class="illust"><img src="img/service.png" alt="ECビジネス成功"></p>
                                <h4>データだけのコンサルでは足りない。</h4>
                                <p class="txt">クライアント様からご依頼を受けて、私たちが最初にやることはクライアント様の状況把握です。その時に、私たちはアクセスログのデータを見るだけではなく、実際に注文をしてどんな流れなのか、どんな同梱物があるのか等、お客様の立場に立って見ていきます。データだけではわからないことも、私たちは見逃しません。</p>
                            </div>
                            <h4>ECビジネス成功のためにライフエスコートができる領域</h4>
                            <ul class="field">
                                <li>
                                    <dl>
                                        <dt>コンサルティング</dt>
                                        <dd>解析</dd>
                                        <dd>分析・検証</dd>
                                        <dd>レポート</dd>
                                        <dd>コンセプト設計</dd>
                                        <dd>改善</dd>
                                        <dd>プロモーション</dd>
                                        <dd>戦略提案</dd>
                                        <dd>競合調査</dd>
                                        <dd>相談・解決</dd>
                                        <dd>業務最適化</dd>
                                        <dd>コスト最適化</dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt><span>撮影<br>（自社で都内に4か所の撮影スタジオを所持）</span></dt>
                                        <dd>商品撮影</dd>
                                        <dd>モデル撮影</dd>
                                        <dd>動画撮影</dd>
                                        <dd>画像加工</dd>
                                        <dd>切り抜き</dd>
                                        <dd>動画サービス</dd>
                                        <dd>採寸</dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>制作</dt>
                                        <dd><span>各種バナー（スマホを含む）</span></dd>
                                        <dd><span>各種ページ（スマホを含む）</span></dd>
                                        <dd>コーディング</dd>
                                        <dd>CSS設計</dd>
                                        <dd>Javascript導入</dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>運用</dt>
                                        <dd><span>商品登録（データ取りまとめと原稿作成含む）</span></dd>
                                        <dd>メルマガ</dd>
                                        <dd><span>LINE公式アカウント運用</span></dd>
                                        <dd>コールセンター</dd>
                                        <dd>受注代行業務</dd>
                                        <dd>メールカスタマー</dd>
                                        <dd><span>モール出店・リニューアル・運用</span></dd>
                                        <dd>サンキューメール</dd>
                                        <dd>各種フォーム</dd>
                                        <dd>各種更新</dd>
                                        <dd>イベント・セール実施</dd>
                                        <dd>SNS運用</dd>
                                        <dd>スケジュール管理</dd>
                                        <dd>カート導線最適化</dd>
                                        <dd>SEO対策</dd>
                                        <dd>アフィリエイト</dd>
                                        <dd>広告運用</dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>システム</dt>
                                        <dd>相談</dd>
                                        <dd>開発</dd>
                                        <dd>データバックアップ</dd>
                                        <dd>在庫連動・管理</dd>
                                        <dd>セキュリティ</dd>
                                        <dd>ドメイン</dd>
                                    </dl>
                                </li>
                            </ul>
<style>
#contents_service1 .btnArea li{
    margin: 0 10px;
}
#contentsbody .btn a{
    box-sizing:border-box;
    width:300px;
    height:auto;
    line-height: 1.3;
    padding:10px 0;
    /*padding-left: 20px;*/
    position: relative;
}
#contentsbody .btn a:before {
    position: absolute;
    top:50%;
    margin-top: -9px;
    left:10px;
}
</style>
                            <div class="report">
                                <h4>これらの観点から、御社の売上アップ、負担軽減、問題解決、内製化を目指します。</h4>
                                <p class="txt">一連の全ノウハウがあるからこそ、今の御社に何が必要なのか、逆に必要ではないものは何か、きちんと精査し、御社にあったご提案ができるのです。ある日突然、ECの責任者になった時、「今の業務は最適か？コストは妥当か？」それらを調査する第二オピニオン的な役割としても、弊社は機能しています。<br>
                                また、不明瞭になりがちなコストについては、根拠のある数値から算出します。「なぜこんな費用がかかるんだろう・・・」という不安を解消し、安心して依頼することができます。</p>

                                <p class="illust"><img src="img/service1.png" alt="コスト最適化" width=""></p>
                                <p class="txt">お打合せについては、対面だけでなく、時間の無駄を省くためネット打ち合わせにも対応。このスピード感は、まるで社内で一緒に仕事をしているかのような感覚です。なお、確認事項はメールを活用し、内容相違がないようにしています。御社のECに関して少しでも気になることお悩みのことがありましたら、お気軽にお問合せ下さい。</p>
                                <h5>ECコンサル&amp;フルサポート</h5>
                                <ul class="btnArea">
                                    <li class="btn"><a href="https://www.life-escort.co.jp/works.html#consulting_support">クライアント様も思わず納得！<br>右肩あがりの成功事例はこちら</a></li>
                                    <li class="btn"><a href="https://www.life-escort.co.jp/form/inquiry.php?id=ec" onclick="ga('send','event','お問い合わせボタン','クリック','ec',true);" target="_blank">専任の担当者がお答えします<br>お悩み解決はこちらまで</a></li>
                                </ul>
                            </div>

                            <div class="pick">
                                <h4>時間単位でのサービス提供も可能です！</h4>
                                <p class="txt">昨今注目されている内製化。そんな内製化を実施した企業様の悩みには、ピンポイントで必要な時だけECサポートをしてほしいというものがあります。<br>
                                そこでライフエスコートでは、そんなニーズに応えて、必要な時だけ利用できる時間単位でのECサポートサービスも提供しています。クライアント様の状況に合わせて、サービスの提供方法も柔軟にカタチを変えて対応させていただきます。</p>
                                <ul class="btnArea">
                                    <li class="btn"><a href="https://www.life-escort.co.jp/form/inquiry.php?id=ecpertime" onclick="ga('send','event','お問い合わせボタン','クリック','ecpertime',true);" target="_blank">低コストでECを運営するには？<br>時間単位でのECサポートサービス</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div id="contents_service" class="contents">
                      <h2><span class="ribon">02</span>各種サービス<small>SERVICE</small></h2>


<%- include('../include/service-list.ejs',pageInfo) %>


                        <p><a class="totop" href="">PAGE TOP</a></p>
                   </div>

                </section>
<%- include('../include/footer.ejs',pageInfo) %>
