<% pageInfo = {
    data:{
        title:'株式会社ライフエスコートのビジョン｜EC売上アップ',
        description:'EC売上アップ戦略を提案する株式会社ライフエスコートのビジョン。',
        keywords:'EC,コンサル,コンサルティング,アクセス解析,分析,戦略,オムニチャネル,ビジョン',
        fileName:'',
        pageType:'page'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
                <nav id="left_contents">
                    <h1>ビジョン<small>VISION</small></h1>
                    <ul>
                        <li><a href="#contents_business">01<strong>事業内容</strong>OUR BUSINESS</a></li>
                        <li><a href="#contents_about">02<strong>会社の考え方</strong>ABOUT US</a></li>
                        <li><a href="#contents_profile">03<strong>代表プロフィール</strong>CEO PROFILE</a></li>
                    </ul>
                </nav>

                <section id="maincontents">
                    <div id="contents_business" class="contents">
                        <h2><span class="ribon">01</span>事業内容<small>OUR BUSINESS</small></h2>
                        <h3>弊社は、「ECサイトの企画運営」から、アクセス解析・各種統計分析を用いて
                        「オムニチャネル」戦略実践を提案するベンチャー企業です。
                        </h3>

                        <div id="penAnimation">
                            <img class="book" src="img/vision_message_book.png" alt="">
                            <span class="mask"></span>
                            <img class="pen" src="img/vision_message_pen.png" alt="">
                        </div>
                        <p class="txt">インターネットツールの普及により、様々な各種購買データ、統計データ、お客様の口コミ、レビューなどを組み合わせ分析し事業にスピードをもって反映させることが、お客様との“絆”作りだと考えています。このスピードがが今後の企業の明暗を分けると思っております。<br>
                            そこで、弊社ではノウハウ構築及び実践する為、１、接触頻度が高く（平均訪問回数月4.0日）、２、重要な個人情報取り扱い（過去の既往症から現在の症状の取り扱い）、３、身体、心の治療（15分間かけ身体と心の治療を行う）鍼灸整骨院マーケットに参入しています。人と人との関わり方が重要となるマーケットで、オムニチャネルの実践ノウハウを構築し、そのノウハウを共有する為に整理、活用しております。誰もが活用できる状態にされたものがデジタルマーケテイングの一環だと弊社では認識しております。<br>
                            ライフエスコートでは、リアルマーケットとデジタルマーケット両方の事業において、数値・指数をもとに具体的な問題提起をし、具体的な解決策を発信していくことをミッションとしています。
                        </p>




                        <p><img src="img/vison_img01.gif" alt=""></p>
                        <p><a class="totop" href="">PAGE TOP</a></p>
                   </div>

                    <div id="contents_about" class="contents">
                        <h2><span class="ribon">02</span>会社の考え方<small>ABOUT US</small></h2>
                        <p>私たちが目指す会社像</p>
                        <h3>関わった人(クライアントさま､スタッフ)<br>
                            全ての人をハッピーにする会社を目指します。
                        </h3>
                         <div id="glassAnimation">
                            <img class="left" src="img/vision_glass_left.png" alt="">
                            <img class="right" src="img/vision_glass_right.png" alt="">
                            <img class="star" src="img/vision_glass_star.png" alt="">
                        </div>
                         <ul id="rule">
                            <li>一つ、「大いに遊び､とことん仕事をする」</li>
                            <li>一つ、「うそをつかない､わからないことは必ず調べる」</li>
                            <li>一つ、「無知を恥とする」</li>
                            <li>一つ、「自分が使いたくないものは絶対相手にすすめない」</li>
                            <li>一つ、「経験のない仕事に取り組むときは、赤字覚悟で取り組み必ず結果を出す！」</li>
                        </ul>
                        <p class="txt">どんなにITが進化しても、”誰と一緒に仕事”をするか、その仕方で結果もずいぶん変わってきます。<br>
                            Webサイト作成やプログラムの技術があり、その技術をもとにクライアント様の指示通り何かを作っでも満足してもらえない、逆にクレームになってしまうという方も少なくありません。その原因が、その方のコミュニケーション能力不足だとか、議事録を作っていないからだとかいう方もいらっしやいますが、それは見当違いだと思います。
                        </p>
                        <h4>あなたご自身でその両方の立場で考えてみてください。</h4>
                        <div id="think">
                            <div id="humanAnimation">
                                <img class="human" src="img/vision_human.png" alt="">
                                <span class="left"></span>
                                <span class="right"></span>
                            </div>
                            <p class="txt">「ものを作る側」は、いわれた通りのもの作ろうとする。しかし、使う側の立場になったとき、実はそれが使いにくかったり、わかりにくかったり、使えないというご経験はありませんか？私たちは毎日その現場に立会います。<br>
                                「売上を上げる」「会員数を伸ばす」そういう目的は共有していても、<strong>実際に使うユーザー側の立場に立って情報を整理するという部分が欠落しているがために、このようなことが起こるのです。</strong>
                            </p>
                        </div>
                        <p class="txt">実際に使うユーザー側の立場に立って情報を整理できる人、つまり企業の戦略を理解し、戦術に落とし込む際に必要な情報の“さがしやすさ”“みつけやすさ”をデザインし、操作性はもとより集客から購入、リピート、そして店頭、Webだけでは完結せず、関わるスタッフにも分かりやすく情報を伝えていく設計者とその管理者こそがこれからの時代必要不可欠になってくると思います。<br>
                            <br>
                            ライフエスコートでは、そんな“さがしやすさ”“みつけやすさ”を想像、創造できる人材育成、つまりIA＝情報アーキテクチャーをたくさん世の中に出せる会社にしていきます。<br>
                            そして、全世界69億人の役に立てるプラットフォームの提供や、情報整理発信し、人と人をつなげ、毎日を楽しくビジネスを行い適正な利潤を追求していきます。
                        </p>
                        <p><a class="totop" href="">PAGE TOP</a></p>
                    </div>

                    <div id="contents_profile" class="contents">
                        <h2><span class="ribon">03</span>代表プロフィール<small>CEO PROFILE</small></h2>
                        <div id="photo">
                            <h3>「社長という言葉に憧れて」</h3>
                            <dl>
                                <dt>株式会社ライフエスコート 代表取締役</dt>
                                <dd>多賀井 隆之</dd>
                            </dl>
                            <h4>社長という言葉に憧れて、<br>
                                自分でビジネスの真似事に明け暮れていた学生時代
                            </h4>
                            <p class="txt">私は大学生の頃から、自分でビジネスを組み立て、色々と考えたり行ったりしていました。ただ、本格的にビジネス進出をする前に、まずはサラリーマンを経験しようと思い、在学中に一番興味を持ったダイレクトマーケティングというニッチな業界に飛び込みました。今では、ダイレクトマーケティング企業なんて、あまりめずらしくはありませんが、十数年前、ダイレクトマーケティングを全面にうたっている会社はあまりありませんでした。
                            </p>
                        </div>
                        <div id="bag">
                            <h4>その当時ニッチだったダイレクトマーケティング会社で、<br>
                            ぶっ倒れるまで働いた日々</h4>
                            <p class="txt">私は、ダイレクトマーケティングのベンチャー企業で勢いよく伸びている会社を見つけ、入社しました。そこで約8年間営業経験を積み営業、企画、制作を学びました。小さい会社でしたので何でも一人でやりました。はじめは私自身の年齢も若く、経験実績がない状態でしたので新規開拓が大変でしたが、さまざまなクライアントとお付き合いさせていただく中で、紹介、紹介で広がりたくさんのクライアントととお付き合いできるようになりました。</p>
                        </div>

                        <p class="txt">
                        本に書いてあることをそのままクライアントに提案し、そして結果を出してクライアントに喜ばれる。そんなことにやりがいと使命感を持ち、日中はクライアント回りに奔走し、夜はビジネス書をむさぼるように読み、朝六時頃から企画書を作成するという日々を過ごしていました。
                        </p>
                        <h4>会社の規模なんか関係なく<br>
                        自分の提案次第で何でもできると思い独立</h4>
                        <p class="txt">独立当初は前職と同じようなサービスを提供していましたが、企業様相手ではなく、『個人の喜ぶ顔をみてみたい』という思いと、『どこかの業界で革命を起こしたい』という思いから、鍼灸整骨院の経営をスタートいたしました。<br>
                        <br>
                        時代はインターネット。それに反して、鍼灸整骨院のようなリアル店舗を持つことは、正直、勇気がいりました。もちろん周りからも反対されました。しかし、ビジネスの基本は対面であり、その対面のノウハウを誰が見ても分かりやすく、しかも「欲しい」と思わせるものに情報を整理していくことが、これからのインターネット時代に必要だと思い鍼灸整骨院事業に参入しました。
                        </p>
                       <div id="pc">
                            <div id="pcAnimation">
                                <img class="co" src="img/vision_pc_co.png" alt="">
                                <img class="pc" src="img/vision_pc.png" alt="">
                                <img class="star" src="img/vision_pc_star.png" alt="">
                            </div>
                            <p class="txt">様々な情報を整理し、ホームページ、ブログ、ソーシャルメディア、メルマガといったインターネットの媒体それらを反映していくことは、リアルマーケットとリンクすることが非常に大事であることを認識し、特に店舗を持ち、インターネット市場に進出する企業様に大変喜ばれ、現在のビジネスに結びついていると感じております。また、ネット育ちのメンバーもリアル店舗の思いもよらないノウハウを学び、すぐにインターネットのメディアで試すということを繰り返しています。</p>
                        </div>

                        <p class="txt">弊社ではリアルとネットを活用し、わかりやすく情報整理できる人材育成、そして会社作りを目指していきたいと思っております。また、弊社では面白いと思ったことはどんどんやることにしています。是非皆さんとお会いできることをお待ちしております。</p>
                        <p><a class="totop" href="">PAGE TOP</a></p>
                   </div>

                </section>
<%- include('../include/footer.ejs',pageInfo) %>
