<% pageInfo = {
    data:{
        title:'システム開発によりサイト離脱率改善に貢献｜株式会社チヨダ様の成功事例',
        description:'在庫0の商品を自動で全サイト非表示に！ユーザビリティアップでサイト離脱率改善に貢献。',
        keywords:'株式会社チヨダ,成功事例,システム,離脱率改善,在庫管理',
        fileName:'',
        pageType:'jirei'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<h1>システム開発によりサイト離脱率改善に貢献<br><small>株式会社チヨダ様の成功事例</small></h1>
<p class="lead">在庫0の商品を自動で全サイト非表示に！<br>ユーザビリティアップで<strong>サイト離脱率改善</strong>に貢献。</p>
<p class="img"><img src="img/works_cyd_example04.png" alt="シュープラザ　靴スニーカー公式通販サイト" usemap="#imagemap"></p>

<map id="imagemap" name="imagemap">
  <area shape="rect" coords="5,12,650,450" href="https://store.chiyodagrp.co.jp/" alt="" target="_blank" />
  <area shape="rect" coords="663,3,992,457" href="https://store.chiyodagrp.co.jp/" alt="" target="_blank" />
  <area shape="rect" coords="996,5,1325,230" href="https://www.rakuten.ne.jp/gold/tsg-girls/" alt="" target="_blank" />
  <area shape="rect" coords="997,237,1324,459" href="https://shopping.geocities.jp/shoe-chiyoda/" alt="" target="_blank" />
  <area shape="rect" coords="1328,5,1656,230" href="https://www.amazon.co.jp/s?ref_=sv_shoes_img&me=A7JPJ9CBL5TE&merchant=A7JPJ9CBL5TE" alt="" target="_blank" />
  <area shape="rect" coords="1328,235,1657,458" href="https://www.locondo.jp/shop/in-shop/SCYD0498D" alt="" target="_blank" />
  <area shape="rect" coords="1661,4,1986,229" href="https://www.rakuten.ne.jp/gold/tsg-mens/" alt="" target="_blank" />
  <area shape="rect" coords="1661,235,1985,459" href="https://www.rakuten.ne.jp/gold/shoe-chiyoda/" alt="" target="_blank" />
</map>

<dl>
	<dt>【株式会社チヨダ様公式通販サイト】</dt>
	<%# <dd>（URL：<a href="https://store.chiyodagrp.co.jp/" target="_blank">https://store.chiyodagrp.co.jp/）</a></dd>%>
  <dd>チヨダ様は、ナイキやニューバランスといったブランドスニーカーをはじめ、メンズビジネスシューズやレディース、キッズなどの靴を全国店舗＆通販で幅広くご提供されています。</dd>
</dl>



<h2>コンサルティング前の状況</h2>
<p>全部で7店舗の通販展開をしているチヨダ様では、Amazon以外のECサイトで<strong>在庫が0になってもサイト上に商品が表示されたまま</strong>でした。（Amazonは、最初から自動的に在庫0で非表示となる機能が実装されています）</p>
<p>そのため、お客様が購入意欲を持ちページを開いても、在庫が一つもないという状態が存在していました。結果、<strong>サイト離脱率にも影響</strong>を与えていました。</p>
<p class="image">
    <img src="/img/works_cyd_example04_001.jpg" alt="">
    <small>※非表示による主な利点：商品一覧に表示された商品にも拘わらず、商品ページに行くと「在庫がない！」というお客様のイライラを解消。</small>
</p>

<h2>コンサルティング</h2>
<p>もともと弊社で管理、提供している在庫管理システムに機能を追加し、在庫0の商品について自動的に非表示にできないかを模索。<strong>在庫0の商品を非表示、その後、在庫が入ると自動で表示に変更されるシステムの提案</strong>をしました。</p>
<p>ただ、施策等の関係で、在庫がなくても表示させておかなくてはいけない商品と、逆に在庫はあるけれども一時的に非表示にしておかなければいけない商品があることがわかり、この問題にも対応できるシステム開発を同時にご提案しました。</p>


<h2>コンサルティング内容実施後（2017年度）</h2>
<p>狙い通り在庫0の商品は非表示、在庫が復活したものは表示されるようになり、お客様がページを開いてから落胆する機会は大幅に減りました。結果、<strong>サイト離脱率改善にも貢献</strong>することができました。</p>
<p>さらに施策中の商品表示非表示問題にも対応し、お客様だけでなくクライアント様からも喜ばれる<strong>融通の利くシステム</strong>となりました。</p>
<p class="image">
    <img src="/img/works_cyd_example04_002.jpg" alt="">
    <small>※表示による主な利点：広告掲載のセール商品なのに「どこに掲載されてるの？通販には取り扱いがないの？」というお客様の混乱を解消。</small>
</p>
<p>自動の他に<strong>手動での変更も可能となっているので急な変更にも対応</strong>することができます。また、「いつだれが手動で変更したのか」がわからなくならないように、その結果をメールで作業者全員に送信することで 履歴の確認と共有することができます。</p>



<p class="appeal">株式会社ライフエスコートでは、クライアント様の課題をお伺いしながら、短納期、格安で使えるシステム企画提案をさせて頂きます。</p>
<p>担当：ec-bo（エクボ）事業部マネージャー風井</p>

<%- include('../include/footer.ejs',pageInfo) %>
