<% pageInfo = {
    data:{
        title:'ユーザー参加型のコンテンツ開発で集客と商品認知度アップ｜株式会社チヨダ様の成功事例',
        description:'ユーザー参加型のコンテンツ「お天気ガールズ」を企画・システム開発し、新規ユーザー獲得（集客）と商品認知度アップに貢献。株式会社チヨダ様の成功事例です。',
        keywords:'株式会社チヨダ,成功事例,イベント,企画,コンサルティング',
        fileName:'',
        pageType:'jirei'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<h1>ユーザー参加型のコンテンツ開発で集客と商品認知度アップ<br><small>株式会社チヨダ様の成功事例</small></h1>
<p class="lead">驚異の正解率30%台の<strong>当たらない天気予報！？</strong></p>
<p class="img"><img src="img/works_cyd_example03.png" alt="お天気ガールズ"></p>

<dl>
	<dt>【株式会社チヨダ様（東証一部上場企業・日本最大級靴・シューズ専門店）】</dt>
	<dd>（店舗URL：<a href="https://www.chiyodagrp.co.jp/" target="_blank">https://www.chiyodagrp.co.jp/）</a></dd>
  <dd>メールマガジン等のプッシュ型集客ではなく、「毎日ちょっと自然に見たくなるサイト」をテーマにしたプル型集客事例。</dd>
</dl>

<h2>クライアント様が抱えていた課題</h2>
<p>今回、クライアント様が抱えていた課題は主に3つ。</p>

<dl class="task">
	<dt>【課題】</dt>
	<dd>
		<ol>
			<li>プライベートブランドの認知度アップ</li>
			<li>新規ユーザーの獲得</li>
			<li>ユーザーと継続的にコミュニケーションを取り続ける</li>
		</ol>
	</dd>
</dl>
<dl>

<p>さらに、あくまでライフスタイルの一提案でしかない靴を、いかに異業種様とコラボレーションしやすいコンテンツにするかというのも課題でした。</p>

<h2>広告代理店様主導で、企画がスタート</h2>
<p>
  <img class="photo-right" src="img/works_cyd_example03_img01.png" alt="">
  あくまでも押し付けではなく、ユーザー参加型の企画が望ましいということになり、どういったコンテンツがいいか議論になりました。すると、毎日意識してテレビ、雑誌、新聞、Webを見るのは、<strong>「天気予報」</strong>か<strong>「占い」</strong>という２つに絞り込まれ、結果、株式会社チヨダ様のメイン商品 “靴・シューズ”を使った昔懐かしの靴を飛ばして天気を予想する「天気予報」コンテンツに決定しました。
</p>
<p>もちろん飛ばす靴は、認知度アップのためにプライベートブランドの靴です。また、株式会社チヨダ様の靴を履きながら全身のコーディネートも見せられれば、当初の課題でもあった異業種様とのコラボレーションも今後しやすくなっていくのではないかということで、</p>
<ol>
  <li>靴を飛ばしながら＝認知度アップ、</li>
  <li>登場する女性のファッションコーディネートを見てもらい＝異業種コラボ、</li>
  <li>女の子がアップで靴を持ちながら天気予報を発表＝認知度アップ・新規ユーザー獲得、</li>
  <li>さらに、実際の当日の天気と比較して正答率を表示していく＝毎日ユーザーに来訪してもらう</li>
</ol>
<p>という仕様を考え、動画を活用することになりました。</p>
<p>コンテンツ名は、紆余曲折ありましたが<strong>「お天気ガールズ」</strong>に決定されました。当然のことですが、天気予報ですから365日提供しなくてはなりません。日替わりで靴飛ばし占いに出演していただけるファッション力のある女性をどこからひっぱってくるかという問題もありましたが、ここは、広告代理店様のお力と雑誌者様のお力で、ある雑誌の読者モデルさんが出演して頂けることになりました。</p>

<h2 class="clear">最終的なメディアの評価と効果</h2>
<p>
  <img class="photo-right" src="img/works_cyd_example03_img02.png" alt="">
  当サイトの天気予報は、<strong>女の子の「靴占い」による予想</strong>です。プレサイトオープン期間中（5月10日～5月31日）の天気予報正解率は<strong>40％</strong>でした。これは、気象庁発表の2009年「夕方予想、明日の天気」の「降水の有無の適中率」全国平均正解率84％と比較するとかなり低い正解率です。現在では35％まで落ち込んでおります。<strong>『当サイトは、天気予報を通して楽しんでいただくことを目的としており、本格的な天気予報ではございません。天気が当たらなかった際の苦情・クレームは、受け付けておりませんので予めご了承くださいませ。』</strong>といった内容が取り上げられ集客効果もありました。過去の天気予報も視聴できる仕様にし、過去再生回数の多かった人を期間限定などで再度登場させたり、夏は水着、浴衣、冬はサンタクロースの格好をして靴飛ばしをしたりするなど、大盛り上がりの企画となりました。
</p>

<h2 class="clear">ライフエスコートの役割は・・</h2>
<p>クライアント様の具体的な課題を把握し、<strong>広告代理店様と連携しながら費用をあまりかけず使えるシステム開発</strong>をすること、さらに<strong>企画の掘り下げと実際の集客</strong>を行うことでした。</p>

<h3>集客するために・・・</h3>
<dl>
  <dt>1. 「Yahoo!ウィジェット」「Googleガジェット」を作成し配布。</dt>
  <dd>お天気ガールズのプレサイトを当社のスタッフブログで1度告知したところ、口コミで広がり、告知から約2週間で「Yahoo!ウィジェット」の<strong>週間ダウンロード数の2位にランクイン</strong>（2010年5月24日更新分）しました。</dd>
  <dt>2. Youtube、ニコニコ動画、ustreamの活用。</dt>
  <dd>動画のエンコードなど行い、画質を落とすことなくこれらの<strong>動画サイトへ365日投稿</strong>、集客活動を行いました。</dd>
</dl>

<h3>費用を抑えるために・・・</h3>
<dl>
  <dt>3. 動画配信システムの提供PC環境については、すべて自社作成。</dt>
  <dd>携帯、スマートフォンについては、開発費等を抑えるため株式会社Ｊストリーム様（<a href="https://www.stream.co.jp/" target="_blank">https://www.stream.co.jp/</a>）のASPサービスを採用させていただきました。</dd>
  <dt>4. Webサイト、携帯サイト構築 365日分の動画をサムネイル等で見えるようにしました。</dt>
  <dd>具体的には、過去再生回数の多かった人を期間限定などで再度登場させ、<strong>ランキングを作成し盛り上がりを演出</strong>。さらに夏は水着、浴衣、冬はサンタクロースの格好で登場してもらうことで季節感のあるサイト演出をし、ユーザーが飽きないように心掛けました。</dd>
</dl>

<p class="appeal">株式会社ライフエスコートでは、クライアント様の課題をお伺いしながら、短納期、格安で使えるシステム企画提案をさせて頂きます。</p>

<%- include('../include/footer.ejs',pageInfo) %>
