<% pageInfo = {
    data:{
        title:'お客様相談室構築により回答スピード＆お客様満足度アップ｜株式会社マックハウス様の成功事例',
        description:'株式会社マックハウス様のお客様相談室構築＆運用代行のコンサルを実施。お客様への回答スピードが5営業日から最長1営業日に！',
        keywords:'株式会社マックハウス,成功実績,EC,通販,コンサルティング,運用,お客様相談室,コールセンター',
        fileName:'',
        pageType:'jirei'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<h1>お客様相談室構築により<br class="break2">回答スピード＆お客様満足度アップ<br><small>株式会社マックハウス様の成功事例</small></h1>
<p class="lead">
  お問合せ～回答までの流れを整理し、仕組みを構築。<br class="break">お客様への<strong>回答スピード</strong>が<strong>5営業日から最長1営業日</strong>に！<br class="break">さらに社内および店舗スタッフの<strong>手間</strong>と<strong>時間</strong>が<strong>大幅削減</strong>。<br class="break">PDCAを回し、ホームページを改善することで<strong>相乗効果を発揮</strong>。
</p>
<p class="img"><img src="img/works_mh_inquiry.png" alt="株式会社マックハウス様　お客様相談室構築＆運用代行"></p>

<h2>コンサルティング前の状況 </h2>
<ul>
    <li>お客様相談室というのは、クレーム電話と認識されていたり、時間がかかるという雰囲気があり、なかなか率先して対応するという状況になっていなかった。</li>
    <li>社内に専門のコールセンタースタッフがおらず、<strong>責任の所在が不明確</strong>だった。そのため、誰が対応できるかわからずお問合せから<strong>回答までに1週間かかる</strong>ケースも珍しくなかった。また、対応済みか否かわからず自然消滅になる<strong>ケース</strong>もあった。</li>
    <li>お問合せに関する内容および回答が社内共有できていなかったため、回答が<strong>人によってまちまち</strong>になることもあった。</li>
    <li>新聞掲載の日は、お問合せ電話で<strong>回線がパンク状態</strong>になっていた。</li>
</ul>

<h2>実施内容</h2>
<ul>
    <li>お問合せ～回答までの<strong>問題点洗い出しと改善施策実施</strong></li>
    <li>コールセンター回線増設（1回線から4回線へ）および請負</li>
    <li>カスタマーサービス用メールアドレスおよびお問合せフォームの設置</li>
    <li>ホームページの改善</li>
    <li>電話にて注文受付実施</li>
    <li>コールセンターマニュアル作成</li>
    <li>Q&A作成</li>
    <li>メール回答フォーマット作成</li>
    <li>新聞広告とホームページおよび通販サイトの連動実施</li>
    <li>お客様相談室へのお問合せ内容および流入元等の集計および分析</li>
</ul>

<h2>コンサルティング内容実施後<small>（2014年3月度）</small></h2>
<ul>
    <li>お客様への回答スピードが<strong>最長1営業日に短縮</strong>。</li>
    <li>社内および店舗スタッフの<strong>手間</strong>と<strong>時間</strong>が<strong>大幅に削減</strong>された。</li>
    <li>電話注文受付により<strong>売上への貢献</strong>が可能に。</li>
    <li>流入媒体の数値を計測することによって、<strong>出稿媒体の最適化</strong>を図ることができた。</li>
    <li>お客様相談室の<strong>サービス向上</strong>および<strong>均一化を実現</strong>。</li>
    <li>ホームページを改善することで<strong>相乗効果発揮</strong>。</li>
</ul>

<%- include('../include/footer.ejs',pageInfo) %>
