<% pageInfo = {
    data:{
        title:'わずか2週間でお友達数300万人突破！ECへの誘導も確保し売上貢献｜株式会社マックハウス様の成功事例',
        description:'株式会社マックハウス様LINE公式アカウントのコンサルティングを行い、戦略に基づくコンテンツ・スタンプ配信を実施。わずか2週間でお友達数300万人突破！',
        keywords:'株式会社マックハウス,成功実績,LINE,コンサルティング,運用,フルサポート',
        fileName:'',
        pageType:'jirei'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<h1>わずか2週間でお友達数300万人突破！<br class="break2">ECへの誘導も確保し売上貢献<br><small>株式会社マックハウス様の成功事例</small></h1>
<p class="lead">
  コンセプトワークを行い、<br class="break">戦略に基づくコンテンツ・スタンプ配信を実施。<br class="break">わずか<strong>2週間</strong>で<strong>お友達数300万人突破</strong>！<br class="break">さらに<strong>1か月</strong>で<strong>400万人突破</strong>！<br class="break">現在はお友達に楽しんでもらえるコンテンツを企画配信し、<br class="break"><strong>タイムラインの「いいね」数上昇中</strong>！
</p>
<p class="img"><img src="img/works_mh_line.png" alt="株式会社マックハウス様 LINE公式アカウント"></p>

<p>マックハウス様のLINE公式アカウントでは、毎週、新製品やキャンペーン情報といったお得な情報をいち早くお届けしています。</p>
<p>LINE公式アカウント名：<a href="https://line.me/ti/p/%40mac-house" target="_blank">mac-house（マックハウス）</a></p>

<h2>コンサルティング前の状況</h2>
<ul>
    <li>スタートアップということで、関係各部署では<strong>何をすべきか手探り状態</strong>だった。</li>
    <li>初期設定だけでなく、アカウント公開後の運用にはコンテンツ配信および確認や効果検証といった<strong>多くのタスクが発生</strong>し、<strong>社内では対応しきれない</strong>ことが明確であった。</li>
</ul>

<h2>コンサルティング</h2>
<ul>
    <li>コンセプトワークを行い、<strong>戦略に基づくコンテンツ配信の計画・実施</strong></li>
    <li>無料スタンプの効果的な配信</li>
    <li>LINE公式アカウントの管理画面ではメッセージ配信のクリック数計測ができなかったため、<strong>解析ツールを導入</strong>しPDCAサイクルを実現</li>
    <li>集まったお友達からアクティブなお友達を増やすための施策を計画・実施</li>
</ul>

<h2>コンサルティング内容実施後<small>（2016年度）</small></h2>
<ul>
    <li>公式アカウント公開から、わずか<strong>2週間</strong>で<strong>お友達数300万人突破</strong>！</li>
    <li><strong>1か月後</strong>には<strong>お友達数400万人突破</strong>！</li>
    <li>配信コンテンツのPDCAを繰り返し、<strong>「いいね」数上昇中</strong>！</li>
    <li><strong>ECの誘導も確保でき、アクセスの3割がLINE経由にとなることも</strong></li>
</ul>

<h2>キャンペーン価格実施中！<br>LINE公式アカウント コンサル＆運用サービス</h2>
<p class="bnr"><a href="https://www.line-consulting.com/" target="_blank"><img src="img/banner_line_consulting03.png" alt="LINE公式アカウント コンサル＆運用サービス"></a></p>

<%- include('../include/footer.ejs',pageInfo) %>
