<% pageInfo = {
    data:{
        title:'ちょっとした工夫で楽天イベントをより効果的に活用し売上アップ｜株式会社チヨダ様（楽天市場店）の成功事例',
        description:'サムネイル画像変更でクリック率2倍以上！1週間で転換率約30％アップ！',
        keywords:'株式会社チヨダ,成功事例,EC,通販',
        fileName:'',
        pageType:'jirei'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<h1>ちょっとした工夫で楽天イベントをより効果的に活用し売上アップ<br><small>株式会社チヨダ様（楽天市場店）の成功事例</small></h1>
<p class="lead">
    クーポンバナー設置位置変更で<br class="break"><strong>取得率および使用率4倍アップ！</strong>
</p>
<p class="img main"><img src="img/works_cyd_banner-position01.png" alt="事例紹介 株式会社チヨダ様"></p>

<dl>
	<dt>【株式会社チヨダ様 楽天市場店】</dt>
    <dd>（店舗URL：<a href="https://www.rakuten.ne.jp/gold/shoe-chiyoda/" target="_blank">https://www.rakuten.ne.jp/gold/shoe-chiyoda/</a>）</dd>
</dl>

<h2>コンサルティング前の状況</h2>
<p>楽天市場の販促イベントでクーポン配布をした際、クーポンバナーをトップページにのみ配置していました。</p>
<p>そのため、使用率も取得率も悪く、<strong>せっかくのイベントも活用できていない状況</strong>でした。</p>

<h2>コンサルティング</h2>
<p>楽天市場店トップページへのアクセス数を調べると、サイト全体の10％弱しかありませんでした。</p>
<p>一方で、商品ページのアクセスは多く、お客様が商品検索をしてダイレクトに商品ページへアクセスしていることがわかりました。また、他社サイトのクーポン活用方法を調査しているとクーポンバナーを商品ページにも設置している店舗様がおり、その店舗様のクーポン利用率がいいこともわかりました。</p>
<p>そこで、今までトップページにしか設定していなかった<strong>クーポンバナーを商品ページに設置</strong>することをご提案しました。</p>
<p>（この方法は、楽天の仕様としてあまり推奨できるものではないようで、楽天のECCからは提案されません。）</p>


<h2>コンサルティング内容実施後（2017年度）</h2>
<p class="img"><img src="img/works_cyd_banner-position02.png" alt=""></p>
<p>クーポンバナーの設置位置を変更しただけで、4日間のクーポン利用数は、以前のトップページのみに掲載していた時よりも<strong>4倍以上</strong>となりました。（クーポン使用条件は実施前も後も同じ）</p>
<p>結果、楽天市場の販促イベントを活用し、売上の貢献も実現しました。</p>

<p class="appeal">株式会社ライフエスコートでは、クライアント様の課題をお伺いしながら、課題解決に必要なご提案をさせていただいております。</p>

<p>担当：ECコンサル事業部　林</p>

<%- include('../include/footer.ejs',pageInfo) %>
