<% pageInfo = {
    data:{
        title:'スマホからの商品購入導線を改善し通販売上に貢献｜株式会社マックハウス様の成功事例',
        description:'スマホからの商品購入導線を改善し、通販売上に貢献。消費者目線で問題点を洗い出すところから始まった株式会社マックハウス様の通販改善成功事例です。',
        keywords:'株式会社マックハウス,成功事例,EC,通販,ユーザビリティ,コンサルティング',
        fileName:'',
        pageType:'jirei'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<h1>スマホからの商品購入導線を改善し通販売上に貢献<br><small>株式会社マックハウス様の成功事例</small></h1>
<p class="lead">
    お客様のお声で、<strong>「わかりにくい」サイト</strong>から<br class="break"><strong>「わかりやすい」サイト</strong>へ仕組みを変更。<br>お客様の「？」がなくなり、不要なお問い合わせも激減！
</p>
<p class="img main"><img src="img/accomplishment_img_mh_store_off.png" alt="事例紹介 株式会社マックハウス様"></p>

<dl>
	<dt>【株式会社マックハウス　オンラインショップ】</dt>
	<dd>（店舗URL：<a href="http://store.mac-house.co.jp/" target="_blank">http://store.mac-house.co.jp/</a>）</dd>
</dl>

<h2>クライアント様の抱えていた課題</h2>
<dl class="task">
	<dt>【課題】</dt>
	<dd>
		<ol>
            <li>「注文したのに商品が届かない」というクレーム、何故なのか理由が分からない。</li>
            <li>「注文の仕方が分からない」という電話でのお問い合わせに、マンツーマンで対応する羽目に。</li>
            <li>「ほしい商品がいつも売り切れでガッカリ」とお客様からのお声を多数頂いていた。</li>
		</ol>
	</dd>
</dl>

<p>スマホやパソコンを使ってのショッピングが当たり前になった今、お客様の注文を間違いなく受け取り、発送まで滞りなく進めることは、ECサイトの基本中の基本。</p>
<p>その中で、注文の流れや商品のご案内がお客様へうまく伝わっておらず、<strong>「商品を見つけにくい」、「注文しにくい」などのご意見</strong>が多く聞かれておりました。</p>
<p>不要な問い合わせやクレームを減らし、お客様がスムーズに注文できるようにしたい、というのがマックハウス様の課題でした。</p>
<p>当初、「注文しにくい」とのご意見を頂いてもその理由までをお答え下さるお客様はなく、常にサイトを見ているクライアント様には<strong>「どうしてそう感じるのか？」</strong>が分かりません。</p>
<p>その謎を紐解くところから、当社のお手伝いが始まりました。</p>


<h2>ライフエスコートの役割は・・</h2>

<p>常にお客様の視点に立ち、ストレスや失敗なく買い物ができる仕組みづくりに着目。通販に慣れているスタッフだけでなく、普段通販を使わない人やご年配の方など幅広いユーザーの操作導線を実際に確認し、改善案を洗い出していきました。</p>

<dl>
  <dt>1. お客様はどこから来たのか？</dt>
  <dd>まずはお客様がどこから来ているのか？を調べてみたところ、サイトをご利用いただくお客様の<strong>約78％近くが、スマホ等のモバイル端末からアクセス</strong>していることが分かりました。</dd>
  <dd>スマホなどのモバイル端末は、パソコンに比べるとどうしても画面は小さくなり、サイトの全体像がつかみにくくなります。また、両手を使えるパソコンとは違いモバイル端末は操作性に制限があります。</dd>
  <dd>そのため、<strong>注文手続きが完了しないまま注文されたと見間違うケース</strong>が多くありました。</dd>
  <dd>そこで、以下のような点に着目して修正・改良を加えました。</dd>

  <dt>2. サイト内のボタンや画像、入力爛のサイズを大きく見やすく改良</dt>
  <dd>従来のスマホサイトにおける小さなボタンでは本当に押されているのかどうかわかりにくく、商品画像も詳細が見えないほどサイズが小さく、<strong>購入をためらう傾向</strong>が見受けられました。注文する際の個人情報入力欄も小さく見にくかったため、これらを大きくして目立つ色に変え、全体を見やすくすることで閲覧時、注文時のストレスを軽減できるように改良しました。</dd>
  <dd style="text-align:center;padding-top:1em;"><img src="img/works_mh_example01_img01.jpg" alt="" style="width:90%;"></dd>

  <dt>3. 注文の流れが見える仕組みに</dt>
  <dd>また、商品をカートに入れてから注文確定するまで、<strong>注文がどの段階なのかが見えるチャート</strong>を表示（カゴ画面→レジ画面→入力確認→完了）し、注文確定までお客様を確実に誘導できるようにしました。これにより、「今、自分がどの段階なのかわからない」というお問い合わせはほとんどなくなりました。</dd>
  <dd style="text-align:center;padding-top:1em;"><img src="img/works_mh_example01_img02.jpg" alt="" style="width:90%;"></dd>

  <dt>4. 今、買えるものだけを一覧表示</dt>
  <dd>当初、商品一覧では、「在庫あり」の商品と「在庫なし」の商品が<strong>混在して表示</strong>されていましたが、新しい仕組みでは、パソコンサイトではまず「在庫あり」の商品のみで表示され、「在庫なしを含む」という条件を選べば全商品表示される仕組みに変更。</dd>
  <dd><strong>スマホサイトにおいては「在庫あり」商品のみを表示</strong>することで、「今すぐ買えるものだけを見たい」というお客様のご要望にお応えしています。</dd>
  <dd style="text-align:center;padding-top:1em;"><img src="img/works_mh_example01_img03.jpg" alt="" style="width:90%;"></dd>
</dl>



<p>現在は、注文確定漏れや注文の流れに関する問い合わせは減ってきています。当社では、更なるご要望にお応えできるよう、<strong>モデル着用画像を掲載</strong>して着用イメージが湧きやすくするなど、より購買意欲につながるような商品情報の充実化を図っています。</p>
<p>また、在庫のある商品から閲覧、ご購入頂けるようになってきているとのことです。</p>

<p class="appeal">株式会社ライフエスコートでは、クライアント様の課題をお伺いしながら、課題解決に必要なご提案をさせていただいております。</p>

<%- include('../include/footer.ejs',pageInfo) %>
