<% pageInfo = {
    data:{
        title:'格安で独自の店舗検索システムを開発し来店促進に貢献｜株式会社チヨダ様の成功事例',
        description:'格安で使いやすい独自検索機能を搭載した店舗検索システムを開発。株式会社チヨダ様の来店促進につながった成功事例です。',
        keywords:'株式会社チヨダ,成功事例,店舗検索,システム開発,コンサルティング',
        fileName:'',
        pageType:'jirei'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<h1>格安で独自の店舗検索システムを開発し来店促進に貢献<br><small>株式会社チヨダ様の成功事例</small></h1>
<p class="lead">
  <strong>他社の半額以下“150万円”で実装！</strong>誰でも使いやすく、<br class="break">独自の検索機能も搭載した店舗検索システムの開発！
</p>
<p class="img"><img src="img/works_cyd_example02.png" alt="株式会社チヨダ様 店舗検索ページ"></p>

<dl>
	<dt>【株式会社チヨダ様（東証一部上場企業・日本最大級靴・シューズ専門店）】</dt>
	<dd>（店舗URL：<a href="https://www.chiyodagrp.co.jp/map/" target="_blank">https://www.chiyodagrp.co.jp/map/）</a></dd>
</dl>

<h2>「お客様の利便性」拡大を目指す</h2>

<p>全国に1,100以上の店舗を持つ株式会社チヨダ様では、本社及び各店舗に店舗情報に関するお電話が頻繁にかかっておりました。そのため、それに対応するスタッフの業務効率を下げるという点だけでなく、<strong>お電話のやりとりですと、店舗情報を調べたりするのにどうしても時間がかかり、お客様の時間も奪ってしまう上、しっかりとした情報が伝わらないということがありました。</strong></p>
<p>また問い合わせの中にも、インターネットで検索は出来ないのかというお問い合わせも多くありました。そこで、誰でも簡単にアクセスできるインターネット上に、よりたくさんの店舗情報を出し、お客様の利便性を向上させようということになりました。</p>


<h2>クライアント様の抱えていた課題とご要望</h2>

<dl class="task">
	<dt>【課題】</dt>
	<dd>
		<ol>
			<li>1,100以上ある店舗の情報を全てまとめなければいけない</li>
			<li>新規出店・退店が毎月（5～10店舗）ある</li>
			<li>販売業態が6種類以上存在する</li>
			<li>自社ブランド（シリーズ除く）以外に数十のブランドがあり、ブランド毎に取扱い店舗が変わる</li>
		</ol>
	</dd>
</dl>
<dl class="task">
	<dt>【ご要望】</dt>
	<dd>
		<ol>
			<li>店舗ごとで情報発信していきたい</li>
			<li>様々なツールと連携したい（Facebook,twitter,電子チラシ）</li>
			<li>PCサイト、携帯サイト、スマートフォンサイトと3つに対応したい</li>
		</ol>
	</dd>
</dl>

<p>チヨダ様は、インターネットを使った利便性の向上＝お客様の来店促進と考え、店舗情報を掲載した店舗検索システムの開発に取り組みました。しかし、全ての課題とご要望を搭載したシステムを構築しようとした場合、<strong>初期にかかる開発費だけで300～500万円</strong>かかるという見積もりが出たそうです。</p>

<h2>ライフエスコートの役割は・・</h2>
<p>上記の条件や見積もりのお話を伺い、チヨダ様では、<strong>費用が大きな課題</strong>であることが分かってきました。そこで弊社では、いかに安く、しかもシステムが完成したあとも情報を更新しやすい方法でご提案できるかが勝負でした。</p>

<p>弊社が取り組んだのは、以下の5点です。</p>

<dl>
	<dt>1. 対応デバイスを最大にすること</dt>
	<dd>PCサイト、携帯サイト、スマートフォンサイト<strong>すべてのデバイスからのアクセスを可能</strong>にしました。また、各デバイスに最適な形で検索結果が表示させることを可能にしました。</dd>
	<dt>2. 利用者が使いやすいと思われる検索サービスを提供すること</dt>
	<dd>住所検索、駅名検索、ふりがな検索、店名検索、GPS検索、ブランド検索、近隣店舗検索はもちろん、チヨダ様の取り扱いブランドが多岐に渡るため、「ブランド指名買いで来られるお客様もいらっしゃるのでは」というご意見もあり、<strong>ブランド別検索を実装</strong>しました。このブランド検索は、数百ブランドまで対応できます。</dd>
	<dt>3. 更新作業が簡単であること</dt>
	<dd>納品後も、<strong>更新担当の方が使いやすい管理画面を提供</strong>し、更新が簡単にできるようにしました。</dd>
	<dt>4. バックアップ体制の充実</dt>
	<dd>毎日、弊社でバックアップを取り、<strong>万が一の際に迅速な復旧対応ができる</strong>ようにしました。</dd>
	<dt>5. 短期間での構築</dt>
	<dd><strong>要件定義から実装まで2か月程度</strong>というスピード作業を進めました。</dd>
</dl>

<h3>＜店舗検索ページ＞</h3>
<p class="img"><img src="img/works_cyd_example02_img01.png" alt="店舗検索ページ"></p>
<p>ホームページ上に店舗検索ページを設置し、お客様が簡単に店舗を検索できるようにしました。</p>

<h3>＜店舗検索詳細ページ＞</h3>
<p class="img"><img src="img/works_cyd_example02_img02.png" alt="店舗検索詳細ページ"></p>
<p>1,100以上ある店舗独自のTwitterやチラシ、クーポンと連動させたページを作成し、利便性を向上させました。</p>

<h3>＜ブランド別検索ページ＞</h3>
<p class="img"><img src="img/works_cyd_example02_img03.png" alt="ブランド別検索ページ"></p>
<p>ブランド毎に取扱い店舗が変わるため、ブランド別検索ページを設置しました。</p>

<p>さらに導入後も、時流に合わせて改修が必要となることもあるため、それを見越したシステム構築を行うことで、改修時には格安で対応できるようになっています。</p>

<p class="appeal">株式会社ライフエスコートでは、自社のシステム開発も他社に比べて低価格でご提供させて頂きます。もし、現在のシステムや価格に満足できていない場合には、ぜひ一度ご相談ください。</p>

<%- include('../include/footer.ejs',pageInfo) %>
