<% pageInfo = {
    data:{
        title:'サムネイル画像変更で売上アップに貢献｜株式会社チヨダ様（楽天市場店）の成功事例',
        description:'サムネイル画像変更でクリック率2倍以上！1週間で転換率約30％アップ！',
        keywords:'株式会社チヨダ,成功事例,EC,通販',
        fileName:'',
        pageType:'jirei'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<h1>サムネイル画像変更で売上アップに貢献<br><small>株式会社チヨダ様（楽天市場店）の成功事例</small></h1>
<p class="lead">
    サムネイル画像変更で<strong>クリック率2倍以上！</strong><br class="break">1週間で<strong>転換率約30％アップ！</strong>
</p>
<p class="img main"><img src="img/works_cyd_thumbnail01.png" alt="事例紹介 株式会社チヨダ様"></p>

<dl>
	<dt>【株式会社チヨダ様 楽天市場店（複数店舗）】</dt>
</dl>

<h2>コンサルティング前の状況</h2>
<p class="img"><img src="img/works_cyd_thumbnail02.png" alt=""></p>
<p>検索結果に表示されるサムネイル画像に靴だけの写真を使用していました。</p>

<h2>コンサルティング</h2>
<p>検索結果一覧に表示されたとき、商品の魅力を伝えるキャッチコピーや<strong>着用イメージがわく画像</strong>を入れるのは楽天市場店において鉄則です。</p>
<p>特に女性向け商品は<strong>視覚からのアプローチが重要</strong>で、ぱっと見で「いいな」「興味ないな」と思うかどうか判断されてしまいます。</p>
<p>そこで、キャッチコピーや着用画像を使用してサムネイル画像を作り、差し替えをするご提案をしました。着用画像はすでにあるものを使うようにし、なるべく<strong>手間や経費が掛からないよう</strong>にしました。</p>


<h2>コンサルティング内容実施後（2017年度）</h2>
<p class="img"><img src="img/works_cyd_thumbnail03.png" alt=""></p>
<p>モデルさんの履きカット画像とパンプスの上部からのカット（トゥの形状が見えやすいように）、パンプスの真横のカット（ヒールの高さや形状が分かりやすいように）をサムネイル画像に配置。</p>
<p>さらに、文言も「送料無料」等、反応のいいものをピックアップし入れ込みました。視覚的にも見栄えの良さもあってか、スマホクリック数が大きいもので<strong>2倍以上</strong>になり、転換率も0から翌週<strong>約30％と大幅に伸び</strong>を見せました。</p>
<p>ほとんど経費をかけずに売上貢献につながり、クライアント様からも喜んでいただけました。</p>


<p class="appeal">株式会社ライフエスコートでは、クライアント様の課題をお伺いしながら、課題解決に必要なご提案をさせていただいております。</p>

<p>担当：EP事業部　坂本</p>

<%- include('../include/footer.ejs',pageInfo) %>
