<% pageInfo = {
    data:{
        title:'靴の履き心地を掲載し返品・交換数が激減｜株式会社チヨダ様の成功事例',
        description:'お客様とクライアント様の両方の目線から課題解決をサポート。靴の履き心地コメントの採取と掲載で、返品・交換が圧倒的に減少！株式会社チヨダ様の成功事例です。',
        keywords:'株式会社チヨダ,成功事例,EC,通販,商品ページ,履き心地,コンサルティング',
        fileName:'',
        pageType:'jirei'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<h1>靴の履き心地を掲載し返品・交換数が激減<br><small>株式会社チヨダ様の成功事例</small></h1>
<p class="lead">
  <strong>お客様とクライアント様の両方の目線から課題解決をサポート。</strong><br class="break">靴の履き心地コメントの採取と掲載で、<strong>返品・交換が圧倒的に減少！</strong>
</p>
<p class="img main"><img src="img/works_cyd_example01.png" alt="事例紹介 株式会社チヨダ様"></p>

<dl>
	<dt>【株式会社チヨダ様（東証一部上場企業・日本最大級靴・シューズ専門店）】</dt>
	<dd>（店舗URL：<a href="http://store.chiyodagrp.co.jp/" target="_blank">http://store.chiyodagrp.co.jp/</a>）</dd>
</dl>

<h2>クライアント様の抱えていた課題</h2>
<dl class="task">
	<dt>【課題】</dt>
	<dd>
		<ol>
			<li>履き心地やサイズに関する問い合わせが多数くる</li>
			<li>サイズ違いでの返品対応を極力減らしたい</li>
			<li>履き心地コメント採取し、対応する時間がない</li>
		</ol>
	</dd>
</dl>

<p>靴の通販でよくある課題は、「靴は試着してみないとサイズが不安・・・」というお客様が多いことです。靴・シューズ専門店のチヨダ様でも他店同様に<strong>靴の履き心地や履いた時のサイズ感、素材などに関する問い合わせが本社にも相次いでおりました。</strong>最近は、無料で返品交換を行う靴の通販も増えてきていますが、「いつものサイズでは合わなかった」などの返品交換対応も減らしたいというのがチヨダ様の課題でした。</p>

<p>これらの課題を解消すること、そして、もともとお客様から「履き心地のコメントを掲載してほしい」というお声もいただいていたため、履き心地コメントの実施をご提案させていただきました。</p>

<p>しかし、チヨダ様では常時1万点以上の靴を取り揃えており、新商品もどんどん追加されています。ただでさえ受注処理関係でお忙しいチヨダ様自身ですべての商品を履いて、コメントを取るというのは難しい状況でした。そこで、弊社がチヨダ様に代わって、履き心地コメントの採取からサイト掲載までを一貫してお手伝いさせていただくことにしたのです。</p>


<h2>ライフエスコートの役割は・・</h2>

<p>あくまでも<strong>お客様とチヨダ様の両方の目線で、履き心地のコメントを採取</strong>することが重要でした。</p>
<p>そのために重要なことは…</p>

<dl>
  <dt>1. 専門用語を使用しない（お客様目線で！）</dt>
  <dd>販売側が理解していても、お客様がわからない用語というのは靴にも存在します。（そういった専門的な用語は避け、あくまでも<strong>お客様にわかりやすい表現</strong>をしています。</dd>
  <dd>※例：ライニング⇒靴の内側の素材のこと　など</dd>

  <dt>2. マイナスイメージを与える表現を避ける（チヨダ様のご意向を尊重して！）</dt>
  <dd>履き心地コメントに、「履きにくい」「重い」「素材が固い」などのマイナス表現があると、いくら履き心地コメントがあってもお客様の購買意欲を失ってしまいます。そのため、そういった<strong>マイナスのイメージを与える表現は避け、言葉を言い換えて書く</strong>ようにしています。</dd>
  <dd>※例：素材が固い⇒素材がしっかりしている　など</dd>

  <dt>3. 足の形が異なるモデルを用意する（お客様目線で！）</dt>
  <dd><strong>幅広・甲高のモデルと通常の足のモデルで履き心地コメントの採取</strong>を行っています。なぜなら、同じ足のサイズ、形をしているとコメントも同じようなものが集まり、幅広い方に参考にしていただけないと考えたからです。</dd>
</dl>


<h2>履き心地コメント掲載例</h2>
<p class="img"><img src="img/works_cyd_example01_img01.png" alt="履き心地コメント掲載例"></p>

<p>これらの履き心地コメントは、PCだけでなく・携帯・スマホにも掲載しています。3つのディバイスに合うように、一か所に履き心地コメントを入力すれば、それぞれに追加できるような状態になるように仕組みを作っています。</p>

<p>現在は、月に2回、それぞれ30足ずつ履き心地コメントの採取をしております。この履き心地コメントを追加することによって、お客様から履き心地やサイズに関するお問い合わせは減ってきており、サイズ交換や返品も従来に比べると少なくなってきたそうです。また、お客様からも<strong>コメントを参考に自分に合ったサイズを買うことができた</strong>という声も上がっているそうです。</p>

<p class="appeal">株式会社ライフエスコートでは、クライアント様の課題をお伺いしながら、課題解決に必要なご提案をさせていただいております。</p>

<%- include('../include/footer.ejs',pageInfo) %>
