<% pageInfo = {
    data:{
        title:'業務＆ページ最適化をはかり3か月で通販売上577％アップ｜株式会社マックハウス様の成功事例',
        description:'株式会社マックハウス様の業務最適化およびEC（通販）サイトのコンサルティング＆フルサポートを実施し、3か月で通販売上577％UP！',
        keywords:'株式会社マックハウス,成功実績,EC,通販,コンサルティング,運用,フルサポート',
        fileName:'',
        pageType:'jirei'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<h1>業務＆ページ最適化をはかり3か月で通販売上577％アップ<br><small>株式会社マックハウス様の成功事例</small></h1>
<p class="lead">
  業務最適化および通販サイトのコンセプトワークを実施し、<br class="break"><strong>3か月で通販売上577％UP！</strong><br class="break">4年経った今もページ最適化を繰り返し、<br class="break"><strong>売り上げは右肩上がりで成長中！</strong>
</p>
<p class="img"><img src="img/works_mh_ecsupport.png" alt="株式会社マックハウス様"></p>

<p>マックハウス様は、メンズ、レディース、キッズのジーンズ、シャツ（Tシャツ）、インナーといったカジュアルスタイルを全国店舗＆通販でご提供しています。</p>
<p>マックハウスオンラインショップ店舗URL：<br class="break2"><a href="http://store.mac-house.co.jp/" target="_blank">http://store.mac-house.co.jp/</a></p>

<h2>コンサルティング前の状況</h2>
<ul>
    <li>自社サイトの他、モールへの出店も行っていたが、運営人数も少なく、<strong>集客や売上アップの施策までなかなか手が回らない</strong>状況だった。</li>
    <li><strong>売上拡大に向けて運営の見直し</strong>をしたいと考えていた。</li>
</ul>

<h2>コンサルティング</h2>
<ul>
    <li>複雑な状況を把握するためにEC担当者や受注スタッフなどECに関わっている全スタッフから約2週間のヒアリングを行い、<strong>業務整理および問題点の洗い出し</strong>。</li>
    <li>雑多な業務を減らすことを考え、まずは<strong>受注の効率化</strong>（受注管理システム導入、返品交換受注フロー見直し）を実施。</li>
    <li>商品登録作業の整理と<strong>複数店への同時商品登録</strong>をライフエスコートで代行。</li>
    <li>通販の立ち位置をコーポレートサイトの受け皿として機能するようにし、コーポレートサイトの流入を意識して、コーポレートサイトおよび通販サイトを再構築。</li>
</ul>

<h2>コンサルティング内容実施後<small>（2013年11月度）</small></h2>
<ul>
    <li>もともと3人で行っていた受注処理を<strong>約2か月後には1人で対応可能</strong>に！結果、集客や売上アップ施策のために時間を使えるように！</li>
    <li>今までモールへの商品登録は1か月遅れとなっていたが、複数店への<strong>同時登録が可能</strong>になり、<strong>在庫の最適化</strong>を実現。</li>
    <li><strong>3か月</strong>で通販全体の売上<strong>577％UP</strong>！</li>
    <li><strong>1年</strong>でコーポレートサイトの<strong>訪問者数210％UP</strong>、自社通販サイトの<strong>訪問者数705％UP</strong>、<strong>売上400％UP超え</strong>！</li>
    <li>現在もページ最適化を繰り返し、<strong>売り上げはまだまだ成長中</strong>。</li>
</ul>

<%- include('../include/footer.ejs',pageInfo) %>
