<% pageInfo = {
    data:{
        title:'無駄を省き撮影コスト20％ダウン。撮影クオリティも均一化｜株式会社マックハウス様の成功事例',
        description:'株式会社マックハウス様の商品・モデル撮影および商品説明文作成（ささげ業務）を実施。大幅コストダウン＆手間と時間の削減に成功。',
        keywords:'',
        fileName:'',
        pageType:'jirei'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<h1>無駄を省き撮影コスト20％ダウン。<br class="break2">撮影クオリティも均一化<br><small>株式会社マックハウス様の成功事例</small></h1>
<p class="lead">
  チラシ用と通販用の<strong>撮影を一元化</strong>することにより、<br class="break"><strong>大幅コストダウン&amp;商品手配～撮影までの手間と時間を削減。</strong><br class="break">さらに撮影画像は商品データベースとしても活用。
</p>
<p class="img"><img src="img/works_mh_studio.png" alt="株式会社マックハウス様　商品・モデル撮影および商品説明文作成"></p>

    <p>マックハウスオンラインショップ店舗URL：<a href="http://store.mac-house.co.jp/" target="_blank">http://store.mac-house.co.jp/</a></p>
    <p>マックハウスデジタルチラシURL：<a href="https://www.mac-house.co.jp/pop/mh/" target="_blank">https://www.mac-house.co.jp/pop/mh/</a></p>

<h2>コンサルティング前の状況 </h2>
<ul>
    <li>チラシに掲載すると予定した商品のみの撮影だったため、チラシ掲載商品の変更が戦略的にできなかった。</li>
    <li>チラシ用に撮影した商品も、通販用に再度商品を取り寄せ撮影する必要があり、2度手間が発生していた。もちろんコストも膨れ上がり、担当者は頭を抱えていた。</li>
    <li>撮影するカメラマンがいつも異なっていたため、色味や角度がばらついていた。</li>
    <li>撮影用の商品手配担当者がバラバラだったため、どこまで作業が進んでいるのか把握するのが大変だった。</li>
    <li>商品アップを優先するために、商品説明文の作成が追い付いていなかった。</li>
    <li>商品データベースがなく、商品確認等に時間を要していた。</li>
</ul>

<h2>実施内容</h2>
<ul>
    <li>チラシ用と通販用の撮影を一元化。</li>
    <li>サンプルがあがった段階ですべての商品を撮影。</li>
    <li>商品手配～撮影までを一貫してライフエスコートで対応。</li>
    <li>撮影方法のマニュアルを用意。</li>
    <li>カメラマンが毎週の定例会議に参加。</li>
    <li>商品写真だけでなく、モデル写真も通販に利用。</li>
    <li>通販の商品ページ用説明文の原稿をライフエスコートで作成。</li>
    <li>撮影画像を商品データベース化。</li>
</ul>

<h2>コンサルティング内容実施後</h2>
<ul>
    <li>同じ商品の2度撮りがなくなり、<strong>撮影費用の大幅コストダウンを実現。</strong></li>
    <li>すべての商品を撮影するようにしたが、それでも撮影コストは前年の<strong>約20％ダウン。</strong></li>
    <li>チラシに掲載する商品を天候、競合、売れ筋などから、<strong>戦略的に選定可能</strong>に。</li>
    <li>通販サイトに掲載できるモデル写真および商品写真が大幅に増加し、<strong>通販の売上アップ</strong>に貢献。</li>
    <li>撮影の<strong>クオリティが均一化</strong>した。</li>
    <li>どこまで作業が進んでいるか、<strong>進捗把握が簡単</strong>に。</li>
    <li>商品手配や商品説明文作成の手間と時間がなくなった。</li>
    <li>撮影画像は商品データベースとしても活用し、社内および店舗スタッフの商品確認作業が簡単になった。</li>
</ul>

<%- include('../include/footer.ejs',pageInfo) %>
