<% pageInfo = {
    data:{
        title:'株式会社ライフエスコートの実績一覧｜EC売上アップ',
        description:'EC売上アップ戦略を提案する株式会社ライフエスコートの実績。',
        keywords:'EC,コンサル,実績,事例,撮影,制作,メルマガ,LINE,運用,サポート,リニューアル,マーケティング',
        fileName:'',
        pageType:'page'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
<style>
    #contents_recently .case{padding-bottom:30px;}
</style>
                <nav id="left_contents">
                    <h1>これまでの実績<small>WORKS</small></h1>
                    <ul>
                        <li><a href="#content01">01<strong>ECコンサル＆フルサポート</strong></a></li>
                        <li><a href="#content02">02<strong>撮影・採寸・原稿作成</strong></a></li>
                        <li><a href="#content03">03<strong>お客様相談室構築＆運用代行</strong></a></li>
                        <li><a href="#content04">04<strong>企画・制作・システム開発</strong></a></li>
                        <li><a href="#content05">05<strong>LINE運用フルサポート</strong></a></li>
                    </ul>
                </nav>

                <section id="maincontents">
                    <div id="content01" class="contents works-contents">
                        <ul class="spnav">
                            <li><a href="#content01">01<strong>LINE運用フルサポート</strong></a></li>
                            <li><a href="#content02">02<strong>ECコンサル＆フルサポート</strong></a></li>
                            <li><a href="#content03">03<strong>撮影・採寸・原稿作成</strong></a></li>
                            <li><a href="#content04">04<strong>お客様相談室構築＆運用代行</strong></a></li>
                            <li><a href="#content05">05<strong>企画・制作・システム開発</strong></a></li>
                        </ul>
                        <h2><span class="ribon">01</span>ECコンサル＆フルサポート<small></small></h2>
                        <p>コンサルティング～プロモーション～システム開発～撮影～制作～メルマガ～運用～レポート～改善、すべてのノウハウを持っているからこそできる完全フルサポートをご提供。また、自社サイトはもちろん、各モールへの出店・リニューアル～運用、コンサルティングも実施しています。</p>
                        <h3>成功事例ご紹介</h3>
                        <ul class="jirei">
                            <li><a href="/works_cyd_thumbnail.html">
                                <i style="background-image:url(img/works_cyd_thumbnail01.png);"></i>
                                <dl>
                                    <dt>サムネイル画像変更でクリック率2倍以上！1週間で転換率約30％アップ！</dt>
                                    <dd>サムネイル画像変更で売上アップに貢献</dd>
                                </dl>
                            </a></li>
                            <li><a href="/works_cyd_banner-position.html">
                                <i style="background-image:url(img/works_cyd_banner-position02.png);"></i>
                                <dl>
                                    <dt>クーポンバナー設置位置変更で取得率および使用率4倍アップ！</dt>
                                    <dd>ちょっとした工夫で楽天イベントをより効果的に活用し売上アップ</dd>
                                </dl>
                            </a></li>
                            <li><a href="/works_mh_ecsupport.html">
                                <i style="background-image:url(img/works_mh_ecsupport.png);"></i>
                                <dl>
                                    <dt>業務最適化とサイトのコンセプトワークを実施。3か月で売上577％UP！</dt>
                                    <dd>4年経った今もページ最適化を繰り返し、売り上げは右肩上がりで成長中！</dd>
                                </dl>
                            </a></li>
                            <li><a href="/works_mh_example01.html">
                                <i style="background-image:url(img/accomplishment_img_mh_store_off.png);"></i>
                                <dl>
                                    <dt>不要なお問い合わせが激減！スマホからの商品購入導線を改善し通販売上に貢献</dt>
                                    <dd>お客様のお声で、「わかりにくい」サイトから「わかりやすい」サイトへ仕組みを変更。</dd>
                                </dl>
                            </a></li>
                            <li><a href="/works_cyd_example01.html">
                                <i style="background-image:url(img/works_cyd_example01.png);"></i>
                                <dl>
                                    <dt>靴の履き心地コメントの採取と掲載で返品・交換数が激減</dt>
                                    <dd>お客様とクライアント様の両方の目線から課題解決をサポート。</dd>
                                </dl>
                            </a></li>
                        </ul>
                        <dl>
                            <dt>おもな実績</dt>
                            <dd><a href="https://store.mac-house.co.jp/" target="_blank">株式会社マックハウス様「Mac-House Shop (マックハウス ショップ）」</a></dd>
                            <dd><a href="https://store.chiyodagrp.co.jp/" target="_blank">株式会社チヨダ様「シュープラザ」</a></dd>
                        </dl>
                    </div>
                    <div id="content02" class="contents works-contents">
                        <h2><span class="ribon">02</span>撮影・採寸・原稿（ささげ）作成<small></small></h2>
                        <p>ECにおいて、商品写真は売上に大きく影響を与える大切な要素です。ライフエスコートは、都内に複数の自社スタジオを持ち、商品画像だけでなく、利用シーンをイメージすることができる画像やモデルカット、動画の撮影も行っています。また、撮影業務とともに、採寸、原稿作成にも対応しています。</p>
                        <h3>成功事例ご紹介</h3>
                        <ul class="jirei">
                            <li><a href="/works_mh_studio.html">
                                <i style="background-image:url(img/works_mh_studio.png);"></i>
                                <dl>
                                    <dt>撮影を一元化で時間とコストを大幅ダウン</dt>
                                    <dd>さらに撮影画像は商品データベースとしても活用。</dd>
                                </dl>
                            </a></li>
                        </ul>
                        <dl>
                            <dt>おもな実績</dt>
                            <dd><a href="https://store.mac-house.co.jp/" target="_blank">株式会社マックハウス様通販サイト（商品・モデル撮影および商品説明文作成）</a></dd>
                        </dl>
                    </div>
                    <div id="content03" class="contents works-contents">
                        <h2><span class="ribon">03</span>お客様相談室構築＆運用代行<small></small></h2>
                        <p>ECのコンサルティング＆フルサポートを行っていく中で、何が必要か否かを見極めていく作業があります。このケースでは、EC運用をスムーズにするためにもお客様相談室の構築が必要不可欠ということになり、弊社で当時の状況を整理し、仕組みを構築しました。</p>
                        <h3>成功事例ご紹介</h3>
                        <ul class="jirei">
                            <li><a href="/works_mh_inquiry.html">
                                <i style="background-image:url(img/works_mh_inquiry.png);"></i>
                                <dl>
                                    <dt>お客様への回答スピードが最長で1営業日に短縮！</dt>
                                    <dd>PDCAを回し、ホームページを改善することで相乗効果を発揮。</dd>
                                </dl>
                            </a></li>
                        </ul>
                        <dl>
                            <dt>おもな実績</dt>
                            <dd><a href="https://www.mac-house.co.jp/inquiry.html" target="_blank">株式会社マックハウス様 お客様相談室</a></dd>
                        </dl>
                    </div>
                    <div id="content04" class="contents works-contents">
                        <h2><span class="ribon">04</span>企画・制作・システム開発<small></small></h2>
                        <p>「もっと効率のいい通販運営できないかなぁ」「もっとユーザーが楽しめるコンテンツを作れないかなぁ」など、通販コンサルティングを行う中でクライアント様の悩みをくみ取り、企画提案およびシステム改善策等をご提案しています。もちろんそのご提案を実現させるため、ページ制作やシステム開発も行います。</p>
                        <h3>成功事例ご紹介</h3>
                        <ul class="jirei">
                            <li><a href="/works_cyd_example04.html">
                                <i style="background-image:url(img/works_cyd_example04.png);"></i>
                                <dl>
                                    <dt>在庫0の商品を自動で全サイト非表示に！サイト離脱率改善に貢献</dt>
                                    <dd>ユーザビリティがアップし、お客様がページを開いてから落胆する機会は大幅に減りました。</dd>
                                </dl>
                            </a></li>
                            <li><a href="/works_cyd_example02.html">
                                <i style="background-image:url(img/works_cyd_example02.png);"></i>
                                <dl>
                                    <dt>格安で独自の店舗検索システムを開発し来店促進に貢献</dt>
                                    <dd>他社の半額以下“150万円”で実装！誰でも使いやすく、独自の検索機能も搭載した店舗検索システムの開発！</dd>
                                </dl>
                            </a></li>
                            <li><a href="/works_cyd_example03.html">
                                <i style="background-image:url(img/works_cyd_example03.png);"></i>
                                <dl>
                                    <dt>ユーザー参加型のコンテンツ開発で集客と商品認知度アップ</dt>
                                    <dd>メールマガジン等のプッシュ型集客ではなく、「毎日ちょっと自然に見たくなるサイト」をテーマにしたプル型集客事例。</dd>
                                </dl>
                            </a></li>
                        </ul>
                        <dl>
                            <dt>おもな実績</dt>
                            <dd><a href="https://neko.mac-house.co.jp/" target="_blank">いやしネコ大賞</a></dd>
                            <dd><a href="https://www.chiyodagrp.co.jp/map/" target="_blank">株式会社チヨダ様 店舗検索システム</a></dd>
                            <dd><a href="/works_cyd_example03.html">お天気ガールズ（キャンペーン期間は終了しています）</a></dd>
                            <dd><a href="http://www.lin-shinkyuin.jp/" target="_blank">林鍼灸院様ホームページ</a></dd>
                            <dd><a href="http://tannowa.e-chiryo.jp/" target="_blank">ニコニコ鍼灸整骨院 淡輪院様ホームページ</a></dd>
                            <dd><a href="/pso-balance.html" target="_blank">栄養バランスチェックシステム</a></dd>
                            <dd><a href="/pso-order.html" target="_blank">パーソナルサプリ</a></dd>
                            <dd><a href="/pet-uranai.html" target="_blank">ペット占い</a></dd>
                            <dd><a href="/pet-blance.html" target="_blank">わんわん栄養バランスチェック</a></dd>
                            <dd><a href="/health-up/" target="_blank">筋肉代謝アップマシーン</a></dd>
                        </dl>
                    </div>
                    <div id="content05" class="contents works-contents">
                        <h2><span class="ribon">05</span>LINE公式アカウント運用フルサポート<small></small></h2>
                        <p>LINE公式アカウントのスタートアップ～配信コンテンツの制作進行管理、KPIレポートをもとにした施策提案等、一連の運用をフルサポートしています。LINE運用はタスクが多く、社内では対応しきれない、運用ノウハウがなくて困っているという企業様からご好評いただいております。</p>
                        <h3>成功事例ご紹介</h3>
                        <ul class="jirei">
                            <li><a href="/works_mh_line.html">
                                <i style="background-image:url(img/works_mh_line.png);"></i>
                                <dl>
                                    <dt>スタートアップからわずか2週間でお友達数300万人突破！</dt>
                                    <dd>コンセプトワークを行い、戦略に基づくコンテンツ・スタンプ配信を実施。</dd>
                                </dl>
                            </a></li>
                        </ul>
                        <dl>
                            <dt>おもな実績</dt>
                            <dd><a href="https://www.mac-house.co.jp/line.html" target="_blank">株式会社マックハウス様</a></dd>
                        </dl>
                    </div>

                </section>
<%- include('../include/footer.ejs',pageInfo) %>
