.notFound404{
    >h2{
        color: #61191a;
        margin: 2.5em auto .5em;
        border-bottom: 1px solid #61191a;
        line-height: 1.3;
        font-family: "ＭＳ Ｐ明朝","MS PMincho","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",serif;
        @media all and (min-width:768px){br{display: none;}}
        @media all and (max-width:778px){
            &.spHide{display: none;}
        }
    }
    p>a,.release a{
        color: #61191a;
        text-decoration: underline;
        font-weight: bold;
    }
    .btn>a{
        text-decoration: none;
        font-weight: normal;
    }
    // .btn a{
    //     text-decoration: none;
    //     font-weight: normal;
    // }
    p{margin: .5em auto;}
    .release{
        overflow: hidden;
        >li{
            box-sizing: border-box;
            font-size: 13px;
            margin: .5em 0;
            @media all and (min-width:550px){
                width: 33.3%;
                float: left;
                padding-right: 20px;
            }
            dt{
                font-size: 10px;
            }
            dd{
                margin-top: -7px;
                a{
                    display: block;
                    padding:10px 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            div{display: inline;}
        }
    }
    .attention{
        font-size: 13px;
        color: #61191a;
        li{
            margin: 1em 0;
            padding-left: 1em;
            text-indent: -1em;
            &:before{
                content:"※";
            }
        }
    }
    #contents_service.wide{
        overflow: hidden;
        font-size: 0;
        // text-align: center;
        position: relative;
        left: 30px;
        margin: 0 -30px;
        @media all and (max-width:670px){
            left: 0px;
            margin: 0 -10px;
            text-align: center;
        }
        .wrap{
            display: inline;
            margin: 0;
            dl{
                vertical-align: top;
                font-size: 14px;
                text-align: left;
                float: none;
                display: inline-block;
                margin: 0 30px 40px;
                @media all and (max-width:670px){
                    margin: 0 10px 20px;
                }
                dt+dd{margin: .25em 0;}
                img{vertical-align: bottom;}
                .btn a{
                    margin: auto;
                }
            }
        }
    }
}

#keyVisual.page404{
    background-image: url(../img/town.png),url(/img/bg01.gif);
    background-position: center bottom, center top;
    background-size: contain;
    background-repeat:no-repeat,repeat;
    @media all and (max-width:778px){
        &:after{
            max-height: 50px;
        }
    }
    h1{
        font-size: 2em;
        color: #61191a;
        font-family: "ＭＳ Ｐ明朝","MS PMincho","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",serif;
        position: absolute;
        top: 36%;
        left: 28%;
        z-index: 1;
        @media all and (max-width:778px){
            font-size: 18px;
            top: 28%;
            left: 50%;
            margin-left: -140px;
        }
        small{
            display: block;
            font-size: 14px;
            color: #000;
            font-family: "Libre Baskerville",serif;
            font-weight: normal;
        }
    }
}
.pc-stiky{
    #keyVisual.page404{
        display: block;
        margin-top: 250px;
        +#contentsbody{
            padding-top: 48px;
        }
    }
}
