*,#header2 *,#footer * {
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  list-style: none;
  word-break: break-all;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

a,#header2 a,#footer a {
  border: none;
  outline: none;
  text-decoration: none;
  img {
    border: none;
    outline: none;
    text-decoration: none;
  }
  &:hover {
    opacity: 1;
    transition: all 0.5s linear 0;
  }
}
