*,#header2 *,#footer * {
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  list-style: none;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  min-width: 1000px;
}


a,#header2 a,#footer a  {
  border: none;
  outline: none;
  text-decoration: none;
  transition: all 0.2s ease-out;
  img {
    border: none;
    outline: none;
    text-decoration: none;
    opacity: 1.0;
    transition: opacity 0.2s ease-out;
  }
  &:hover {
    opacity: .5;
    transition: all 0.5s linear 0;
    img {
      opacity: 0.5;
      transition: opacity 0.4s ease-out;
    }
  }
  img.rep {
    opacity: 1.0;
    transition: opacity 0.2s ease-out;
  }
  &:hover img.rep {
    opacity: 1.0;
    transition: opacity 0.4s ease-out;
  }
}
