#contents_company .summery {
    border-bottom: 1px solid #61191a;
    margin-bottom: 20px;
    iframe {
        margin-top: 10px;
        max-width: 100%;
        height: 250px;
    }
    > li {
        margin-bottom: 10px;
        padding-top: 10px;
        border-top: 1px solid #61191a;
        small img{vertical-align: middle;}
        > dl {
            overflow: hidden;
            dl {
                padding-left: 10px;
            }
            > dt {
                font-weight: bold;
            }
        }
    }
    .address {
        margin-top: 10px;
    }
    .business {
        font-weight: bold;
    }
    ol {
        margin-left: 2em;
        li {
            list-style-type: decimal;
        }
    }
}
