#contents_company .summery {
    border-bottom: 1px solid #61191a;
    margin-bottom: 20px;
    > li {
        margin-bottom: 10px;
        padding-top: 10px;
        border-top: 1px solid #61191a;
        small img{vertical-align: middle;}
        > dl {
            overflow: hidden;
            > {
                dt {
                    width: 150px;
                    float: left;
                    font-weight: bold;
                }
                dd {
                    width: 510px;
                    float: left;
                }
            }
        }
    }
    .address {
        margin-top: 10px;
    }
    .business {
        font-weight: bold;
    }
    ol {
        margin-left: 2em;
        li {
            list-style-type: decimal;
        }
    }
}
