#contents_contact iframe {
    width: 100%;
    height: 1730px;
    overflow: scroll;
}

.contactForm {
    // height: 250px;
    // width: 100%;
    // display: block;
    // vertical-align: middle;
    // text-align: center;
    // margin: 0 auto 50px auto;
    // a {
    //     display: block;
    //     line-height: 40px;
    //     background-color: #61191A;
    //     -webkit-border-radius: 3px;
    //     -moz-border-radius: 3px;
    //     border-radius: 3px;
    //     width: 280px;
    //     color: #FFFFFF;
    //     text-decoration: none;
    //     text-align: center;
    //     margin: 30px auto 0 auto;
    //     &:hover {
    //         background-color: #AB8685;
    //     }
    // }
}
#maincontents .contents .contactForm h3{
    font-size: 18px;
    @media screen and (max-width: 480px) {font-size: 15px;}
    font-weight: normal;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
    background: transparent;
    width: 100%;
    text-align: center;
    display: block;
}
