#contents_contact .contact {
    margin-top: 25px;
    dl {
        display: table;
        overflow: hidden;
        dt, dd {
            float: left;
        }
        dt {
            width: 150px;
            margin-bottom: 10px;
            text-align: right;
            margin-right: 10px;
            font-weight: bold;
        }
        input {
            height: 25px;
        }
        textarea {
            height: 150px;
        }
        input, textarea {
            width: 500px;
            border: 1px solid #c6bbb3;
            background-color: #d9d3ce;
            box-sizing: border-box;
            border: 1px solid #999;
            margin-bottom: 20px;
        }
    }
    span {
        color: #61191a;
    }
    .btn a {
        float: none;
        margin-left: 245px;
    }
}

.contactForm {
    // height: 250px;
    // width: 100%;
    // display: block;
    // vertical-align: middle;
    // text-align: center;
    // margin: 0 auto 50px auto;
    // a {
    //     display: block;
    //     line-height: 40px;
    //     background-color: #61191A;
    //     -webkit-border-radius: 3px;
    //     -moz-border-radius: 3px;
    //     border-radius: 3px;
    //     width: 280px;
    //     color: #FFFFFF;
    //     text-decoration: none;
    //     text-align: center;
    //     margin: 30px auto 0 auto;
    //     &:hover {
    //         background-color: #AB8685;
    //     }
    // }
}
#maincontents .contents .contactForm h3{
    font-size: 18px;
    @media screen and (max-width: 480px) {font-size: 15px;}
    font-weight: normal;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
    background: transparent;
    width: 100%;
    text-align: center;
    display: block;
}
