#keyVisual {
  overflow: hidden;
  width: 100%;
  background-image: url("../img/bg01.gif");
  background-position: left top;
  background-repeat: repeat;
  position: relative;
  margin-top: 44px;
  margin-bottom: -38px;
  position: relative;
  &:after {
    display: block;
    content: " ";
    width: 100%;
    height: 103px;
    background-image: url("../img/top_view_sky.png");
    background-size: contain;
    background-position: left top;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
  }
  .keyVisualinner {
    display: block;
    background-image: url("../img/town.png");
    background-size: contain;
    background-position: right bottom;
    background-repeat: repeat-x;
    height: 210px;
  }
  .message {
    position: absolute;
    width: 180px;
    top: 50px;
    left: 50%;
    margin-left: -140px;
  }
  .plane {
    width: 45px;
    position: absolute;
    top: 130px;
    left: 50px;
    animation: floating 3s ease-in-out infinite, rotate 10s ease infinite;
    transform-origin: center 100px;
  }
  .animate {
    position: absolute;
    top: 50px;
    width: 50px;
    left: 50%;
    margin-left: 40px;
  }
  .hand {
    position: absolute;
    width: 150px;
    top: 95px;
    left: 50%;
    margin-left: 40px;
  }
}

#glassAnimation {
  display: block;
  width: 300px;
  height: 187px;
  margin: 20px auto;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .star {
    top: -30px;
    left: 100px;
    opacity: 0;
    animation: glassStar 2s ease-in-out infinite alternate;
  }
  .left {
    animation: glassLeft 2s ease-in-out infinite alternate;
  }
  .right {
    animation: glassRight 2s ease-in-out infinite alternate;
  }
}

#penAnimation {
  display: block;
  width: 181px;
  height: 97px;
  position: relative;
  margin: 10px auto;
  .pen {
    position: absolute;
    top: 0px;
    left: 65px;
    transform-origin: left bottom;
    animation: dizzy 5s ease-in-out infinite;
  }
  .mask {
    display: block;
    width: 66px;
    height: 4px;
    background-color: #f1edea;
    position: absolute;
    top: 75px;
    left: 65px;
  }
}

#humanAnimation {
  display: block;
  width: 192px;
  height: 132px;
  position: relative;
  .left, .right {
    display: block;
    height: 19px;
    background-image: url("../img/vision_human_arrow.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 80px;
    transition: width 1s ease;
  }
  .left {
    right: 72px;
    width: 14px;
  }
  .right {
    background-position: right top;
    left: 120px;
    width: 14px;
  }
  .on {
    width: 36px;
  }
}

#pcAnimation {
  display: block;
  width: 158px;
  height: 117px;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .co, .star {
    opacity: 0;
  }
  .co.on, .star.on {
    opacity: 1;
    transition: opacity 1s ease;
  }
  .co.off, .star.off {
    opacity: 0;
    transition: opacity 4s ease;
  }
}

@keyframes dizzy {
  0% {
    transform: rotate(-20deg) translate(0, -1px);
  }

  5% {
    transform: rotate(0deg) translate(0, 0);
  }

  30% {
    transform: rotate(-10deg) translate(0, 3px);
  }

  60% {
    transform: rotate(5deg) translate(0, 1px);
  }

  65% {
    transform: rotate(10deg) translate(0, -4px);
  }

  70% {
    transform: rotate(-10deg) translate(0, 0);
  }

  90% {
    transform: rotate(-5deg) translate(0, 2px);
  }

  98% {
    transform: rotate(-5deg) translate(0, 0);
  }

  100% {
    transform: rotate(-20deg) ranslate(0, -2px);
  }
}



@keyframes glassStar {
  0% {
    transform: translate(0, 20px);
    opacity: 0;
  }

  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}



@keyframes glassLeft {
  from {
    transform: rotate(10deg) translate(-20px, -20px);
  }

  to {
    transform: rotate(0deg) translate(0, 0);
  }
}



@keyframes glassRight {
  from {
    transform: rotate(10deg) translate(20px, 20px);
  }

  to {
    transform: rotate(0deg) translate(0, 0);
  }
}

@keyframes floating {
  0% {
    margin-top: -5px;
  }

  50% {
    margin-top: 10px;
  }

  100% {
    margin-top: -5px;
  }
}



@keyframes rotate {
  0% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}
