#content .snsTemplate{
	&:after {
		content: "";
		clear: both;
		display: block;
	}
	*{
		box-sizing: border-box;
		padding: 0;margin: 0;
		word-break: break-all;
	}
	h1{
		margin: 2em auto;
		line-height: 1.3;
	}
	h2{
		margin: 2em -10px 1em;
		padding: 10px;
		@media all and (min-width:641px){
			margin: 2em -25px 1em;
			padding: 10px 25px;
		}
		font-weight: bold;
		color:#fff;
		line-height: 1.3;
		text-align: left;
		background-color: #61191a;
	}
	.headding{
		margin: 2em auto 1em;
		font-weight: bold;
		border-bottom: 1px dashed #000;
	}
	img{vertical-align: bottom;}
	.left{
		@media all and (min-width:641px){
			width:60%;
			float:left;
			padding-right:20px;
		}
		margin-bottom: 20px;
		img{
			width: 100%;
			border: 1px solid #eee;
			+img,
			+br+img{
				margin-top: 10px;
			}
		}
	}
	.right{
		@media all and (min-width:641px){
			width:40%;
			float:right;
		}
	}
	.eventSpec{
		width: 100%;
		font-size: 14px;
		th,td{
			padding: 5px;
		}
		th{width: 7em;}
	}
	.eventSummary{
		li{
			line-height: 1.4;
			padding-left: .75em;
			margin: .5em 0;
		}
	}
	.eventLink{
		margin-top: .5em;
		line-height: 1.4;
		a{
			font-size:11px;
			text-decoration: underline;
			display:block;
			color:#61191a;
		}
	}
	.eventEntry{
		padding-left: 1.5em;
		li{
			list-style-type: decimal;
			line-height: 1.4;
			margin: .5em 0;
		}
	}
	.photo1{
		.eventPhoto{
			padding:0 20px;
			img{border: 1px solid #eee;}
		}
	}
	.photo2{
		overflow: hidden;
		font-size: 0;
		letter-spacing: -.4em;
		.eventPhoto{
			display: inline-block;
			letter-spacing: 0;
			width:50%;
			vertical-align: top;
			padding-bottom: 10px;
			&:nth-child(even){padding-left: 5px;}
			&:nth-child(odd){padding-right: 5px;}
		}
		img{border: 1px solid #eee;}
	}
}
