#footer {
  padding-bottom: 70px;
  border-top: 25px solid #61191a;
  position: relative;
  color:#000;
  li>a{border: none;}
  #copy {
    color: #FFF;
    font-size: 8px;
    position: absolute;
    top: -19px;
    left: 5px;
    line-height: 1.2;
  }
  #footer_nav {
    padding-bottom: 6px;
    margin: 0 auto 10px auto;
    border-bottom: 1px dotted #000;
    overflow: hidden;
    nav {
      display: none;
    }
    .sns {
      overflow: hidden;
      padding-top: 12px;
      text-align: center;
      li {
        display: inline;
        a {
          background-position: center center;
          background-repeat: no-repeat;
          margin-left: 9px;
          &.circle {
            display: inline-block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            text-indent: -9999px;
            background-color: #61191a;
          }
          &.fb {
            background-image: url("../img/logo_fb.png");
          }
          &.tw {
            background-image: url("../img/logo_tw.png");
          }
          &.line {
            background-image: url("../img/logo_line.png");
          }
          &.totop {
            display: block;
            margin: 10px auto;
            font-family: "Libre Baskerville", serif;
            font-size: 11px;
            vertical-align: 5px;
            color: #000;
            font-weight: bold;
            &:before {
              content: url("../img/top_topagetop.png");
              background-position: left 1px;
              background-repeat: no-repeat;
              padding-right: 10px;
              vertical-align: 2px;
            }
          }
        }
      }
    }
  }
  #footer_acces {
    margin: 0 auto;
    position: relative;
    .logo {
      width: 150px;
      margin: 10px auto;
      margin-bottom: 0px;
      img {
        width: 100%;
      }
    }
    .address {
      width: 270px;
      margin: 10px auto;
      margin-top: 0px;
      text-align: center;
      font-size: 10px;
      line-height: 1.7em;
    }
    .tel {
      width: 270px;
      margin: 10px auto;
      text-align: center;
      font-size: 13px;
      padding: 10px 0;
      border-top: 1px dotted #000;
      border-bottom: 1px dotted #000;
      img {
        vertical-align: bottom;
      }
      &.pc{display: none;}
      &.sp{
          a{
              display: block;
              width: 100%;
              height: 35px;
              line-height: 35px;
              background-color: #61191a;
              border-radius: 3px;
              font-size: 15px;
              color: #fff;
              margin: 5px 0;
              position: relative;
              &:before{
                  content: url("../img/icon_sp_tel.png");
                  position: absolute;
                  top: 2px;
                  left: 20px;
              }
          }
      }
    }
    .btn {
      display: inline;
      a {
        display: block;
        width: 270px;
        margin: 15px auto 10px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #FFF;
        font-size: 14px;
        background-color: #61191a;
        border-radius: 3px;
        &:before {
          content: url("../img/btn_icon.png");
          vertical-align: 0;
          margin-right: 13px;
        }
      }
    }
    .privacy{
        width: 270px;
        margin: auto;
        text-align: center;
        a{
            color: #61191a;
            font-size: 11px;
        }

    }
  }
}
