#footer {
  padding-bottom: 50px;
  border-top: 25px solid #61191a;
  position: relative;
  #copy {
    color: #FFF;
    font-size: 8px;
    position: absolute;
    top: -19px;
    line-height: 1.2;
  }
  #footer_nav {
    width: 980px;
    padding-bottom: 16px;
    margin: 0 auto 44px auto;
    border-bottom: 1px dotted #000;
    overflow: hidden;
    nav {
      width: 800px;
      font-size: 10px;
      color: #000;
      padding-top: 17px;
      float: left;
      ul li {
        display: inline-block;
        a {
          color: #000;
          padding: 0 10px;
          border: none;
        }
        &:first-child a {
          padding-left: 0;
        }
      }
    }
    .sns {
      width: 145 +9px;
      float: right;
      overflow: hidden;
      padding-top: 12px;
      li {
        display: inline;
        a {
          background-position: center center;
          background-repeat: no-repeat;
          margin-left: 9px;
          border: none;
          &.circle {
            display: block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            float: left;
            text-indent: -9999px;
            background-color: #61191a;
          }
          &.fb {
            background-image: url("../img/logo_fb.png");
          }
          &.tw {
            background-image: url("../img/logo_tw.png");
          }
          &.line {
            background-image: url("../img/logo_line.png");
          }
          &.totop {
            font-family: "Libre Baskerville", serif;
            font-size: 11px;
            vertical-align: 5px;
            color: #000;
            font-weight: bold;
            border: none;
            &:before {
              content: url("../img/top_topagetop.png");
              background-position: left 1px;
              background-repeat: no-repeat;
              padding-right: 10px;
              vertical-align: 2px;
            }
          }
        }
      }
    }
  }
  #footer_acces {
    width: 980px;
    margin: 0 auto;
    position: relative;
    .logo {
      width: 235px;
      position: absolute;
      top: -13px;
      left: -30px;
    }
    .address {
      width: 270px;
      padding-left: 220px;
      font-size: 10px;
      line-height: 1.7em;
      position: absolute;
      left: 0;
      color: #000;
    }
    .tel {
      width: 203px;
      height: 32px;
      text-align: center;
      position: absolute;
      left: 518px;
      border-left: 1px dotted #000;
      border-right: 1px dotted #000;
      &.sp{display: none;}
    }
    .btn {
      display: inline;
      position: absolute;
      top: -2px;
      right: 0;
      a {
        display: block;
        width: 235px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #FFF;
        font-size: 14px;
        background-color: #61191a;
        border-radius: 3px;
        &:before {
          content: url("../img/btn_icon.png");
          vertical-align: 0;
          margin-right: 13px;
        }
      }
    }
    .privacy{
        &.sp{display: none;}
    }
  }
}
