:focus{outline:none;}
:disabled {
	background-color: #eee!important;
	color: #aaa!important;
	cursor: not-allowed;
	box-shadow: none!important;
	pointer-events: none;
}
.errorMessage{
	display: none;
	font-size: .7rem;
	line-height: 1.3;
	padding-top: 1em;
	color:#ff4579;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
button, textarea {
	width: 100%;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	appearance: none;
	font-size: inherit;
	box-sizing: border-box;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
select,
textarea {
	padding:.5em .7em;
	outline: none;
	border: 1px solid #aaa;
	border-radius: 4px;
	transition: all 200ms ease;
	background-color: #fafafa;
	font-size: 1em;
	&:focus{
		box-shadow: 0 0 7px $keyColor;
		border: 1px solid $keyColor;
		background-color: #fff;
	}
	&:hover{background-color: #fff;}
}
select{
	width: auto;
	height:2.75em;
	box-shadow: 0 0 4px #aaa;
	line-height: 1;
}

//チェックボックス
// input[type="checkbox"] {
// 	display: none;
// 	+label {
// 		font-feature-settings:normal;
// 		position: relative;
// 		display: inline-block;
// 		padding: 3px 3px 3px 22px;
// 		margin-right: 1em;
// 		cursor: pointer;
// 		transition: all .2s;
// 		&::before,
// 		&::after {
// 			position: absolute;
// 			content: '';
// 			transition: all .2s;
// 		}
// 		&::before {
// 			top: 50%;
// 			left: 0;
// 			width: 14px;
// 			height: 14px;
// 			margin-top: -8px;
// 			background: #f4f4f4;
// 			border: 1px solid #ccc;
// 			border-radius: 3px;
// 		}
// 		&::after {
// 			opacity: 0;
// 			top: 50%;
// 			left: 3px;
// 			width: 8px;
// 			height: 4px;
// 			margin-top: -4px;
// 			border-left: 2px solid $keyColor;
// 			border-bottom: 2px solid $keyColor;
// 			transform: rotate(-45deg) scale(.5);
// 		}
// 		&:hover::before {
// 			background: #fff;
// 		}
// 	}
// 	&:checked + label::before {
// 		background: #fff;
// 		border: 1px solid $keyColor;
// 	}
// 	&:checked + label::after {
// 		opacity: 1;
// 		transform: rotate(-45deg) scale(1);
// 	}
// }


//ラジオボタン
// input[type="radio"] {
// 	display: none;
// 	+label {
// 		position: relative;
// 		display: inline-block;
// 		margin-right: 1em;
// 		padding: 3px 3px 3px 20px;
// 		cursor: pointer;
// 		font-feature-settings:normal;
// 		&::before,
// 		&::after {
// 			position: absolute;
// 			content: '';
// 			top: 50%;
// 			border-radius: 100%;
// 			-webkit-transition: all .2s;
// 			transition: all .2s;
// 		}
// 		&::before {
// 			left: 0;
// 			width: 16px;
// 			height: 16px;
// 			margin-top: -8px;
// 			background: #f3f3f3;
// 			border: 1px solid #ccc;
// 		}
// 		&:hover::before {
// 			background: #fff;
// 		}
// 		&::after {
// 			opacity: 0;
// 			left: 4px;
// 			width: 8px;
// 			height: 8px;
// 			margin-top: -4px;
// 			background: $keyColor;
// 			transform: scale(2);
// 		}
// 	}
// 	&:checked + label::before {
// 		background: #fff;
// 		border: 1px solid $keyColor;
// 	}
// 	&:checked + label::after {
// 		opacity: 1;
// 		transform: scale(1);
// 	}
// }



.formTable{
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	input[type="number"],
	input[type="date"],
	input[type="time"],
	textarea {width: 100%;}
	th{width: 11em;}
	@media all and (max-width:530px) {
		// border: 4px solid #eee;
		box-shadow:0 0 4px #aaa;
		border-radius: 4px;
		overflow: hidden;
		text-align: center;
		tr,th,td{
			display: block;
			border: none;
			width: auto;
		}
		// tr{margin:0 -10px;}
		th{
			font-size: 12px;
			padding: 4px 0;
			background-color: $keyColor;
			color:#fff;
		}
		td{
			// background-color: #fffff5;
			// padding-bottom: 14px;
		}
	}
}
.return{
	font-size: 1.5em;
	margin-bottom: 1em;
	font-weight: bold;
}
.description{
	font-size: 1.25em;
	+p{font-size: 1.25em;}
}
.question{
	font-weight: bold;
	font-size: 1.2em;
	margin-top:1em;
}
.required_color{
	color:$keyColor;
	font-size: .8em;
}
.answer{
	p{
		// margin:0 0 1em;
		&.form{
			// margin-top: 0;
			font-size: 1.25em;
		}
	}
}
.form{
	&.checkboxes{
		br{display: none;}
		label{
			cursor: pointer;
			display: inline-block;
			line-height: 1;
			vertical-align: middle;
			*{line-height: 1;vertical-align: middle;}
			background-color: #fff;
			border: 1px solid #aaa;
			border-radius: 4px;
			padding: .5em;
			margin: .5em .25em 0 0;
		}
	}
	input[type="checkbox"]{margin-right:.5em;}
}
.input_submit{
	margin: 1em auto 4em;
	p{margin: 1em;}
	overflow: hidden;
	input{
		display: block;
		appearance:none;
		width: 50%;
		float: left;
		background-color:$keyColor;
		border: 0;
		color:#fff;
		font-size: 1.5em;
		font-weight: bold;
		line-height: 1;
		padding: 10px;
		border-radius: 6px;
		cursor: pointer;
		&[type="reset"]{
			background-color: transparent;
			color:$keyColor;
			border: 3px solid $keyColor;
			padding:7px 10px;
			width: 40%;
			float: right;
		}
		&[value=" 送信する "]{
			float: right;
		}
		&[value="　内容を修正する　"]{
			font-size: 12px;
			background-color: transparent;
			color:$keyColor;
			border: 3px solid $keyColor;
			padding:11px 0;
			width: 40%;
			float: left;
		}
	}

}
.error{
	color: red;
}
#LE_FROM.confirm{
	margin-top: 1em;
	.input_item_list{
		padding: .5em 0;
		border-bottom: 1px dashed #bbb;
		&:last-child{border: none;}
		.question{margin: 0;}
		.answer{font-size: 1.25em;}
	}
}
