#site-header {
    min-width: 1000px;
    position: relative;
  padding-top: 38px;
  padding-bottom: 31px;
  border-top: 9px solid #61191a;
  border-bottom: 8px solid #61191a;
  background-image: url("/img/bg01.gif");
  background-position: center top;
  .sns {
      width: 190px;
      height: 60px;
      border-top: 1px dotted #000;
      border-bottom: 1px dotted #000;
      position: absolute;
      top: 61px;
      left:50%;
      margin-left: 300px;
      ul {
          overflow: hidden;
          margin-top: 7px;
          li {
              display: inline;
              a {
                  background-position: center center;
                  background-repeat: no-repeat;
                  margin-left: 9px;
                  &.circle {
                      display: block;
                      width: 18px;
                      height: 18px;
                      border-radius: 50%;
                      background-color: #000;
                      float: left;
                      text-indent: -9999px;
                  }
                  &.fb {
                      background-image: url("/img/logo_fb.png");
                      margin-left: 0;
                  }
                  &.tw {
                      background-image: url("/img/logo_tw.png");
                  }
                  &.line {
                      background-image: url("/img/logo_line.png");
                  }
                  &.sitemap {
                      font-size: 10px;
                      float: right;
                      color: #000;
                      &:before {
                          content: url("/img/sm_btn_icon.png");
                          vertical-align: 0;
                          margin-right: 6px;
                      }
                  }
              }
          }
      }
      form {
          margin-top: 5px;
          input {
              width: 152px;
              height: 18px;
              border: 1px solid #c6bbb3;
              background-color: #d9d3ce;
          }
          button {
              width: 30px;
              height: 20px;
              border: 0px;
              background-color: #61191a;
              text-align: center;
              cursor: pointer;
          }
      }
  }
  #header_nav {
    display: block;
    width: 980px;
    height: 34px;
    margin: 0 auto;
    .sub {
      position: absolute;
      left: 0;
      top: 33px;
      width: 100%;
      background-color: #61191a;
      font-size: 12px;
      z-index: 2;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      display: none;
      a {
        display: block;
        padding: 10px 0;
        color: #fff;
      }
    }
    > {
      ul > li {
        display: block;
        width: 139px;
        height: 34px;
        float: left;
        border-left: 1px solid #757575;
        &:first-child{border: none;}
        position: relative;
        text-align: center;
        > a {
          display: block;
          width: 139px;
          height: 34px;
        }
      }
      li:last-child {
        width: 138px;
        border-right: 1px solid #757575;
      }
    }
  }
  #header_nav2{
    display: none;
    width: 100%;
    min-width: 1000px;
    height: 34px;
    background-image: url("/img/bg01.gif");
    background-position: left top;
    background-repeat: repeat;
    border-bottom: 8px solid #61191a;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    z-index: 2;
    ul {
      display: block;
      width: 980px;
      margin: 0 auto;
    }
    li {
      display: block;
      width: 119px;
      height: 34px;
      float: left;
      border-left: 1px solid #757575;
      text-align: center;
      a {
        display: block;
        height: 34px;
      }
      &:last-child {
        width: 138px;
        border-right: 1px solid #757575;
      }
    }
  }
  .spOnly{display: none;}
  #header_top {
    width: 980px;
    margin: 0 auto 53px auto;
    position: relative;
    .tel, .sns {
      width: 190px;
      border-top: 1px dotted #000;
      border-bottom: 1px dotted #000;
      position: absolute;
      top: 14px;
    }
    .tel {
      height: 32px;
      left: 0;
      text-align: center;
      padding: 16px 0 12px 0;
    }
    #topPageLogo {
      left: 50%;
      margin-left: -192px;
      cursor: pointer;
    }
  }
}

#topPageLogo {
  display: block;
  width: 384px;
  height: 73px;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .logo, .animate {
    display: none;
  }
  .onlyface {
    transform: translate(0, -200px);
    transition: transform 1s cubic-bezier(0.98, 0.055, 0.745, 1.3);
  }
  &.on .onlyface {
    transform: translate(0, 0);
  }
}

.pc-stiky{
    #site-header{
        position: fixed;
        width: 100%;
        min-width: 980px;
        left: 0;
        top: -150px;
        z-index: 3;
    }
    #keyVisual{display: none;}
    #contents{padding-top: 243px;}
    #contentsbody{
        padding-top: 294px;
        &.top{
            padding-top: 672+50px;
            // transition: padding-top 150ms linear;
        }
    }
    #left_contents{
        position: fixed;
        top: 149px;
        z-index: 1;
    }
}
