#header_top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    overflow: hidden;
    border-top: 2px solid #61191a;
    border-bottom: 1px solid #61191a;
    height: 44px;
    background-image: url(/img/bg01.gif);
    .tel{display: none;}
    #topPageLogo{
        display: block;
        width: 200px;
        height: 42px;
        position: fixed;
        top: 2px;
        left: 0;
        right: 0;
        margin:auto;
        text-align: center;
        img {
            position: absolute;
            width: 180px;
            top: 6px;
            left: 50%;
            margin-left: -90px;
        }
        .logo, .animate {
            display: none;
        }
        .onlyface {
            transform: translate(0, -200px);
            transition: transform 1s cubic-bezier(0.98, 0.055, 0.745, 1.3);
        }
        &.on .onlyface {
            transform: translate(0, 0);
        }
    }
}
#site-header{
    ul{margin: auto;}
    .pcOnly{display: none;}
    .sp-menu-wrapper{
        position: fixed;
        z-index: 3;
        top: 47px;
        left: 0;
        width: 100%;
        height: 100%;
        height: calc(100% - 47px);
        background-image: url("/img/bg01.gif");
        margin-left: 100%;
        transition: margin-left 400ms ease;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        &.active{
            margin-left:0;
        }
    }
    // #header_top{overflow: hidden;}
    #header_nav {
        padding: 90px 20px 30px;
        a {
            display: block;
            line-height: 1;
            color: #fff;
            background-color: #61191a;
            padding: 4px 10px;
            margin: 5px 0;
            border-radius: 4px;
            // font-family:  "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro","ＭＳ Ｐ明朝", "MS PMincho", serif;
            font-size: 15px;
            line-height: 1.8em;
            small {
                margin-left: .5em;
                font-size: 10px;
                line-height: 1.8em;
                font-family: "Libre Baskerville", serif;
            }
        }
        .sub a{
            background-color: gray;
            padding-left: 22px;
            transition: none 0;
        }
        #nav1+.sub,
        #nav2+.sub,
        #nav3+.sub,
        #nav4+.sub,
        #nav5+.sub,
        // #nav6+.sub,
        #nav7+.sub{display: none;}
    }

    .sns {
        position: absolute;
        top: 15px;
        width: 100%;
        ul {
            overflow: hidden;
            text-align: center;
            li {
                display: inline;
                a {
                    background-position: center center;
                    background-repeat: no-repeat;
                    margin: 0 5px;
                    &.circle {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: #61191a;
                        text-indent: -9999px;
                    }
                    &.fb {
                        background-image: url("../img/logo_fb.png");
                        margin-left: 0;
                    }
                    &.tw {
                        background-image: url("../img/logo_tw.png");
                    }
                    &.line {
                        background-image: url("../img/logo_line.png");
                    }
                }
            }
        }
        form {
            overflow: hidden;
            margin:10px auto 0;
            width: 180px;
            height: 25px;
            input {
                box-sizing: border-box;
                display: block;
                float: left;
                padding: 6px;
                width: 150px;
                height: 25px;
                border: none;
                background-color: #d9d3ce;
                margin: 0;
                border-top-left-radius: 13px;
                border-bottom-left-radius: 13px;
            }
            button {
                border-top-right-radius: 13px;
                border-bottom-right-radius: 13px;
                box-sizing: border-box;
                margin: 0;
                float: left;
                border: none;
                width: 30px;
                height: 25px;
                border: 0px;
                background-color: #000;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}
#site-header+#contents{
    margin-top: 0;
    padding-top: 47px;
    #index_top{padding-top:20px;}
}
