#jireiMidashi{
	margin: 80px auto 20px;
	text-align: center;
	color:#61191a;
	line-height: 1.4;
	font-feature-settings: 'palt' 1;
	font-family: "游明朝","Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
}
#slider2 {
	margin: 0 auto;
    width: 980px;
    position: relative;
    + .btn {
        width: 980px;
        display: block !important;
        margin: auto;
    }
    .owl-stage-outer {
        margin-left: -10px;
        margin-right: -10px;
    }
    .owl-nav > div {
        position: absolute;
        top: 50%;
        font-size: 30px;
        margin-top: -15px;
        &.owl-prev {
            left: -50px;
        }
        &.owl-next {
            right: -50px;
        }
    }
    dl {
        display: block;
        list-style: none;
        height: 250px;
        padding: 30px;
        background-image: url("../img/bg03.gif");
        background-position: left top;
        border-radius: 4px;
        position: relative;
        text-align: center;
        left: 10px;
        dt {
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            font-size: 14px;
            color: #61191a;
            text-align: center;
            position: relative;
            &:before {
                content: "";
                display: block;
                border-top: 1px dotted #000;
                width: 100%;
                height: 1px;
                position: absolute;
                top: 50%;
            }
            span {
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                font-weight: bold;
                background: #f2f2f2;
                padding: 0 20px;
                position: relative;
                z-index: 0;
            }
        }
        dd {
            font-size: 12px;
            line-height: 1.5em;
            color: #000;
            text-align: center;
            margin-top: 17px;
            &.photo {
                img {
                    width: 225px;
                    height: auto;
                    margin: auto;
                    border-radius: 3px;
                }
                a {
                    display: block;
                    position: relative;
                    .hover{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        opacity: 0;
                    }
                    &:hover{
                        opacity: 1;
                        .hover{
                            opacity: 1;
                        }
                    }
                }
            }
            &.icon {
                display: block;
                width: 58px;
                height: 34px;
                padding: 13px 0;
                font-size: 7px;
                line-height: 14px;
                color: #FFF;
                font-family: "Libre Baskerville", serif;
                background-image: url("../img/top_slider2_icon.png");
                background-repeat: no-repeat;
                position: absolute;
                top: -17px;
                right: 0;
                z-index: 1;
                > small {
                    display: block;
                    font-family: "Libre Baskerville", serif;
                    font-size: 19px;
                }
            }
        }
        .linkbtn {
            display: inline;
            a {
                width: 225px;
                border-radius: 3px;
                background-image: url("../img/bg02.gif");
                font-size: 10px;
                line-height: 1.8em;
                position: absolute;
                top: 255px;
                left: 50%;
                margin-left: -112px;
                color: #000;
            }
        }
    }
}
