#header,#header2, #footer {
    width: 100%;
    background-image: url("../img/bg01.gif");
    background-position: left top;
    background-repeat: repeat;
}

#contentsbody {
    width: 100%;
    padding-top: 48px;
    background-color: #f5f4f1;
    background-image: url("../img/town.png");
    background-position: center bottom;
    background-repeat: repeat-x;
    padding-bottom: 145px;
    overflow: hidden;
    .sectionheader {
        width: 980px;
        margin: 0 auto 35px auto;
        overflow: hidden;
        h1 {
            width: 200px;
            float: left;
            text-align: center;
            font-size: 20px;
            font-family: "Libre Baskerville", serif;
            color: #61191a;
            small {
                display: block;
                font-size: 12px;
                color: #000;
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            }
        }
        dl {
            width: 720px;
            height: 130px;
            border-left: 1px dotted #000;
            padding-left: 35px;
            float: left;
            dt {
                margin-bottom: 10px;
                font-size: 18px;
                line-height: 1.6em;
                font-weight: bold;
                color: #000;
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            }
            dd {
                font-size: 11px;
                line-height: 2em;
            }
        }
    }
    #slider1 {
        margin: 0 auto 140px auto;
        li {
            margin-top: 2px;
        }
    }
    .btn {
        display: inline;
        a {
            display: block;
            width: 235px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            color: #FFF;
            font-size: 14px;
            background-color: #61191a;
            border-radius: 3px;
            width: 170px;
            float: right;
            margin: 25px 0 40px 0;
            &:before {
                content: url("../img/btn_icon.png");
                vertical-align: 0;
                margin-right: 13px;
            }
        }
    }
    #note {
        clear: both;
        width: 980px;
        margin: 0 auto;
        margin-bottom: 88px;
        padding-top: 50px;
        overflow: hidden;
        border-top: 1px dotted #000;
        li {
            position: relative;
            margin-bottom: 20px;
            width: 469px;
            height: 204px;
            float: left;
            a {
                display: block;
                width: 465px;
                height: 200px;
                border-radius: 4px;
                transition: border-color .2s linear;
                border: 2px solid #f5f4f1;
                &:hover {
                    opacity: 1;
                    border-radius: 4px;
                    border: 2px solid #934b4c;
                }
            }
            &:last-child {
                margin-bottom: 0;
                float: right;
            }
        }
    }
}

#inner {
    width: 980px;
    // height: 100%;
    margin: 0 auto;
    padding-top: 5px;
    // overflow: hidden;
}

#left_contents {
    width: 260px;
    float: left;
    h1 {
        border-left: 5px solid #61191a;
        margin-bottom: 40px;
        padding-left: 25px;
        font-size: 34px;
        color: #61191a;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        small {
            display: block;
            font-size: 12px;
            color: #000;
            font-family: "Libre Baskerville", serif;
            font-weight: bold;
            padding-top: 50px;
        }
    }
    ul {
        display: block;
        li {
            height: 43px;
            padding: 3px 0;
            margin-top: -1px;
            border-top: 1px dotted #000;
            border-bottom: 1px dotted #000;
            a {
                display: block;
                height: 43px;
                line-height: 43px;
                text-align: left;
                font-size: 10px;
                font-family: "Libre Baskerville", serif;
                font-weight: bold;
                padding-left: 17px;
                transition: all .3s ease;
                color: #000;
                > strong {
                    font-size: 14px;
                    margin: 0 1em;
                    transition: all .2s ease;
                    color: #61191a;
                }
                &:hover {
                    color: #FFF;
                    background-color: #61191a;
                    border-radius: 3px;
                    opacity: 1;
                    > strong {
                        color: #FFF;
                    }
                }
            }
        }
    }
}

#maincontents {
    width: 660px;
    float: right;
    #penAnimation {
        float: right;
    }
}

.contents {
    margin-bottom: 88px;
    font-size: 12px;
    h2 {
        background-color: #61191a;
        height: 34px;
        color: #FFF;
        margin-bottom: 40px;
        padding-top: 5px;
        padding-left: 50px;
        border-radius: 3px;
        position: relative;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        font-size: 15px;
        line-height: 1.8em;
        small {
            margin-left: 1em;
            font-size: 10px;
            line-height: 1.8em;
            font-family: "Libre Baskerville", serif;
        }
        .ribon {
            width: 21px;
            height: 36px;
            color: #FFF;
            padding: 0 3px;
            line-height: 36px;
            font-size: 10px;
            position: absolute;
            top: -5px;
            left: 15px;
            font-family: "Libre Baskerville", serif;
            background-image: url("../img/h2_ribon.png");
        }
    }
    h3 {
        width: 460px;
        font-size: 17px;
        line-height: 1.8em;
        color: #61191a;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    }
    h4 {
        font-size: 16px;
        line-height: 2em;
        color: #61191a;
        margin-bottom: 40px;
    }
    .txt {
        clear: both;
        padding-top: 46px;
        margin-bottom: 48px;
        line-height: 2em;
    }
    .txt2 {
        line-height: 2em;
    }
    .txt3 {
        line-height: 1.7em;
    }
    .totop {
        display: block;
        text-align: right;
        font-family: "Libre Baskerville", serif;
        font-size: 11px;
        color: #000;
        font-weight: bold;
        &:before {
            content: url("../img/topagetop2.png");
            background-position: left top;
            background-repeat: no-repeat;
            vertical-align: 0;
            padding-right: 10px;
        }
    }
    .jisseki_saikin {
        clear: left;
    }
}

#totop{
	width: 50px;
	height: 50px;
	background-color: rgb(97, 25, 26);
	position: fixed;
	right: 30px;
	bottom:-60px;
	transition:bottom 200ms ease;
	box-shadow: 0 0 8px rgba(0,0,0,.6);
	z-index: 1;
	img{
		position: absolute;
		top: 0;bottom: 0;left: 0;right: 0;
		margin: auto;
	}
	&.on{
		bottom:30px;
	}
}
