body.menu-open{overflow: hidden;height: 100%;}
#menu-trigger {
    display: inline-block;
    // @media all and (orientation: landscape) { display: none; }
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    top: 11px;
    right: 8px;
    width: 26px;
    height: 24px;
    -webkit-tap-highlight-color: transparent;
    span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #61191a;
        border-radius: 6px;
        &:nth-of-type(1) {
            top: 0;
        }
        &:nth-of-type(2) {
            top: 10px;
        }
        &:nth-of-type(3) {
            bottom: 0;
        }
    }
    &.active {
        transform: rotate(360deg);
        span {
            &:nth-of-type(1) {
                transform: translateY(20px) rotate(-45deg);
                top: -10px;
            }
            &:nth-of-type(2) {
                transform: translateY(0) rotate(45deg);
            }
            &:nth-of-type(3) {
                opacity: 0;
            }
        }
    }
}

#topPageLogo, #footer {
    // width: 100%;
    background-image: url("../img/bg01.gif");
    background-position: left top;
    background-repeat: repeat;
}

#contentsbody {
    width: 100%;
    background-color: #f5f4f1;
    background-image: url("../img/town.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: repeat-x;
    padding-bottom: 145px;
    padding: 10px !important;
    padding-top: 50px !important;
    padding-bottom: 40px !important;
    width: auto;
    img {
        max-width: 100%;
    }
    .sectionheader {
        margin: 0 auto 25px auto;
        overflow: hidden;
        h1 {
            text-align: center;
            font-size: 20px;
            font-family: "Libre Baskerville", serif;
            color: #61191a;
            margin-bottom: 20px;
            small {
                display: block;
                font-size: 12px;
                color: #000;
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                + img {
                    width: 20%;
                }
            }
        }
        dl {
            dt {
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 1.6em;
                font-weight: bold;
                color: #000;
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                br {
                    display: none;
                }
            }
            dd {
                font-size: 11px;
                line-height: 2em;
            }
        }
    }
    #slider1 {
        margin: 0 auto 140px auto;
        li {
            margin-top: 2px;
        }
    }
    .btn {
        display: inline;
        a {
            display: block;
            width: 235px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            color: #FFF;
            font-size: 14px;
            background-color: #61191a;
            border-radius: 3px;
            width: 170px;
            margin: 25px auto 40px auto;
            &:before {
                content: url("../img/btn_icon.png");
                vertical-align: 0;
                margin-right: 13px;
            }
        }
    }
    #note {
        clear: both;
        margin: 0 auto;
        padding: 20px 0;
        overflow: hidden;
        border-top: 1px dotted #000;
        li {
            position: relative;
            margin-bottom: 10px;
            a {
                display: block;
                border-radius: 4px;
                transition: border-color .2s linear;
                border: 2px solid #f5f4f1;
                border-radius: 4px;
                border: 2px solid #934b4c;
                &:hover {
                    opacity: 1;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


#inner {
    // height: 100%;
    margin: 0 auto;
    padding-top: 5px;
    // overflow: hidden;
}
#left_contents {
    position: static !important;
    margin-bottom: 20px;
    h1 {
        border-left: 5px solid #61191a;
        margin-bottom: 10px;
        padding-left: 10px;
        font-size: 24px;
        color: #61191a;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        small {
            display: block;
            font-size: 12px;
            color: #000;
            font-family: "Libre Baskerville", serif;
            font-weight: bold;
            padding-top: 10px;
        }
    }
    ul {
        display: none;
        li {
            height: 40px;
            padding: 3px 0;
            margin-top: -1px;
            border-top: 1px dotted #000;
            border-bottom: 1px dotted #000;
            a {
                display: block;
                height: 40px;
                line-height: 40px;
                text-align: left;
                font-size: 10px;
                font-family: "Libre Baskerville", serif;
                font-weight: bold;
                padding-left: 6px;
                transition: all .3s ease;
                color: #FFF;
                background-color: #61191a;
                border-radius: 3px;
                opacity: 1;
                > strong {
                    font-size: 14px;
                    margin: 0 .5em;
                    transition: all .2s ease;
                    color: #FFF;
                }
            }
        }
    }
}

#maincontents {
    width: auto;
}
.contents {
    margin-bottom: 10px;
    font-size: 12px;
    h2 {
        background-color: #61191a;
        height: 34px;
        color: #FFF;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-top: 5px;
        padding-left: 32px;
        border-radius: 3px;
        position: relative;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        font-size: 15px;
        line-height: 1.8em;
        small {
            margin-left: .5em;
            font-size: 10px;
            line-height: 1.8em;
            font-family: "Libre Baskerville", serif;
        }
        .ribon {
            width: 21px;
            height: 36px;
            color: #FFF;
            padding: 0 3px;
            line-height: 36px;
            font-size: 10px;
            position: absolute;
            top: -5px;
            left: 5px;
            font-family: "Libre Baskerville", serif;
            background-image: url("../img/h2_ribon.png");
        }
    }
    h3 {
        font-size: 15px;
        line-height: 1.4em;
        color: #61191a;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    }
    h4 {
        font-size: 14px;
        line-height: 1.2em;
        color: #61191a;
        margin: 20px 0;
        br {
            display: none;
        }
    }
    .txt {
        clear: both;
        margin-bottom: 10px;
        line-height: 2em;
    }
    .txt2 {
        line-height: 2em;
    }
    .txt3 {
        line-height: 1.7em;
    }
    .totop {
        display: block;
        text-align: center;
        font-family: "Libre Baskerville", serif;
        font-size: 11px;
        padding: 10px;
        color: #000;
        font-weight: bold;
        &:before {
            content: url("../img/topagetop2.png");
            background-position: left top;
            background-repeat: no-repeat;
            vertical-align: 0;
            padding-right: 10px;
        }
    }
    .jisseki_saikin {
        clear: left;
    }
}


#totop{
	width: 40px;
	height: 40px;
	background-color: rgb(97, 25, 26);
	position: fixed;
	right: 5px;
	bottom:-60px;
	transition:bottom 200ms ease;
	box-shadow: 0 0 8px rgba(0,0,0,.6);
	z-index: 1;
	img{
		position: absolute;
		top: 0;bottom: 0;left: 0;right: 0;
		margin: auto;
	}
	&.on{
		bottom:20px;
	}
}
