//現在は使われていないかもしれません。

//「#pressrelease」存在しない？？？
#pressrelease {
    position: absolute;
    top: 45px;
    left: 20px;
    width: 390px;
    z-index: 1;
    h2 {
        position: relative;
        padding: 8px 0;
        padding-left: 50px;
        font-size: 15px;
        line-height: 1.5em;
        color: #61191a;
        border-radius: 3px;
        font-family: "Libre Baskerville", serif;
        background-image: url("../img/bg02.gif");
        small {
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            font-size: 12px;
            color: #000;
            margin-left: 10px;
        }
        a {
            font-size: 10px;
            text-decoration: underline;
            color: #FFF;
            position: absolute;
            right: 20px;
            &:before {
                margin-right: 5px;
                content: url("../img/top_pr_icon.png");
            }
        }
    }
    .datelist {
        display: block;
        height: 259px;
        overflow-y: auto;
        background-image: url("../img/bg01.gif");
        background-position: left top;
        background-repeat: repeat;
        li {
            font-size: 11px;
            line-height: 1.6em;
            padding: 15px 0;
            border-bottom: 1px dotted #000;
            position: relative;
            .cel {
                display: table-cell;
                vertical-align: top;
                padding-right: 5px;
            }
            a {
                width: 390px;
                color: #000;
            }
            .date {
                width: 65px;
                font-size: 10px;
                padding-left: 5px;
            }
        }
    }
    h2:before {
        content: url("../img/top_ribon.png");
        width: 21px;
        height: 36px;
        color: #FFF;
        padding: 0 3px;
        line-height: 36px;
        font-size: 10px;
        position: absolute;
        top: -5px;
        left: 15px;
        z-index: 1;
    }
}


//「.topicInfo」存在しない？？？
.topicInfo {
    a {
        color: #000;
    }
    dl {
        display: table;
        height: 259px;
        overflow-y: auto;
        background-image: url("../img/bg01.gif");
        background-position: left top;
        background-repeat: repeat;
        dt {
            display: table-cell;
            width: 70px;
            font-size: 10px;
            padding: 15px 0 15px 5px;
            float: left;
        }
        dd {
            display: table-cell;
            width: 295px;
            font-size: 11px;
            padding: 15px 0 15px 0;
            float: left;
        }
    }
}
