#contents_ec,
#contents_blog,
#contents_pressroom{
    .img {
        margin-bottom: 10px;
    }
    dl {
        overflow: hidden;
        margin-bottom: 10px;
        dt {
            font-size: 10px;
        }
        dd {
            border-bottom: 1px dotted #000;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
    }
}
