#contents_ec,
#contents_blog,
#contents_pressroom{
    .img {
        margin-bottom: 20px;
    }
    dl {
        overflow: hidden;
        margin-bottom: 10px;
        dt,dd {
            float: left;
        }
        dt {
            display: table-cell;
            width: 85px;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
        dd {
            display: table-cell;
            width: 565px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
        }
    }
}
