#contents_recruit,
#contents_intern{
    .recruit, .trial {
        padding-left: 1em;
        li {
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            color: #61191a;
            font-weight: bold;
            list-style: disc;
            font-size: 13px;
            line-height: 2em;
        }
    }
    .recruit {
        margin-top: -30px;
        margin-bottom: -30px;
    }
    .summery {
        margin-top: 10px;
        > li{
            margin-bottom: 10px;
            > dl {
                padding-top: 10px;
                border-top: 1px solid #61191a;
                overflow: hidden;
                > dt {
                    font-weight: bold;
                    width: 150px;
                    float: left;
                }
                dd {
                    width: 500px;
                    float: left;
                }
            }
        }
        .experience > li {
            margin-bottom: 10px;
        }
    }
    .line {
        padding-bottom: 10px;
        border-bottom: 1px solid #61191a;
    }
    .apply {
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .img {
        margin-top: 40px;
        margin-bottom: 40px;
        li {
            margin-bottom: 5px;
        }
    }
    .img2, #contents_intern .img2 {
        text-align: center;
    }
    .wrap {
        overflow: hidden;
        margin-left: -20px;
        margin-bottom: 20px;
        .personal {
            width: 320px;
            float: left;
            margin-left: 20px;
            border-bottom: 1px solid #61191a;
            dl {
                overflow: hidden;
                dt, dd {
                    float: left;
                }
                dt {
                    width: 50px;
                }
                dd {
                    width: 270px;
                }
            }
        }
    }
}



#contents_recruit {
    .request {
        overflow: hidden;
        margin-top: -40px;
        ul {
            margin-top: 40px;
            width: 300px;
            float: left;
        }
        .illust {
            float: right;
            margin-top: 40px;
        }
    }
    .btn a {
        width: 250px;
        float: none;
        margin-left: 205px;
    }
    .skill {
        margin-top: 15px;
    }
    .adopt {
        margin-top: 40px;
    }
}

#contents_intern .wrap_intern {
    overflow: hidden;
    .text_intern {
        float: left;
        width: 410px;
    }
    .illust {
        float: left;
    }
}
