#contents_recruit,
#contents_intern{
    .recruit, .trial {
        padding-left: 1.5em;
        li {
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            color: #61191a;
            font-weight: bold;
            list-style: disc;
            font-size: 13px;
            line-height: 2em;
        }
    }
    .recruit {
        padding-left: 1.5em;
    }
    .summery{
        > li{
            margin-bottom: 10px;
            > dl {
                padding-top: 10px;
                border-top: 1px solid #61191a;
                overflow: hidden;
                > dt {
                    font-weight: bold;
                }
            }
        }
        .experience > li {
            margin-bottom: 10px;
            dt {
                color: #61191a;
            }
        }
    }
    .line {
        padding-bottom: 10px;
        border-bottom: 1px solid #61191a;
    }
    .apply {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .img {
        margin-top: 40px;
        margin-bottom: 40px;
        li {
            margin-bottom: 5px;
        }
    }
    .img2 {
        text-align: center;
    }
    .wrap {
        overflow: hidden;
        margin-bottom: 20px;
        .personal dl {
            overflow: hidden;
            dt, dd {
                float: left;
            }
            dt {
                width: 50px;
            }
            dd {
                width: 270px;
            }
        }
    }
}


#contents_recruit {
    .wrap {
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #61191a;
    }
    .request {
        overflow: hidden;
        ul h3 {
            margin: 10px 0;
        }
        .illust {
            margin: 10px 0;
            text-align: center;
        }
    }
    .btn a {
        width: 250px;
        float: none;
        margin: auto;
    }
    .skill {
        margin-top: 15px;
    }
    .adopt {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

#contents_intern .wrap_intern {
    overflow: hidden;
    .text_intern h3 {
        margin: 10px 0;
    }
    .illust {
        text-align: center;
    }
}
