

#contents_service .wrap {
    overflow: hidden;
    margin-left: -60px;
    margin-bottom: 40px;
    .serviceBanner {
        width: 270px;
        float: left;
        margin-left: 80px;
    }
    .btn a {
        width: 270px;
    }
}

#contents_service.wide{
    overflow: hidden;
    font-size: 0;
    // text-align: center;
    position: relative;
    left: 30px;
    margin: 0 -30px;
    .wrap{
        display: inline;
        margin: 0;
        dl{
            vertical-align: top;
            font-size: 14px;
            text-align: left;
            float: none;
            display: inline-block;
            margin: 0 30px 40px;
            dt+dd{margin: .25em 0;}
            img{vertical-align: bottom;}
            .btn a{
                margin: auto;
            }
        }
    }
}

@keyframes marquee { from { transform: translate(0%);} 99%,to { transform: translate(-100%);} }

#contents_service1{
	margin-bottom: 30px;
	h2 strong{
		font-size: 14px;
	}
	h3{
		width: auto;
		margin-bottom: 20px;
	}
	h4{
		margin-top: 50px;
		margin-bottom: 20px;}
	h5{
		font-size: 14px;
		margin-top: -20px;
		margin-bottom: 10px;
		text-align: center;
	}
	.txt{padding-top: 0;}
	.support{
		h4{margin-top: 40px;}
		.txt{margin-bottom: 20px;}
		.illust{
			text-align: center;
			img{width: 401px;}
		}
	}
	.field{
		margin-bottom: 30px;
		&:after{
			content: "";
			display: block;
			clear: both;
		}
		li{
			float: left;
			width: 20%;
			dt{
				background-color: rgb(97, 25, 26);
				color: #fff;
				font-weight: bolder;
				padding: 5% 0 5% 5%;
				br{display: none;}
			}
			dt,dd{
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow:hidden;
				padding: 5% 0 5% 5%;
				border-bottom: 1px solid;
				&:hover{
					text-overflow: clip;
					position: relative;
					span{
						display: inline-block;
						margin: 0;
						white-space: nowrap;
						animation:marquee 5s linear infinite;
					}
				}
			}
		}
		li:nth-child(2n){
			background-color: rgba(97, 25, 26, 0.2);
		}
		li:nth-child(2n) dt{
			background-color: rgba(88, 18, 19, 0.6);
		}
	}
	.report{
		h4{margin-top: 60px;}
		.illust{margin-bottom: 20px;}
	}
	.pick{
		h4{
			margin-top: 40px;
			&:before{
				content: "";
				background-image: url("../img/icon_w.png");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				margin-right: 5px;
				top: -4px;
				width: 40px;
				height: 40px;
			}
		}
		>p{margin-bottom: 20px;}
	}
	.btnArea{
		vertical-align: top;
		font-size: 0;
		text-align: center;
		li{
			display: inline-block;
			margin-right: 20px;
			a{
                margin-top: 0;
                font-weight: bold;
                text-shadow: 1px 1px 0 rgba(255,255,255,.3), -1px -1px 0 rgba(0,0,0,.5);
                box-shadow: 0 0 4px rgba(0,0,0,.5);
                &:hover {
                    opacity: 1!important;
                    background-color: #601919;
                    background-color: saturate(#AA8685,70%);
                    text-shadow: 0 0 0 rgba(255,255,255,0), 0 0 0 rgba(0,0,0,0);
                    box-shadow: 0 0 0 rgba(0,0,0,0);
                }
            }
		}
	}
}
