#contents_service .wrap {
    overflow: hidden;
    .serviceBanner {
        width: 270px;
        margin: auto;
    }
    .btn a {
        margin-top: 10px;
        width: 270px;
    }
}

#contents_service1{
	margin-bottom: 30px;
	h2{
		height: auto;
		line-height: 1.4em;
		padding-bottom: 5px;
		strong{
			display: inline-block;
			width: 100%;
			text-indent: -.5em;
			// font-family: "ＭＳ Ｐ明朝","MS PMincho","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",serif;
		}
	}
	h3{
		width: auto;
		margin-bottom: 20px;
	}
	h4{
		margin-top: 50px;
		margin-bottom: 20px;
	}
	h5{
		font-size: 13px;
		text-align: center;
		margin-bottom: 10px;
	}
	.txt{padding-top: 0;}
	.support{
		.illust{
			text-align: center;
		}
	}
	.field{
		max-width: 100%;
		margin: 30px auto 50px;
		text-align: center;
		dt{
			cursor: pointer;
			margin-top: .5em;
			color: #fff;
			background-color: rgb(97, 25, 26);
			font-size: 12px;
			line-height:1.6;
			padding: 10px;
			font-weight: bold;
			position: relative;
			&:hover{
				background-color: rgba(170, 134, 133,.8);
			}
			&:after{
				content: "";
				width: 10px;
				height: 10px;
				border-bottom: 4px solid #fff;
				border-right: 4px solid #fff;
				position: absolute;
				top: 40%;
				margin-top: -5px;
				right: 10px;
				transform: rotate(45deg);
			}
			&.on:after{
				transform: rotate(-135deg);
				top: 50%;
			}
		}
		dd{
			padding: 10px;
			font-size: 1em;
			border-bottom: 1px solid;
			&:nth-child(2n+1){
				background-color: rgba(97, 25, 26, 0.2);
			}
		}
	}
	.field dd{display: none;}
	.pick{
		margin: 50px auto;
		h4{
			&:before{
				content: "";
				background-image: url("../img/icon_w.png");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				margin-right: 5px;
				top: -4px;
				width: 40px;
				height: 40px;
			}
		}
	}
	.btnArea{
		vertical-align: top;
		li{
			margin: 0 auto;
			a{
				width: 270px;
				margin-top: 0;
				margin-bottom: 15px;
			}
		}
	}
}
