$keyColor:#61191a;
$keyColor2:#aa191a;
$mincho: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
#single-article{
	.break2{display: none;}
	@media all and (max-width:570px){
		.break2{display: block;}
	}
	h2{
		small{
			font-size: 0.6em;
			font-family: $mincho;
		}
	}
	strong{
		background: none;
		color: $keyColor2;
		font-weight: normal;
	}
	.task{
		border: 1px solid $keyColor;
		margin: 2em 0;
		padding: 1em;
		ol{margin: 0;}
		li:last-child{margin-bottom: 0;}
	}
	p{
		&.img{
			text-align: center;
			margin: 1em auto;
			img{max-width:100%;}
		}
		&.image{
			width: 80%;
			margin: 1.5em auto;
			font-size: 1em;
			line-height: 1.4;
			img{
				display: block;
				margin: auto;
				max-width:100%;
			}
		}
		&.lead{
			text-align: center;
			font-size: 1.25em;
			line-height: 2em;
			margin: 2em auto;
			@media all and (max-width:570px){
				text-align: justify;
				.break{display: none;}
			}
		}
		&.appeal{
			margin-top: 4em;
			@media all and (max-width:570px){margin-top: 2em;}
			// color: $keyColor2;
			// font-weight: bold;
		}
		&.bnr{text-align: center;}
		&.appeal + .everyPost{
			margin:2.5em auto 0;
		}
	}
}
