$keyColor:#61191a;
$keyColor2:#aa191a;
$mincho: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
#single-article{
	padding: 0 10px;
	@media all and (max-width:570px){padding: 0;}
	max-width:748px;
	margin: auto;
	font-size: 16px;
	@media all and (max-width:570px){font-size:14px;}
	line-height: 1.8;
	-webkit-text-size-adjust: 100%;
	vertical-align: baseline;
	box-sizing:border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	*,
	*:before,
	*:after{
		margin: 0;
		padding: 0;
		list-style: none;
		background-repeat: no-repeat;
		box-sizing:border-box;
		vertical-align:inherit;
	}
	a{color:$keyColor;}
	h1{
		background-color:$keyColor;
		font-family: $mincho;
		color: #fff;
		line-height: 1.2;
		font-size: 1.5em;
		padding:10px .5em;
		margin: 2em -10px .5em;
		@media all and (max-width:570px){margin: 2em 0 .5em;}
		font-weight: bold;
		font-feature-settings: 'palt' 1;
		border-radius: 4px;
		&:first-child{
			margin-top: 0;
			@media all and (max-width:570px){margin-top:1em;}
		}
		small{
			font-weight: normal;
			font-size: .75em;
		}
	}
	h2{
		font-family: $mincho;
		color:$keyColor;
		line-height: 1.2;
		font-size: 1.75em;
		margin: 2.5em auto .5em;
		border-bottom: 1px dotted $keyColor;
		font-feature-settings: 'palt' 1;
		@media all and (max-width:570px){margin: 1.5em auto .5em;}
		&:first-child{margin-top: 0;}
	}
	h3{
		color:$keyColor;
		line-height: 1.4;
		font-size: 1.25em;
		margin: 1.5em auto 1em;
		font-feature-settings: 'palt' 1;
		&:first-child{margin-top: 0;}
	}
	strong{
		background: linear-gradient(transparent 40%, #ffff66 40%);
	}
	b{
		font-weight: bold;
	}
	p{
		margin: .75em auto;
		text-align: justify;
		&:first-child{margin-top: 0;}
		img.photo-right{
			float: right;
			margin: 0.4em 0 1em 1em;
			@media all and (max-width:570px){max-width: 50%;}
		}
	}
	.clear{clear:both;}
	li{
		line-height: 1.6;
		margin: .5em auto;
		text-align: justify;
	}
	ul{
		margin: 1em auto;
		li{
			padding-left: 1em;
			text-indent: -1em;
			&:before{
				content:"・";
				color:$keyColor;
				text-shadow:0 0 1px $keyColor;
			}
		}
	}
	ol{
		margin: 1em auto;
		counter-reset:number;
		li{
			padding-left: 2em;
			position: relative;
			&:before{
				counter-increment: number;
				content: counter(number)".";
				color:$keyColor;
				position: absolute;
				top: 0;
				left: 0;
				width: 1.75em;
				text-align: right;
				font-weight: bold;
			}
		}
	}
	table{
		width: 100%;
		margin: 1em auto;
		border-collapse: collapse;
		line-height: 1.4;
		vertical-align: middle;
		th,td{
			padding: .75em;
			border: 2px solid #fff;
		}
		th{
			background-color: lighten($keyColor, 40%);
			color:#444;
			width: 20%;
			text-align: left;
		}
	}
	dt{font-weight: bold;}
	dd+dt{
		margin-top: 1em;
	}
	dt+dd{
		margin-top: .25em;
	}
	.everyPost {
		margin:2.5em auto 0;
		@media all and (max-width:570px){margin: 2em auto -0px;}
		padding: 30px 0;
		border-top: 1px dotted $keyColor;
		border-bottom: 1px dotted $keyColor;
		text-align: center;
		a {
			margin: 0 auto;
			display: inline-block;
			text-align: center;
			color: #FFFFFF;
			line-height: 1;
			padding:1em 1.5em;
			border-radius: 4px;
			text-indent: 1em;
			text-decoration: none;
			background-color: $keyColor;
			background-image: url(/img/ico_bottom_inquiry.png), url(/img/ico_bottom_arrow.png);
			background-repeat: no-repeat, no-repeat;
			background-position: left center, right center;
			background-size:31px 13px,17px 13px;
			vertical-align: bottom;
		}
	}
	.totop {
        display: block;
        text-align: right;
		@media all and (max-width:570px){text-align: center;}
        font-family: "Libre Baskerville", serif;
        font-size: 11px;
		@media all and (max-width:570px){padding: 10px;}
        color: #000;
        font-weight: bold;
        &:before {
            content: url("../img/topagetop2.png");
            background-position: left top;
            background-repeat: no-repeat;
            vertical-align: 0;
            padding-right: 10px;
        }
    }
}
