#slider1 {
    display: none;
    width: 980px;
    position: relative;
    div {
        margin: 0;
    }
    .window {
        width: 980px;
        height: 280px;
        margin: auto;
        overflow: hidden;
        position: relative;
        margin-bottom: 5px;
        .wrapper {
            list-style: none;
            height: 280px;
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 1s ease;
            li {
                display: block;
                list-style: none;
                width: 980px;
                height: 280px;
                float: left;
                a {
                    display: block;
                    list-style: none;
                    width: 980px;
                    height: 280px;
                    img {
                        display: block;
                        list-style: none;
                        width: 980px;
                        height: 280px;
                    }
                }
            }
        }
    }
    .navigation li {
        display: block;
        list-style: none;
        width: 160px;
        height: 35px;
        line-height: 35px;
        text-indent: 15px;
        margin-right: 2px;
        float: left;
        a {
            display: block;
            list-style: none;
            width: 160px;
            height: 35px;
            line-height: 35px;
            text-indent: 15px;
            margin-right: 2px;
            background-color: #bbbfc3;
            color: #000;
            text-decoration: none;
            font-size: 11px;
            &:hover {
                opacity: 1;
            }
            &.on {
                background-color: transparent;
                cursor: default;
            }
        }
    }
    .control {
        list-style: none;
        display: inline;
        li {
            display: inline;
            a {
                display: block;
                width: 32px;
                height: 32px;
                background-color: #000;
                position: absolute;
                top: 50%;
                margin-top: -17px;
                border-top-left-radius: 32px;
                &:after {
                    content: "";
                    background-color: #f5f4f1;
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-top-left-radius: 30px;
                }
                &:hover {
                    opacity: 1;
                }
                &.off {
                    opacity: .25;
                    cursor: default;
                    &:hover {
                        opacity: 0.25;
                    }
                }
                &.prev {
                    left: -32px;
                    transform: rotate(135deg);
                }
                &.next {
                    right: -32px;
                    transform: rotate(-45deg);
                }
            }
        }
        &:after {
            content: "";
            display: block;
            width: 121px;
            height: 95px;
            position: absolute;
            top: -5px;
            left: -5px;
            background-image: url("../img/slider1_ribon.png");
        }
    }
}


#note li:before {
    content: url("../img/top_ribon.png");
    width: 21px;
    height: 36px;
    color: #FFF;
    padding: 0 3px;
    line-height: 36px;
    font-size: 10px;
    position: absolute;
    top: -5px;
    left: 15px;
    z-index: 1;
}
