#contents_about {
    position: relative;
    #rule {
        clear: both;
        padding-left: 1.5em;
        li {
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            color: #61191a;
            font-weight: bold;
            list-style: disc;
            font-size: 13px;
            line-height: 1.2em;
            margin: 1em 0;
        }
    }
    #think {
        #humanAnimation {
            margin: 10px auto;
        }
        .txt {
            clear: none;
            padding-top: 0;
            margin-bottom: 0;
        }
    }
}
#contents_profile {
    h4 {
        margin-bottom: 20px;
    }
    .txt {
        padding-top: 0;
    }
    #photo {
        background-image: url("../img/vison_img03.png");
        background-size: 50% auto;
        background-position: center top;
        background-repeat: no-repeat;
        padding-top: 202px;
        padding-top: 64vw;
        h3 {
            margin-bottom: 10px;
        }
        dl {
            font-size: 12px;
            line-height: 1.7em;
            margin-bottom: 10px;
        }
    }
    #bag {
        background-image: url("../img/vison_img02.gif");
        background-position: center bottom;
        background-repeat: no-repeat;
        padding-bottom: 170px;
        margin-bottom: 10px;
    }
    #pc {
        #pcAnimation {
            margin: 10px auto;
        }
        .txt {
            clear: none;
        }
    }
}
