#contents_business, #contents_about, #contents_profile {
    h3{float: left;}
}
#contents_about {
    position: relative;
    h3 {
        width: 360px;
        float: left;
    }
    #glassAnimation {
        float: right;
    }
    #rule {
        clear: both;
        height: 120px;
        position: absolute;
        top: 180px;
        padding-left: 1em;
        li {
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            color: #61191a;
            font-weight: bold;
            list-style: disc;
            font-size: 13px;
            line-height: 2em;
        }
    }
    #think {
        #humanAnimation {
            float: left;
        }
        .txt {
            float: right;
            width: 385px;
            clear: none;
            padding-top: 0;
            margin-bottom: 0;
        }
    }
}
#contents_profile {
    h4 {
        margin-bottom: 20px;
    }
    .txt {
        padding-top: 0;
    }
    #photo {
        background-image: url("../img/vison_img03.png");
        background-position: right top;
        background-repeat: no-repeat;
        min-height: 345px;
        padding-right: 285px;
        h3 {
            margin-bottom: 20px;
        }
        dl {
            font-size: 12px;
            line-height: 1.7em;
            margin-bottom: 40px;
        }
    }
    #bag {
        background-image: url("../img/vison_img02.gif");
        background-position: right top;
        background-repeat: no-repeat;
        min-height: 177px;
        padding-right: 167px;
    }
    #pc {
        #pcAnimation {
            float: left;
        }
        .txt {
            width: 490px;
            float: right;
            clear: none;
        }
    }
}
