.works-contents{
    .spnav{
        @media all and (min-width:768px){display: none;}
        margin-bottom: 2em;
        font-size:1.2em;
        line-height: 1;
        strong{
            margin-left: .5em;
            text-decoration: underline;
        }
        a{
            color:#61191a;
            display: block;
            padding: .75em 0;
            &:before{
                content:"▼";
                margin-right: .25em;
            }
        }
    }
    >h2{
        margin-bottom: 1em;
        margin-top: 4em;
    }
    &:first-child >h2{margin-top: 0;}
    >p{
        font-size:1.25em;
    }
    >h3{
        margin-top: 1em;
        font-size:1.5em;
    }
    >dl{
        margin-top:2em;
        dt{
            font-size:1.25em;
            font-weight: bold;
            color: #61191a;
        }
        dd{
            font-size:1.1em;
            margin-top: .5em;
            &:before{
                content:"・";
            }
            a{
                text-decoration: underline;
                &[target="_blank"]:after {
                  font-family: FontAwesome;
                  content: ' \f08e';
                }
            }
        }
    }
    .jirei{
        box-sizing: border-box;
        *{box-sizing: border-box;}
        li{
            margin-top: 1em;
        }
        a{
            display: block;
            overflow: hidden;
            position: relative;
            background-color: #fff;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #61191a;
            i{
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                background-color: #eee;
                display: block;
                width: 30%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-size:contain;
                background-repeat: no-repeat;
                background-position: center;
                border: 10px solid transparent;
            }
            dl{
                float: right;
                width: 70%;
                padding-left: 10px;
                color:#333;
                dt{
                    font-size: 2em;
                    line-height: 1.3;
                    @media all and (max-width:520px){font-size:1.5em;}
                }
            }
        }
    }
}
