#contents_recently, #contents_example {
    dt{
        color: #61191a;
        font-size: 14px;
        font-weight: bold;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    }
}
#contents_recently {
    h3 {
        width: 660px;
        float: none;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    dt, dd {
        margin-bottom: 10px;
    }
    dl {
        margin-bottom: 20px;
        border-radius: 5px;
        dt {
            margin-top: 30px;
        }
        .homepage {
            font-weight: bold;
        }
        .mh_contents {
            margin-top: 30px;
        }
    }
    .guidance {
        font-size: 14px;
    }
    .case {
        font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding-bottom: 20px;
        margin-bottom: 10px;
        background-image: url(../img/block_bottom.png);
        background-repeat: repeat-x;
        background-position: center bottom;
        &:nth-last-of-type(1) {
            background-image: none;
        }
        h3 {
            font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 8px;
            text-align: left;
            &.phone {
                padding-left: 20px;
                background-image: url(../img/ico_works_s.png);
                background-repeat: no-repeat;
                background-position: left center;
            }
            &.all {
                padding-left: 49px;
                background-image: url(../img/ico_works_ps.png);
                background-repeat: no-repeat;
                background-position: left center;
            }
            &.pc {
                padding-left: 35px;
                background-image: url(../img/ico_works_p.png);
                background-repeat: no-repeat;
                background-position: left center;
            }
        }
        .summary {
            line-height: 200%;
            a {
                display: block;
                width: 260px;
                text-align: center;
                margin: 25px auto 0 auto;
                line-height: 44px;
                padding: 2px 0 0 16px;
                font-size: 18px;
                font-weight: bold;
                color: #FFFFFF;
                background-color: #601919;
                background-image: url(../img/ico_works_request.png), url(../img/ico_works_arrow.png);
                background-repeat: no-repeat, no-repeat;
                background-position: 10px center, right center;
                background-size: 22px auto, 20px auto;
                border-radius: 3px;
                text-shadow: 1px 1px 0 rgba(255,255,255,.3), -1px -1px 0 rgba(0,0,0,.5);
                box-shadow: 0 0 4px rgba(0,0,0,.5);
                &:hover {
                    opacity: 1!important;
                    background-color: #601919;
                    background-color: saturate(#AA8685,70%);
                    text-shadow: 0 0 0 rgba(255,255,255,0), 0 0 0 rgba(0,0,0,0);
                    box-shadow: 0 0 0 rgba(0,0,0,0);
                }
            }
            dl {
                margin-top: 0;
            }
        }
        dl {
            dt {
                font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
                margin-bottom: 5px;
                font-size: 16px;
                em {
                    font-style: normal;
                    font-size: 11px;
                    &::before {
                        content: " ";
                    }
                }
            }
            dd {
                font-size: 13px;
                font-weight: 500;
                position: relative;
                a{
                    cursor: pointer;
                    &:hover{
                        opacity: 1;
                        img{opacity: 1;}
                    }
                }
                a img.rep{
                    &.off{
                        position: absolute;
                        top: 0;
                        left: 0;
                        &:hover{opacity: 0;}
                    }
                }
            }
        }
    }
}
#contents_example {
    dt, dd {
        margin-bottom: 10px;
    }
    dl {
        overflow: hidden;
        margin-bottom: 30px;
        .img {
            float: left;
        }
        .summery {
            width: 380px;
            float: right;
        }
        .example {
            font-size: 15px;
        }
        .btn a {
            float: none;
            width: 320px;
            margin-left: 30px;
        }
    }
}

#contents_past {
    overflow: hidden;
    .wrap {
        overflow: hidden;
        margin-left: -15px;
        margin-bottom: 20px;
        dl {
            width: 300px;
            float: left;
            margin-left: 30px;
            margin-bottom: 20px;
        }
    }
    dl {
        h3 {
            font-size: 12px;
            font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
            margin-top: 5px;
            position: relative;
            display: inline-block;
            &::before {
                content: '';
                width: 6px;
                height: 6px;
                border: 0px;
                border-right: solid 1px #61191A;
                border-bottom: solid 1px #61191A;
                transform: rotate(45deg);
                position: absolute;
                top: 50%;
                left: 78px;
                margin-top: -7px;
            }
        }
        li {
            display: inline;
            margin-right: 2px;
            padding: 0;
        }
        ul {
            margin-bottom: 3px;
        }
        li:after {
            content: "/";
            margin-left: 8px;
        }
    }
    .wrap dl dt {
        font-weight: bold;
        margin-bottom: 5px;
    }
    p {
        color: #61191a;
        font-size: 14px;
        font-weight: bold;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        margin-top: 20px;
        margin-left: 14px;
        margin-bottom: 20px;
    }
}
