        <footer id="footer">
            <div id="footer_nav">
             <p id="copy">Copyright(C)2006-2017 LIFE ESCORT All Rights Reserved.</p>
               <nav>
                    <ul>
                        <li><a href="/" onclick="ga('send','event','フッター','クリック','TOP',1);">TOP</a>  |  </li>
                        <li><a href="/vision.html" onclick="ga('send','event','フッター','クリック','ビジョン',1);">ビジョン</a>  |  </li>
                        <li><a href="/works.html" onclick="ga('send','event','フッター','クリック','これまでの実績',1);">これまでの実績</a>  |  </li>
                        <li><a href="/service.html" onclick="ga('send','event','フッター','クリック','サービス紹介',1);">サービス紹介</a>  |  </li>
                        <li><a href="/company.html" onclick="ga('send','event','フッター','クリック','会社概要',1);">会社概要</a>  |  </li>
                        <li><a href="/recruit.html" onclick="ga('send','event','フッター','クリック','採用情報',1);">採用情報</a>  |  </li>
                        <li><a href="/press-release.html" onclick="ga('send','event','フッター','クリック','プレスリリース',1);">プレスリリース</a>  |  </li>
                        <li><a href="/privacy_policy.html" onclick="ga('send','event','フッター','クリック','プライバシーポリシー',1);">プライバシーポリシー</a>  |  </li>
                        <li><a href="/form/inquiry_corp.php" onclick="ga('send','event','フッター','クリック','お問い合わせ',1);">お問い合わせ</a></li>
                    </ul>
               </nav>
                <ul class="sns">
                    <li><a class="fb circle" href="//www.facebook.com/sharer.php?u=https://www.life-escort.co.jp/&amp;t=ライフエスコート"  onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;">facebook</a></li>
                    <li><a class="tw circle" href="//twitter.com/share" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;">twitter</a></li>
                    <li><a class="line circle" href="//line.me/R/msg///www.life-escort.co.jp/" target="_blank">line</a></li>
                    <li><a class="totop" href="">PAGE TOP</a></li>
                </ul>
            </div>
            <div id="footer_acces">
               <p class="logo"><img src="/img/top_footerlogo.gif" alt=""></p>
               <dl class="address">
                    <dt>株式会社ライフエスコート</dt>
                    <dd>〒105-0014 東京都港区芝1-14-11芝明月ビル6階</dd>
                </dl>
                <p class="tel pc"><img src="/img/tel.png" alt="TEL:03-5765-6960,受付時間09：30am−06：30pm"></p>
                <p class="tel sp"><strong>TEL：</strong>03-5765-6960<strong><br />受付時間：</strong>09:30 am − 06:30 pm<a href="tel:0357656960" onclick="ga('send','event','フッター','クリック','今すぐ電話する',1);">今すぐ電話する</a></p>
                <p class="btn"><a href="/contact.html" onclick="ga('send','event','フッター','クリック','お問い合わせ',1);">お問い合わせはこちら</a></p>
                <p class="privacy sp"><a href="/privacy_policy.html" onclick="ga('send','event','フッター','クリック','プライバシーポリシー',1);">プライバシーポリシー</a></p>
            </div>
        </footer>
