<% if(data.pageType != "index"){ %>
    <% if(data.pageType == "news"){ %>
        <h3 style="margin-bottom:-1em;">本プレスリリースに関するお問い合わせはこちら</h3>
        <p class="everyPost"><a href="/form/inquiry_corp.php" onclick="ga('send','event','お問い合わせボタン','クリック','contact.html',true);">お問い合わせはこちら</a></p>
    <% } %>
    <% if(data.pageType == "jirei"){ %>
        <p class="everyPost contact"><a href="/form/inquiry_corp.php" onclick="ga('send','event','お問い合わせボタン','クリック','contact.html',true);">お問い合わせはこちら</a></p>
    <% } %>
    </div>
<% } %>
<% if(data.pageType == "jirei"){ %>
    <h2 id="jireiMidashi">納品完了で終わらせない<br>ライフエスコートの成功事例</h2>
    <%- include('../include/jirei-slider.ejs',pageInfo) %>
<% } %>
        </article>

        <a id="totop" href=""><img src="/img/totop@2x.png" alt="" width="35"></a>
<%- include('footer_main-code.ejs') %>
        <script type="text/javascript" src="/js/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.rwdImageMaps.min.js"></script>
        <script type="text/javascript" src="/js/header_footer_func.js?<%= Math.random() %>" async></script>
        <script type="text/javascript" src="/js/common.js?<%= Math.random() %>" async></script>
<% if(data.fileName == "inquiry_template"){ -%>
    <script type="text/javascript" src="/form/js/jquery.validationEngine-ja.js"></script>
    <script type="text/javascript" src="/form/js/jquery.validationEngine.js"></script>
    <script type="text/javascript">
    $(window).load(function(){
        if(!$("#LE_FROM").hasClass("confirm")){
            $("#LE_FROM").validationEngine('attach', {
                promptPosition: "topLeft",//エラー文の表示位置
                showArrowOnRadioAndCheckbox: true,//エラー箇所の図示
                focusFirstField: true,//エラー時に一番文頭の入力フィールドにフォーカスさせるかどうか
                scroll: true,
                onValidationComplete: function(form, status){
                    if(status === true){
                        $("#LE_FROM").submit();
                    }
                }
            });
        }
    });
    function sumbit_form( mode ){
        if( mode == "" ){ alert("必要な値が存在しません。");return false;}
        else{
            LE_FROM.mode.value = mode;
            this.disabled = true;
            LE_FROM.submit();
        }
    }
    </script>
<% } -%>
        <%# <script type="text/javascript" src="js/ga.js"></script>%>
        <script type="text/javascript" async>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-19983920-5', 'auto');
        ga('send', 'pageview');
        </script>

<%# if(data.pageType == "index"){
        <!-- WP連動 -->
        <script type="text/javascript" src="https://www.life-escort.co.jp/contents/sn-news.js"></script>
        <script type="text/javascript">
        function wp_load(){
            loadText("https://www.life-escort.co.jp/contents/sn-news.php?cat=6&posts_per_page=1","wp_message");
            loadText("https://www.life-escort.co.jp/contents/sn-news.php?cat=3,4,5,7,9,10,11,36,37,66,147,148,400,430,427,495,584,657,6081&posts_per_page=10&link=1","wp_topic");
        }
        wp_load();
        </script>
 } %>
<% if(data.fileName == "press-release"||data.fileName == "404"){ %>
        <!-- WP連動 -->
        <script type="text/javascript" src="/contents/sn-news.js?date=20170125"></script>
        <script type="text/javascript" async>
          function wp_load(){
            loadText("/ec-support/wp/sn-news.php?cat=13,3&posts_per_page=10&link=1","wp_support");
            loadText("/ec-support/wp/sn-news.php?cat=69,7&posts_per_page=10&link=1","wp_knowhow");
            loadText("/contents/sn-news.php?cat=7&posts_per_page=10&link=1","wp_topic");
            loadText("/contents/sn-news.php?cat=10&posts_per_page=10&link=1","wp_message");
          }
          wp_load();
      <% if(data.fileName == "404"){ %>
          $(window).load(function(){
              var cntInterval = 0;
              if(cntInterval<10){
                  setInterval(function(){
                      $("ul.release>li").each(function(){
                          $(this).find("dt").each(function(i){
                              if(i>4){
                                  $(this).remove();
                              }
                          });
                          $(this).find("dd").each(function(i){
                              if(i>4){
                                  $(this).remove();
                              }
                          });
                      });
                      cntInterval++;
                  },500);
              }
          });
      <% } %>
      </script>
<% } %>
		<%# <!--#include virtual="include/footer.inc" -->%>
		<script type="text/javascript" async>
			function googleTranslateElementInit() {
				new google.translate.TranslateElement({pageLanguage: 'ja', includedLanguages: 'en,es,fr,ko,pt,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL, gaTrack: true, gaId: 'UA-19983920-5'}, 'google_translate_element');
			}
		</script>
		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		<script src="//sitest.jp/tracking/sitest_js?p=5710ba9d945a9" async></script>
    </body>
</html>
