<header id="site-header">
    <div class="sp-header-wrapper">
        <div id="header_top">
            <a id="topPageLogo" href="/">
                <img class="logo" src="/img/top_headerlogo.gif" alt="LIFE ESCORT">
                <img class="animate" src="/img/top_headerlogo_animate.gif" alt="ライフエスコート">
                <img class="noface" src="/img/top_headerlogo_noface.gif" alt="ELECTRONIC COMMERCE ＆ CONSULTING">
                <img class="onlyface" src="/img/top_headerlogo_onlyface.png" alt="「WEB・モバイルコンテンツをはじめとするECサイトの企画運営」と「鍼灸整骨院の多店舗展開」">
            </a>
            <p class="tel">
                <img src="/img/tel.png" alt="TEL:03-5765-6960,受付時間09：30am−06：30pm">
            </p>
            <a id="menu-trigger" href="">
                <span> </span>
                <span> </span>
                <span> </span>
            </a>
        </div>
        <div class="sp-menu-wrapper">
            <div class="sns">
                <ul>
                    <li><a class="fb circle" href="//www.facebook.com/sharer.php?u=https://www.life-escort.co.jp/&amp;t=ライフエスコート"  onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;">facebook</a></li>
                    <li><a class="tw circle" href="//twitter.com/share" onclick="window.open(this.href, 'window', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;">twitter</a></li>
                    <li><a class="line circle" href="//line.me/R/msg///www.life-escort.co.jp/" target="_blank">line</a></li>
                </ul>
                <form name="f1" action="//www.google.com/search">
                    <input type="hidden" value="life-escort.co.jp/" name="sitesearch" />
                    <input type="hidden" name="domains" value="life-escort.co.jp/">
                    <input type="hidden" name="ie" value="UTF-8" />
                    <input type="hidden" name="oe" value="UTF-8" />
                    <input type="text" name="q" class="txtG" value="">
                    <button><img src="/img/icon_serch.png" name="btnG" alt="検索"></button>
                </form>
            </div>
            <nav id="header_nav">
                <ul>
                    <li>
                        <a id="nav1" href="/vision.html" onclick="ga('send','event','ナビゲーション','クリック','ビジョン',1);">
                            <img class="pcOnly" src="/img/header_nav1.png" alt="ビジョン">
                            <span class="spOnly">ビジョン<small>VISION</small></span>
                        </a>
                        <ul class="sub">
                            <li><a href="/vision.html#contents_business" onclick="ga('send','event','ナビゲーション','クリック','事業内容',1);">事業内容</a></li>
                            <li><a href="/vision.html#contents_about" onclick="ga('send','event','ナビゲーション','クリック','会社の考え方',1);">会社の考え方</a></li>
                            <li><a href="/vision.html#contents_profile" onclick="ga('send','event','ナビゲーション','クリック','代表プロフィール',1);">代表プロフィール</a></li>
                        </ul>
                    </li>
                    <li>
                        <a id="nav2" href="/works.html" onclick="ga('send','event','ナビゲーション','クリック','これまでの実績',1);">
                            <img class="pcOnly" src="/img/header_nav2.png" alt="これまでの実績">
                            <span class="spOnly">これまでの実績<small>WORKS</small></span>
                        </a>
<%#
                        <ul class="sub">
                            <li><a href="/works.html#contents_recently" onclick="ga('send','event','ナビゲーション','クリック','最近の実績',1);">最近の実績</a></li>
                            <li><a href="/works.html#contents_example" onclick="ga('send','event','ナビゲーション','クリック','事例紹介',1);">事例紹介</a></li>
                            <li><a href="/works.html#contents_past" onclick="ga('send','event','ナビゲーション','クリック','過去の実績',1);">過去の実績</a></li>
                        </ul>
%>
                    </li>
                    <li>
                        <a id="nav3" href="/service.html" onclick="ga('send','event','ナビゲーション','クリック','サービス紹介',1);">
                            <img class="pcOnly" src="/img/header_nav3.png" alt="サービス紹介">
                            <span class="spOnly">サービス紹介<small>SERVICE</small></span>
                        </a>
                        <ul class="sub">
                            <li><a href="/service.html#contents_service1" onclick="ga('send','event','ナビゲーション','クリック','メインサービス',1);">メインサービス</a></li>
                            <li><a href="/service.html#contents_service" onclick="ga('send','event','ナビゲーション','クリック','各種サービス',1);">各種サービス</a></li>
                        </ul>
                    </li>
                    <li>
                        <a id="nav4" href="/company.html" onclick="ga('send','event','ナビゲーション','クリック','会社概要',1);">
                            <img class="pcOnly" src="/img/header_nav4.png" alt="会社概要">
                            <span class="spOnly">会社概要<small>COMPANY</small></span>
                        </a>
                    </li>
                    <li>
                        <a id="nav5" href="/recruit.html" onclick="ga('send','event','ナビゲーション','クリック','採用情報',1);">
                            <img class="pcOnly" src="/img/header_nav5.png" alt="採用情報">
                            <span class="spOnly">採用情報<small>RECRUIT</small></span>
                        </a>
                        <ul class="sub">
                            <li><a href="/recruit.html#contents_recruit" onclick="ga('send','event','ナビゲーション','クリック','採用情報（一般採用）',1);">採用情報（一般採用）</a></li>
                            <li><a href="/recruit.html#contents_intern" onclick="ga('send','event','ナビゲーション','クリック','インターン生募集',1);">インターン生募集</a></li>
                        </ul>
                    </li>
                    <li>
                        <a id="nav6" href="/press-release.html" onclick="ga('send','event','ナビゲーション','クリック','プレスリリース',1);">
                            <img class="pcOnly" src="/img/header_nav6.png" alt="プレスリリース">
                            <span class="spOnly">プレスリリース<small>PRESS RELEASE</small></span>
                        </a>
                        <ul class="sub">
                            <li><a href="https://www.life-escort.co.jp/ec-support/" onclick="ga('send','event','ナビゲーション','クリック','海外キャンペーン事例',1);">海外キャンペーン事例</a></li>
                            <li><a href="/press-release.html#contents_blog" onclick="ga('send','event','ナビゲーション','クリック','ECノウハウレポート',1);">ECノウハウレポート</a></li>
                            <li><a href="/press-release.html#contents_pressroom" onclick="ga('send','event','ナビゲーション','クリック','プレスルーム',1);">プレスルーム</a></li>
                        </ul>
                    </li>
                    <li>
                        <a id="nav7" href="/form/inquiry_corp.php" onclick="ga('send','event','ナビゲーション','クリック','お問い合わせ',1);">
                            <img class="pcOnly" src="/img/header_nav7.png" alt="お問い合わせ">
                            <span class="spOnly">お問い合わせ<small>CONTACT</small></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <% if(data.pageType == "index"){ %>
        <div id="keyVisual">
            <div class="keyVisualinner">
                <img class="message" src="/img/top_view_happymessage.png" alt="">
                <img class="plane" src="/img/top_view_airship.png" alt="">
            </div>
            <img class="animate" src="/img/top_keyvisual_animate.gif" alt="">
            <img class="hand" src="/img/top_view_hand.png" alt="">
        </div>
    <% } %>
    </header>
