<% if(data.fileName != "inquiry_template"){ -%>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="ja-JP" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="ja-JP" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ja-JP" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= data.title %></title>
        <meta name="description" content="<%= data.description %>">
        <meta name="keywords" content="<%= data.keywords %>">
<% } -%>
        <meta name="viewport" content="width=device-width">
<% if(data.fileName == "404"){ %>
        <meta name="robots" content="noindex">
<% } -%>
<% if(data.fileName == "inquiry_template"){ -%>
        <link rel="canonical" href="https://www.life-escort.co.jp/form/inquiry_corp.php">
<% } -%>
        <link href="/css/corporate_site_style.css?<%= Math.random() %>" rel="stylesheet" type="text/css">
<% if(data.pageType == "index"){ %>
        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "name": "株式会社ライフエスコート",
          "url": "https://www.life-escort.co.jp/",
          "logo": "https://www.life-escort.co.jp/img/top_footerlogo.gif",
          "email": "contact@life-escort.co.jp",
          "member": "29",
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+81-3-5765-6960",
            "contactType": "sales contact point",
            "areaServed": "JP",
            "availableLanguage": "Japanese"
            },
          "location": {
            "@type": "Place",
            "@id": "https://www.life-escort.co.jp/",
            "name": "株式会社ライフエスコート",
            "address": {
              "@type": "PostalAddress",
              "addressCountry": "JP",
              "postalCode": "105-0014",
              "addressRegion": "東京都",
              "addressLocality": "港区",
              "streetAddress": "芝1-14-11芝明月ビル6階"
              }
            }
        }
    </script>
<% } -%>
    </head>
    <body>
<%- include('header_main-code.ejs',pageInfo) %>
<% if(data.pageType == "index"){ %>
        <article id="contentsbody" class="top">
<% }else if(data.pageType == "page"){ %>
    <% if(data.fileName == "404"){ %>
        <div id="keyVisual" class="page404">
            <div class="keyVisualinner">
                <h1>ページが見つかりませんでした。<small>404 Not Found</small></h1>
                <img class="plane" src="/img/top_view_airship.png" alt="">
            </div>
            <img class="animate" src="/img/top_keyvisual_animate.gif" alt="">
            <img class="hand" src="/img/top_view_hand.png" alt="">
        </div>
    <% } %>
        <article id="contentsbody">
            <div id="inner">
<% }else if(data.pageType == "jirei"||data.pageType == "news"||data.pageType == "single"){ %>
        <article id="contentsbody">
            <div id="single-article">
<% } %>
