<div class="header">
    <p class="return">お問い合わせいただきまして有難うございました。</p>
    <p class="description">ご入力いただいたお客様のメールアドレスに受信確認のための自動返信メールが送信されます。<br>
        返信メールが届かない場合は、お問い合わせが正しく送信されていない、<br>
        または迷惑メールフォルダに振り分けられている可能性もございますので、<br>
        お手数ですが、ご確認をお願いいたします。</p>
    <p>お問い合わせいただいた内容に関しましては、後程、担当者よりご連絡を差し上げます。</p>
</div>
<div class="header">
    <p class="description">内容を確認して「送信する」をクリックしてください。</p>
</div>
<form id="LE_FROM" action="/form/inquiry.php?id=ec" method="post" class="confirm">
    <div class="input_item_list">
      <p class="question">■会社名</p>
      <div class="answer">
        <p class="summary">ツー・ファイブ</p>
      </div><!--answer-->
    </div>
    <div class="input_item_list">
      <p class="question">■部署名</p>
        <div class="answer">
			<p class="summary"></p>
      </div><!--answer-->
    </div>
    <div class="input_item_list">
      <p class="question">■役職</p>
        <div class="answer">
			<p class="summary"></p>
      </div><!--answer-->
    </div>
    <div class="input_item_list">
      <p class="question">■氏名</p>
        <div class="answer">
			<p class="summary">行俊勝規</p>
      </div><!--answer-->
    </div>

    <!--question-->
    <div class="input_item_list">
      <p class="question">■ふりがな</p>
      <div class="answer">
        <p class="summary">ユキトシマサノリ</p>
      </div><!--answer-->
    </div>

    <!--question-->
    <div class="input_item_list">
      <p class="question">■電話番号</p>
      <div class="answer">
        <p class="summary">0354083515</p>
      </div><!--answer-->
    </div>

    <!--question-->
    <div class="input_item_list">
      <p class="question">■メールアドレス</p>
      <div class="answer">
        <p class="summary">yukitoshi@two-five.co.jp</p>
      </div><!--answer-->
    </div>

    <!--question-->
    <div class="input_item_list">
      <p class="question">■お問い合わせ内容</p>
      <div class="answer">
        <p class="summary">デストです</p>
      </div><!--answer-->
    </div>
    <input type="hidden" name="mode" value="">
    <input type="hidden" name="kaisya_mei" value="ツー・ファイブ">
    <input type="hidden" name="busyo_mei" value="">
    <input type="hidden" name="yakusyoku" value="">
    <input type="hidden" name="name" value="行俊勝規">
    <input type="hidden" name="hurigana" value="ユキトシマサノリ">
    <input type="hidden" name="tel" value="0354083515">
    <input type="hidden" name="mail" value="yukitoshi@two-five.co.jp">
    <input type="hidden" name="message" value="デストです">
    <input type="hidden" name="privacy_policy" value="1">
    <div class="input_submit">
    <p class="error"></p>
      <input type="button" class="button" onclick="return sumbit_form('re_input');" value="　内容を修正する　">
      <input type="button" class="button" onclick="return sumbit_form('complete');" value=" 送信する ">
    </div>
    <div class="input_item_list">
      <div class="answer"></div>
    </div>
</form>




  <div class="header">
    <p class="description">担当者より、72時間以内にご返信させていただきます。<br />
   〔お問合せが休日（土・日・祝）の場合翌営業日の受付となります〕<br />
  </p>

  </div>
  <form id="LE_FROM" action="/form/inquiry.php?id=sasage" method="post">
    <input type="hidden" name="mode" value="input" />

    <div class="input_item_list">
      <p class="question">会社名
        <span class="required_color">※必須</span>
      </p>
      <div class="answer">
        <p class="summary"></p>
        <p class="error"></p>
        <p class="form">
          <input class="form-control validate[required]" type="text" size="40" id="kaisya_mei" name="kaisya_mei" value="" />
        </p>
        <p class="notice">会社以外の場合は、『その他』と入力してください。</p>
        <p class="example"></p>
      </div>
      <!--answer-->
    </div>

    <div class="input_item_list">
      <p class="question">部署名</p>
      <div class="answer">
        <p class="summary"></p>
        <p class="error"></p>
        <p class="form">
          <input type="text" size="40" id="busyo_mei" name="busyo_mei" value="" />
        </p>
        <p class="notice"></p>
        <p class="example"></p>
      </div>
      <!--answer-->
    </div>

    <div class="input_item_list">
      <p class="question">役職</p>
      <div class="answer">
        <p class="summary"></p>
        <p class="error"></p>
        <p class="form">
          <input type="text" size="40" id="yakusyoku" name="yakusyoku" value="" />
        </p>
        <p class="notice"></p>
        <p class="example"></p>
      </div>
      <!--answer-->
    </div>

    <div class="input_item_list">
      <p class="question">氏名
        <span class="required_color">※必須</span>
      </p>
      <div class="answer">
        <p class="summary"></p>
        <p class="error"></p>
        <p class="form">
          <input class="form-control validate[required]" type="text" size="40" id="name" name="name" value="" />
        </p>
        <p class="notice"></p>
        <p class="example"></p>
      </div>
      <!--answer-->
    </div>

    <div class="input_item_list">
      <p class="question">フリガナ
        <span class="required_color">※必須</span>
      </p>
      <div class="answer">
        <p class="summary"></p>
        <p class="error"></p>
        <p class="form">
          <input class="form-control validate[required,custom[katakana]]" type="text" size="40" id="hurigana" name="hurigana" value="" />
        </p>
        <p class="notice"></p>
        <p class="example"></p>
      </div>
      <!--answer-->
    </div>

    <div class="input_item_list">
      <p class="question">電話番号
        <span class="required_color">※必須</span>
      </p>
      <div class="answer">
        <p class="summary"></p>
        <p class="error"></p>
        <p class="form">
          <input class="form-control validate[required,custom[onlyNumberSp]]" type="text" size="20" id="tel" name="tel" value="" placeholder="例）0357656960" />
        </p>
        <p class="notice"></p>
        <p class="example"></p>
      </div>
      <!--answer-->
    </div>

    <div class="input_item_list">
      <p class="question">メールアドレス
        <span class="required_color">※必須</span>
      </p>
      <div class="answer">
        <p class="summary"></p>
        <p class="error"></p>
        <p class="form">
          <input class="form-control validate[required,custom[email]]" type="text" size="40" id="mail" name="mail" value="" />
        </p>
        <p class="notice"></p>
        <p class="example"></p>
      </div>
      <!--answer-->
    </div>


    <div class="input_item_list">
        <p class="question">ご興味のある項目および資料請求されたい項目をお選び下さい。
            <span class="required_color">※必須</span>
        </p>
        <div class="answer">
            <p class="summary"></p>
            <p class="error"></p>
            <p class="form checkboxes">
                <label><input type="checkbox" name="services[]" value="svs01" />ECコンサル</label><br />
                <label><input type="checkbox" name="services[]" value="svs02" />EC運用全般（制作物・メルマガ）</label><br />
                <label><input type="checkbox" name="services[]" value="svs03" />EC商品登録（原稿作成）</label><br />
                <label><input type="checkbox" name="services[]" value="svs04" />ECモール出店・リニューアル・運用</label><br />
                <label><input type="checkbox" name="services[]" value="svs05" />ECシステム相談・開発</label><br />
                <label><input type="checkbox" name="services[]" value="svs06" />EC業務最適化</label><br />
                <label><input type="checkbox" name="services[]" value="svs07" />ECコスト最適化</label><br />
                <label><input type="checkbox" name="services[]" value="svs08" />ECコールセンター</label><br />
                <label><input type="checkbox" name="services[]" value="svs09" />撮影代行</label><br />
                <label><input type="checkbox" name="services[]" value="svs10" />動画サービス</label><br />
                <label><input type="checkbox" name="services[]" value="svs11" />商品採寸サービス</label><br />
                <label><input type="checkbox" name="services[]" value="svs12" />LINE運用サポート</label><br />
                <label><input type="checkbox" name="services[]" value="svs13" />その他</label><br />
            </p>
            <p class="notice"></p>
            <p class="example"></p>
        </div>
        <!--answer-->
    </div>

    <div class="input_item_list">
      <p class="question">お問い合わせ内容 </p>
      <div class="answer">
          <p class="summary"><span>現在お困りのことや相談されたいことがあれば簡単にご入力ください。</span></p>
        <p class="error"></p>
        <p class="form">
          <textarea id="message" name="message" cols="50" rows="10" ></textarea>
        </p>
        <p class="notice"></p>
        <p class="example"></p>
      </div>
      <!--answer-->
    </div>

    <div class="input_item_list">
      <p class="question">プライバシーポリシーへの同意 <span class="required_color">※必須</span></p>
      <div class="answer">
          <p class="summary"><span><a href="#">プライバシーポリシーを開く</a></span></p>
        <p class="error"></p>
        <p class="form">
          <label><input class="form-control validate[required]" data-errormessage-value-missing="* プライバシーポリシーに同意してください" type="checkbox" name="privacy_policy" value="1"  >プライバシーポリシーに同意</label><br>
        </p>
        <p class="notice"></p>
        <p class="example"></p>
      </div>
      <!--answer-->
    </div>

    <!--question-->
    <div class="input_submit">
        <p class="error"></p>
      <input type="submit" class="button" value="　確認画面へ　" />
      <input type="reset" class="button" value="リセット">
    </div>
    <div class="input_item_list">
      <div class="answer"></div>
    </div>
  </form>
