<div id="slider2">
    <dl>
        <dd class="icon">CASE<small>01</small></dd>
        <dt><span>コンサル＆サポート</span></dt>
        <dd class="photo">
            <a href="/works_mh_line.html">
                <img src="/img/top_slider2_mh_line_off.jpg" alt="マックハウス様LINE公式アカウント">
                <img class="hover" src="/img/top_slider2_mh_line_on.jpg" alt="マックハウス様LINE公式アカウント">
            </a>
        </dd>
        <dd>株式会社マックハウス様<br>LINE公式アカウント</dd>
        <dd class="linkbtn"><a href="https://line.me/ti/p/%40mac-house" target="_blank">mac-house〔LINE ID: @mac-house〕</a></dd>
    </dl>
    <dl>
        <dd class="icon">CASE<small>02</small></dd>
        <dt><span>コンサル＆サポート</span></dt>
        <dd class="photo">
            <a href="https://www.mac-house.co.jp/" target="_blank">
                <img src="/img/top_slider2_mh_corp_off.jpg" alt="マックハウス様公式サイト">
                <img class="hover" src="/img/top_slider2_mh_corp_on.jpg" alt="マックハウス様公式サイト">
            </a>
        </dd>
        <dd>株式会社マックハウス様<br>公式サイト</dd>
        <dd class="linkbtn"><a href="https://www.mac-house.co.jp/" target="_blank">https://www.mac-house.co.jp/</a></dd>
    </dl>
    <dl>
        <dd class="icon">CASE<small>03</small></dd>
        <dt><span>ECコンサル＆サポート</span></dt>
        <dd class="photo">
            <a href="/works_mh_ecsupport.html">
                <img src="/img/top_slider2_mh_store_off.jpg" alt="マックハウス様オンラインショップ">
                <img class="hover" src="/img/top_slider2_mh_store_on.jpg" alt="マックハウス様オンラインショップ">
            </a>
        </dd>
        <dd>株式会社マックハウス様<br>オンラインショップ</dd>
        <dd class="linkbtn"><a href="http://store.mac-house.co.jp/" target="_blank">http://store.mac-house.co.jp/</a></dd>
    </dl>
    <dl>
        <dd class="icon">CASE<small>04</small></dd>
        <dt><span>企画ページ制作＆システム提供</span></dt>
        <dd class="photo">
            <a href="https://neko.mac-house.co.jp/" target="_blank">
                <img src="/img/top_slider2_iyashineko_off.jpg" alt="いやしネコ大賞">
                <img class="hover" src="/img/top_slider2_iyashineko_on.jpg" alt="いやしネコ大賞">
            </a>
        </dd>
        <dd>いやしネコ大賞</dd>
        <dd class="linkbtn"><a href="https://neko.mac-house.co.jp/" target="_blank">https://neko.mac-house.co.jp/</a></dd>
    </dl>
    <dl>
        <dd class="icon">CASE<small>05</small></dd>
        <dt><span>ECコンサル＆サポート</span></dt>
        <dd class="photo">
            <a href="http://store.chiyodagrp.co.jp/" target="_blank">
                <img src="/img/top_slider2_shoeplaza_off.jpg" alt="チヨダオンラインショップ">
                <img class="hover" src="/img/top_slider2_shoeplaza_on.jpg" alt="チヨダオンラインショップ">
            </a>
        </dd>
        <dd>東証一部上場株式会社チヨダ様<br>チヨダオンラインショップ</dd>
        <dd class="linkbtn"><a href="http://store.chiyodagrp.co.jp/" target="_blank">http://store.chiyodagrp.co.jp/</a></dd>
    </dl>
    <dl>
        <dd class="icon">CASE<small>06</small></dd>
        <dt><span>ECコンサル＆サポート</span></dt>
        <dd class="photo">
            <a href="http://www.chiyodagrp.co.jp/">
                <img src="/img/top_slider2_04.jpg" alt="株式会社チヨダ様">
            </a>
        </dd>
        <dd>株式会社チヨダ様</dd>
        <dd class="linkbtn"><a href="http://www.chiyodagrp.co.jp/">http://www.chiyodagrp.co.jp/</a></dd>
    </dl>
    <dl>
        <dd class="icon">CASE<small>07</small></dd>
        <dt><span>システム開発</span></dt>
        <dd class="photo">
            <a href="/works_cyd_example02.html">
                <img src="/img/top_slider2_05.jpg" alt="「株式会社チヨダ様」店舗検索ページ">
            </a>
        </dd>
        <dd>株式会社チヨダ様<br>店舗検索ページ</dd>
        <dd class="linkbtn"><a href="http://www.chiyodagrp.co.jp/search/">http://www.chiyodagrp.co.jp/search/</a></dd>
    </dl>
    <dl>
        <dd class="icon">CASE<small>08</small></dd>
        <dt><span>治療院事業</span></dt>
        <dd class="photo">
            <a href="http://www.lin-shinkyuin.jp/">
                <img src="/img/top_slider2_02.jpg" alt="大阪梅田にある林鍼灸院">
            </a>
        </dd>
        <dd>大阪梅田にある林鍼灸院</dd>
        <dd class="linkbtn"><a href="http://www.lin-shinkyuin.jp/">http://www.lin-shinkyuin.jp/</a></dd>
    </dl>
    <dl>
        <dd class="icon">CASE<small>09</small></dd>
        <dt><span>治療院事業</span></dt>
        <dd class="photo">
            <a href="http://tannowa.e-chiryo.jp/">
                <img src="/img/top_slider2_03.jpg" alt="ニコニコ鍼灸整骨院 淡輪院">
            </a>
        </dd>
        <dd>ニコニコ鍼灸整骨院 淡輪院</dd>
        <dd class="linkbtn"><a href="http://tannowa.e-chiryo.jp/">http://tannowa.e-chiryo.jp/</a></dd>
    </dl>
</div>

<p class="btn"><a href="/works.html">すべての実績を見る</a></p>
