<dl>
    <dt>2018-01-26</dt>
    <dd><a href="/press-release_news04.html">「EC・IT活用支援パートナー制度」に登録</a></dd>
    <dt>2017-10-19</dt>
    <dd><a href="/press-release_news03.html">【日本ネット経済新聞】－大手を幅広くサポート サイト制作から受注・CS代行まで</a></dd>
    <dt>2017-08-17</dt>
    <dd><a href="/press-release_news02.html">LINE公式アカウントコンサル＆運用サービス開始</a></dd>
    <dt>2017-07-13</dt>
    <dd><a href="/press-release_news01.html">【日本ネット経済新聞】－幅広いメニューでサポート</a></dd>
</dl>
