<div id="slider1">
    <div class="window">
        <ul class="wrapper">
            <li><a href="https://www.line-consulting.com/"><img src="/img/top_slider1_line_consulting.png" alt="LINEコンサル＆運用代行"></a></li>
            <li><a href="/ec_photo/index.html"><img src="/img/top_slider1_01.png" alt="01　撮影代行"></a></li>
            <li><a href="/works.html"><img src="/img/top_slider1_03.png" alt="02　EC運営構築代行"></a></li>
            <li><a href="/smartphone/index.html"><img src="/img/top_slider1_02.png" alt="03　スマホサイト作成代行"></a></li>
            <li><a href="http://www.jikoten.jp/"><img src="/img/top_slider1_04.png" alt="04　メディア：ジコテン"></a></li>
            <li><a href="http://hp-chirouka.com/"><img src="/img/top_slider1_06.png" alt="05  鍼灸整骨院専門HP"></a></li>
            <li><a href="/contents/?cat=148"><img src="/img/top_slider1_05.png" alt="06　海外鍼灸情報提供"></a></li>
            <li><a href="/contents/?cat=427"><img src="/img/top_slider1_07.png" alt="07　鍼灸整骨院一日一英語"></a></li>
        </ul>
    </div>
    <ul class="navigation">
        <li><a href="">01　LINEコンサル</a></li>
        <li><a href="">02　撮影代行</a></li>
        <li><a href="">03　EC運営代行</a></li>
        <li><a href="">04　スマホサイト作成代行</a></li>
        <li><a href="">05　メディア：ジコテン</a></li>
        <li><a href="">06　鍼灸整骨院専門HP</a></li>
        <li><a href="">07　海外鍼灸情報提供</a></li>
        <li><a href="">08　鍼灸整骨院一日一英語</a></li>
    </ul>
    <ul class="control">
        <li><a class="prev" href=""></a></li>
        <li><a class="next" href=""></a></li>
    </ul>
</div>
