<% pageInfo = {
    data:{
        title:'お問合せ',
        description:'EC売上アップの戦略や分析、内製化の問い合わせは、EC専門コンサルティング会社のライフエスコートへ。',
        keywords:'EC,コンサル,コンサルティング,売上,戦略,分析,内製化,お問い合わせ',
        fileName:'inquiry_template',
        pageType:'page'
    }
}; %>
                        <p><a class="totop" href="">PAGE TOP</a></p>
                    </div>
                </div>

            </section>
<%- include('../include/footer.ejs',pageInfo) %>
