<% pageInfo = {
    data:{
        title:'お問合せ',
        description:'EC売上アップの戦略や分析、内製化の問い合わせは、EC専門コンサルティング会社のライフエスコートへ。',
        keywords:'EC,コンサル,コンサルティング,売上,戦略,分析,内製化,お問い合わせ',
        fileName:'inquiry_template',
        pageType:'page'
    }
}; %>
<%- include('../include/header.ejs',pageInfo) %>
                <nav id="left_contents">
                    <h1>お問い合わせ<small>CONTACT</small></h1>
                    <ul>
                        <li><a href="#contents_contact">01<strong>お問い合わせ</strong>CONTACT</a></li>
                        <!-- <li><a href="#contents_about">02<strong>会社の考え方</strong>ABOUT US</a></li>
                        <li><a href="#contents_profile">03<strong>代表プロフィール</strong>CEO PROFILE</a></li> -->
                    </ul>
                </nav>

                <section id="maincontents">
                    <div id="contents_contact" class="contents">
                        <h2><span class="ribon">01</span>お問い合わせ<small>CONTACT</small></h2>

						<div class="contactForm">
